<template>
  <div class="table-responsive">
  <div class="col-md-12">
    <section class="content-header">
      <h1>
        Laporan Pembayaran
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Laporan Pembayaran</a></li>
      </ol>
    </section>

    <div class="nav-tabs-custom" style="margin-top: 10px;">

      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Data Laporan Pembayaran</a></li>
        <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Filter Tanggal</a></li>

      </ul>

       <div class="tab-content">

          <div class="tab-pane active" id="tab_1">


              <v-client-table :data="pembayaran" :columns="columns" :options="options">

                <a slot="aksi" slot-scope="{row}" href="#" @click="">
                  <button class="btn btn-default">Aksi</button>
                </a>
                <p slot="jumlah" class="green text-uppercase" slot-scope="{row}">Rp {{row.jumlah | currency}}</p>
              </v-client-table>

              <div class="box-tools pull-left">
                <button class="btn btn-default" @click="ExportExcel">
                  <i class="fas fa-file-download black"></i> XLS
                </button>
                <button class="btn btn-default" @click="ExportExcel1">
                  <i class="fas fa-file-download black"></i> CSV
                </button>

              </div>

              <div class="box-footer text-center">

            </div>


          </div>

          <div class="tab-pane" id="tab_2">
           <form method="POST" @submit.prevent="loadSearch">

              <div class="col-md-12" style="margin-bottom: 20px">
                <div class="col-md-5">
                <label for="">Masukan Tanggal Awal</label>
                <input type="date" v-model="form.tgl1" name="tgl1" class="form-control">
                </div>

                <div class="col-md-5">
                <label for="">Masukan Tanggal Akhir</label>
                <input type="date" v-model="form.tgl2" name="tgl2" class="form-control">
                </div>

                <button style="margin-top: 25px" type="submit" name="submit" class="btn btn-primary btn-md">Cari</button>
                <br>
              </div>


          </form>


            <v-client-table :data="search.data" :columns="searchColumns" :options="searchOptions">

                <a slot="aksi" slot-scope="{row}" href="#" @click="">
                  <button class="btn btn-default">Aksi</button>
                </a>
                <p slot="jumlah" class="green text-uppercase" slot-scope="{row}">Rp {{row.jumlah | currency}}</p>
              </v-client-table>

              <!-- <div class="box-tools pull-left">
                <button class="btn btn-default" @click="ExportExcelFilter">
                  <i class="fas fa-file-download black"></i> XLS
                </button>
                <button class="btn btn-default" @click="ExportExcel1Filter">
                  <i class="fas fa-file-download black"></i> CSV
                </button>

              </div> -->

              <div class="box-footer text-center">

              </div>

          </div>

       </div>

    </div>


  </div>
</div>
</template>

<script>

  import JsonExcel from 'vue-json-excel';
  import axios from 'axios';
  Vue.component('downloadExcel', JsonExcel);

    export default {
      data(){
        return{

            pembayaran: [],
            search: {},
            tarif2: [],
            columns: [
                'no_kwitansi','no_pendaftaran','nama','kota',
                'nama_wilayah','nama_area','nama_subarea','created_at',
                'diterima','jumlah','cetak','dicetak_oleh',
            ],
            searchColumns: [
               'no_kwitansi','no_pendaftaran','nama','kota',
                'nama_wilayah','nama_area','nama_subarea','created_at',
                'diterima','jumlah','cetak','dicetak_oleh',
            ],
            options: {
              texts: {
                filterPlaceholder:"Cari data",
                filter:"Pencarian : ",
                filterBy:"Cari berdasarkan {column}",
                count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
              },
              headings: {
               
                no_kwitansi: 'No Kwitansi',
                no_pendaftaran: 'No Pendaftaran',
                nama: 'Nama',
                kota: 'Kota',
                nama_wilayah: 'Wilayah',
                nama_area: 'Area',
                nama_subarea: 'Sub Area',
                created_at: 'Tgl Pembayaran',
                diterima: 'Diterima Oleh',
                jumlah: 'Jml Bayar',
                cetak: 'Cetak Kwitansi',
                dicetak_oleh: 'Dicetak Oleh',

              },
              columnsClasses: {
                no_pendaftaran: 'style="width:100%"',
              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: { dropdown:false },
              columnsClasses: {
                aksi: 'h5 text-center',
                no_kwitansi: 'h5',
                no_pendaftaran: 'h5',
                nama: 'h5',
                kota: 'h5',
                nama_wilayah: 'h5',
                nama_area: 'h5',
                nama_subarea: 'h5',
                created_at: 'h5',
                diterima: 'h5',
                jumlah: 'h5',
                cetak: 'h5',
                dicetak_oleh: 'h5',
              },
              sortable: ['no_kwitansi','no_pendaftaran','nama','kota',
                'nama_wilayah','nama_area','nama_subarea','created_at',
                'diterima','jumlah','cetak','dicetak_oleh',],
              filterable: ['no_kwitansi','no_pendaftaran','nama','kota',
                'nama_wilayah','nama_area','nama_subarea','created_at',
                'diterima','jumlah','cetak','dicetak_oleh',],
            },
            searchOptions: {
              headings: {
                aksi: 'Aksi',
                no_kwitansi: 'No Kwitansi',
                no_pendaftaran: 'No Pendaftaran',
                nama: 'Nama',
                kota: 'Kota',
                nama_wilayah: 'Wilayah',
                nama_area: 'Area',
                nama_subarea: 'Sub Area',
                created_at: 'Tgl Pembayaran',
                diterima: 'Diterima Oleh',
                cetak: 'Cetak Kwitansi',
                dicetak_oleh: 'Dicetak Oleh',

              },
              columnsClasses: {
                no_pendaftaran: 'style="width:100%"',
              },
              sortable: ['no_kwitansi','no_pendaftaran','nama','kota',
                'nama_wilayah','nama_area','nama_subarea','created_at',
                'diterima','cetak','dicetak_oleh',],
              filterable: ['no_kwitansi','no_pendaftaran','nama','kota',
                'nama_wilayah','nama_area','nama_subarea','created_at',
                'diterima','cetak','dicetak_oleh',],
            },
            form : new Form({
              tgl1 : '',
              tgl2 : '',
            }),

        }
      },
      methods:{
        fetchData(){
          axios.get("api/lap-pembayaran").then(({data})=>(this.tarif2 = data));
        },
        getResults(page = 1) {
          axios.get('api/lap-pembayaran?page=' + page)
         .then(response => {
            this.pelanggan = response.data;
          });
        },
        loadSearch(){

            // const tanggalAwal = {
            //   tgl_awal : this.form.tgl1
            // }
            // const tanggalAkhir = {
            //   tgl_akhir : this.form.tgl2
            // }
            axios.get('/api/filter-tgl-pembayaran/'+this.form.tgl1+'/'+this.form.tgl2).then(response =>
              {this.search = response.data});
          },
        loadPembayaran(){
          axios.get("api/lap-pembayaran").then(({data}) => (this.pembayaran = data));
        },
        ExportExcel(){
          window.location.href = '/excel/lap-pembayaran/export/';

        },
        ExportExcel1(){
          window.location.href = '/excel/lap-pembayaran/export/csv/';

        },

      },
        created() {
         this.$Progress.start();
         this.loadPembayaran('');
         this.fetchData();
         this.$Progress.finish();
       }

    }
</script>
