<template>
  <div class="table-responsive">
  <div class="col-md-12">
    <section class="content-header">
      <h1>
        Laporan Pemeriksa
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Laporan Pemeriksa</a></li>
      </ol>
    </section>

    <div class="nav-tabs-custom" style="margin-top: 10px;">

      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Data Laporan Verifikasi</a></li>
        <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Filter Tanggal</a></li>

      </ul>

       <div class="tab-content">

          <div class="tab-pane active" id="tab_1">


              <v-client-table :data="pemeriksa" :columns="columns" :options="options">

                <a slot="aksi" slot-scope="{row}" href="#" @click="">
                  <button class="btn btn-default">Aksi</button>
                </a>

              </v-client-table>

              <div class="box-tools pull-left">
                <button class="btn btn-default" @click="ExportExcel">
                  <i class="fas fa-file-download black"></i> XLS
                </button>
                <button class="btn btn-default" @click="ExportExcel1">
                  <i class="fas fa-file-download black"></i> CSV
                </button>

              </div>

              <div class="box-footer text-center">

            </div>


          </div>

          <div class="tab-pane" id="tab_2">
           <form method="POST" @submit.prevent="loadSearch">

              <div class="col-md-12" style="margin-bottom: 20px">
                <div class="col-md-5">
                <label for="">Masukan Tanggal Awal</label>
                <input type="date" v-model="form.tgl1" name="tgl1" class="form-control">
                </div>

                <div class="col-md-5">
                <label for="">Masukan Tanggal Akhir</label>
                <input type="date" v-model="form.tgl2" name="tgl2" class="form-control">
                </div>

                <button style="margin-top: 25px" type="submit" name="submit" class="btn btn-primary btn-md">Cari</button>
                <br>
              </div>


          </form>


            <v-client-table :data="search.data" :columns="searchColumns" :options="searchOptions">

                <a slot="aksi" slot-scope="{row}" href="#" @click="">
                  <button class="btn btn-default">Aksi</button>
                </a>

              </v-client-table>

              <!-- <div class="box-tools pull-left">
                <button class="btn btn-default" @click="ExportExcelFilter">
                  <i class="fas fa-file-download black"></i> XLS
                </button>
                <button class="btn btn-default" @click="ExportExcel1Filter">
                  <i class="fas fa-file-download black"></i> CSV
                </button>

              </div> -->

              <div class="box-footer text-center">
                <pagination :data="search" @pagination-change-page="getResults"></pagination>

              </div>

          </div>

       </div>

    </div>


  </div>
</div>
</template>

<script>

    import JsonExcel from 'vue-json-excel';
    import axios from 'axios';
    Vue.component('downloadExcel', JsonExcel);

    export default {
        data(){
          return{
            pemeriksa: [],
            search: {},

            columns: [
           'no_kwitansi','no_pendaftaran','nama','alamat','daya','kota',
            'nama_wilayah','nama_area','nama_subarea','no_lhpp','tgl_lhpp','pemeriksa1',
            'pemeriksa2','tanggal_pembayaran','tgl_pemeriksaan'
            ],
            searchColumns: [
            'no_kwitansi','no_pendaftaran','nama','alamat','daya','kota',
            'nama_wilayah','nama_area','nama_subarea','no_lhpp','tgl_lhpp','pemeriksa1',
            'pemeriksa2','tanggal_pembayaran','tgl_pemeriksaan'
            ],
            options: {
              texts: {
                filterPlaceholder:"Cari data",
                filter:"Pencarian : ",
                filterBy:"Cari berdasarkan {column}",
                count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
              },
              headings: {
               
                no_kwitansi: 'No Kwitansi',
                no_pendaftaran: 'No Pendaftaran',
                nama: 'Nama',
                alamat: 'Alamat',
                daya: 'Daya',
                kota: 'Kota',
                nama_wilayah: 'Wilayah',
                nama_area: 'Area',
                nama_subarea: 'Sub Area',
                no_lhpp: 'No LHPP',
                tgl_lhpp: 'Tgl LHPP',
                pemeriksa1: 'Pemeriksa 1',
                pemeriksa2: 'Pemeriksa 2',
                tanggal_pembayaran: 'Tgl Pembayaran',
                tgl_pemeriksaan: 'Tgl Pemeriksaan',


              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: { dropdown:false },
              columnsClasses: {
                aksi: 'h5 text-center',
                no_kwitansi: 'h5',
                no_pendaftaran: 'h5',
                nama: 'h5',
                alamat: 'h5',
                daya: 'h5',
                kota: 'h5',
                nama_wilayah: 'h5',
                nama_area: 'h5',
                nama_subarea: 'h5',
                no_lhpp: 'h5',
                tgl_lhpp: 'h5',
                pemeriksa1: 'h5',
                pemeriksa2: 'h5',
                tanggal_pembayaran: 'h5',
                tgl_pemeriksaan: 'h5',
              },
              sortable: ['no_kwitansi','no_pendaftaran','nama','alamat','daya','kota',
            'nama_wilayah','nama_area','nama_subarea','no_lhpp','tgl_lhpp','pemeriksa1',
            'pemeriksa2','tanggal_pembayaran','tgl_pemeriksaan',],
              filterable: ['no_kwitansi','no_pendaftaran','nama','alamat','daya','kota',
            'nama_wilayah','nama_area','nama_subarea','no_lhpp','tgl_lhpp','pemeriksa1',
            'pemeriksa2','tanggal_pembayaran','tgl_pemeriksaan',],
            },
            searchOptions: {
              headings: {
                aksi: 'Aksi',
                no_kwitansi: 'No Kwitansi',
                no_pendaftaran: 'No Pendaftaran',
                nama: 'Nama',
                alamat: 'Alamat',
                daya: 'Daya',
                kota: 'Kota',
                nama_wilayah: 'Wilayah',
                nama_area: 'Area',
                nama_subarea: 'Sub Area',
                no_lhpp: 'No LHPP',
                tgl_lhpp: 'Tgl LHPP',
                pemeriksa1: 'Pemeriksa 1',
                pemeriksa2: 'Pemeriksa 2',
                tanggal_pembayaran: 'Tgl Pembayaran',
                tgl_pemeriksaan: 'Tgl Pemeriksaan',


              },
              columnsClasses: {
                no_pendaftaran: 'style="width:100%"',
              },
              sortable: ['no_kwitansi','no_pendaftaran','nama','alamat','daya','kota',
            'nama_wilayah','nama_area','nama_subarea','no_lhpp','tgl_lhpp','pemeriksa1',
            'pemeriksa2','tanggal_pembayaran','tgl_pemeriksaan',],
              filterable: ['no_kwitansi','no_pendaftaran','nama','alamat','daya','kota',
            'nama_wilayah','nama_area','nama_subarea','no_lhpp','tgl_lhpp','pemeriksa1',
            'pemeriksa2','tanggal_pembayaran','tgl_pemeriksaan',],
            },
            form : new Form({
              tgl1 : '',
              tgl2 : '',
            }),

          }
        },
        methods:{
          loadPeriksa(){
            axios.get("api/lap-pemeriksa").then(({data}) => (this.pemeriksa = data));
          },
          loadSearch(){

            // const tanggalAwal = {
            //   tgl_awal : this.form.tgl1
            // }
            // const tanggalAkhir = {
            //   tgl_akhir : this.form.tgl2
            // }
            axios.get('/api/filter-tgl-pemeriksa/'+this.form.tgl1+'/'+this.form.tgl2).then(response =>
              {this.search = response.data});
          },
           ExportExcel(){
            window.location.href = '/excel/lap-pemeriksa/export/';

          },
          ExportExcel1(){
            window.location.href = '/excel/lap-pemeriksa/export/csv/';

          },
        },
        created(){
         this.$Progress.start();
         this.loadPeriksa('');
         this.$Progress.finish();
        }
    }
</script>
