<template>
  <div class="table-responsive">
  <div class="col-md-12">
    <section class="content-header">
      <h1>
        Laporan Sertifikasi
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Laporan Sertifikasi</a></li>
      </ol>
    </section>

    <div class="nav-tabs-custom" style="margin-top: 10px;">

      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Data Laporan Verifikasi</a></li>
        <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Filter Tanggal</a></li>

      </ul>

       <div class="tab-content">

          <div class="tab-pane active" id="tab_1">


              <v-client-table :data="sertifikasi" :columns="columns" :options="options">

                <a slot="aksi" slot-scope="{row}" href="#" @click="">
                  <button class="btn btn-default">Aksi</button>
                </a>

              </v-client-table>

              <div class="box-tools pull-left">
                <button class="btn btn-default" @click="ExportExcel">
                  <i class="fas fa-file-download black"></i> XLS
                </button>
                <button class="btn btn-default" @click="ExportExcel1">
                  <i class="fas fa-file-download black"></i> CSV
                </button>

              </div>

              <div class="box-footer text-center">

              </div>


          </div>

          <div class="tab-pane" id="tab_2">
           <form method="POST" @submit.prevent="loadSearch">

              <div class="col-md-12" style="margin-bottom: 20px">
                <div class="col-md-5">
                <label for="">Masukan Tanggal Awal</label>
                <input type="date" v-model="form.tgl1" name="tgl1" class="form-control">
                </div>

                <div class="col-md-5">
                <label for="">Masukan Tanggal Akhir</label>
                <input type="date" v-model="form.tgl2" name="tgl2" class="form-control">
                </div>

                <button style="margin-top: 25px" type="submit" name="submit" class="btn btn-primary btn-md">Cari</button>
                <br>
              </div>


          </form>


            <v-client-table :data="search.data" :columns="searchColumns" :options="searchOptions">

                <a slot="aksi" slot-scope="{row}" href="#" @click="">
                  <button class="btn btn-default">Aksi</button>
                </a>

              </v-client-table>

              <!-- <div class="box-tools pull-left">
                <button class="btn btn-default" @click="ExportExcelFilter">
                  <i class="fas fa-file-download black"></i> XLS
                </button>
                <button class="btn btn-default" @click="ExportExcel1Filter">
                  <i class="fas fa-file-download black"></i> CSV
                </button>

              </div> -->

              <div class="box-footer text-center">
                <pagination :data="search" @pagination-change-page="getResults"></pagination>

              </div>

          </div>

       </div>

    </div>


  </div>
</div>
</template>

<script>

    import JsonExcel from 'vue-json-excel';
    import axios from 'axios';
    Vue.component('downloadExcel', JsonExcel);

    export default {
        data(){
          return{
              sertifikasi: {},
              search: {},

              columns : [
              'no_pendaftaran','nama','kota','nama_wilayah','nama_area','nama_subarea',
              'no_lhpp','nama_btl','no_seri','tgl_cetak','dicetak_oleh',
              ],
              searchColumns: [
             'no_pendaftaran','nama','kota','nama_wilayah','nama_area','nama_subarea',
              'no_lhpp','nama_btl','no_seri','tgl_cetak','dicetak_oleh',
              ],
            options: {
              texts: {
                filterPlaceholder:"Cari data",
                filter:"Pencarian : ",
                filterBy:"Cari berdasarkan {column}",
                count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
              },
              headings: {
                
                no_pendaftaran: 'No Pendaftaran',
                nama: 'Nama',
                kota: 'Kota',
                nama_wilayah: 'Wilayah',
                nama_area: 'Area',
                nama_subarea: 'Sub Area',
                no_lhpp: 'No LHPP',
                nama_btl: 'BTL',
                no_seri: 'No Seri',
                tgl_cetak: 'Tgl Cetak',
                dicetak_oleh: 'Dicetak Oleh',

              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: { dropdown:false },
              columnsClasses: {
                aksi: 'h5 text-center',
                no_pendaftaran: 'h5',
                nama: 'h5',
                kota: 'h5',
                nama_wilayah: 'h5',
                nama_area: 'h5',
                nama_subarea: 'h5',
                no_lhpp: 'h5',
                nama_btl: 'h5',
                no_seri: 'h5',
                tgl_cetak: 'h5',
                dicetak_oleh: 'h5',
              },
              sortable: ['no_pendaftaran','nama','kota','nama_wilayah','nama_area','nama_subarea',
              'no_lhpp','nama_btl','no_seri','tgl_cetak','dicetak_oleh',],
              filterable: ['no_pendaftaran','nama','kota','nama_wilayah','nama_area','nama_subarea',
              'no_lhpp','nama_btl','no_seri','tgl_cetak','dicetak_oleh',],
            },
            searchOptions: {
              headings: {
                aksi: 'Aksi',
                no_pendaftaran: 'No Pendaftaran',
                nama: 'Nama',
                kota: 'Kota',
                nama_wilayah: 'Wilayah',
                nama_area: 'Area',
                nama_subarea: 'Sub Area',
                no_lhpp: 'No LHPP',
                nama_btl: 'BTL',
                no_seri: 'No Seri',
                tgl_cetak: 'Tgl Cetak',
                dicetak_oleh: 'Dicetak Oleh',

              },
              columnsClasses: {
                no_pendaftaran: 'style="width:100%"',
              },
              sortable: ['no_pendaftaran','nama','kota','nama_wilayah','nama_area','nama_subarea',
              'no_lhpp','nama_btl','no_seri','tgl_cetak','dicetak_oleh',],
              filterable: ['no_pendaftaran','nama','kota','nama_wilayah','nama_area','nama_subarea',
              'no_lhpp','nama_btl','no_seri','tgl_cetak','dicetak_oleh',],
            },
            form : new Form({
              tgl1 : '',
              tgl2 : '',
            }),

          }
        },
        methods:{
          getResults(page = 1) {
            axios.get('api/sertif/sudah-terbit?page=' + page)
            .then(response => {
              this.pelanggan = response.data;
            });
          },
          loadSertif(){
            axios.get("api/sertif/sudah-terbit").then(({data}) => (this.sertifikasi = data));
          },
          loadSearch(){

            // const tanggalAwal = {
            //   tgl_awal : this.form.tgl1
            // }
            // const tanggalAkhir = {
            //   tgl_akhir : this.form.tgl2
            // }
            axios.get('/api/filter-tgl-sertif/'+this.form.tgl1+'/'+this.form.tgl2).then(response =>
              {this.search = response.data});
          },

           ExportExcel(){
            window.location.href = '/excel/lap-sertifikasi/export/';

          },
          ExportExcel1(){
            window.location.href = '/excel/lap-sertifikasi/export/csv/';

          },

        },
        created(){
         this.$Progress.start();
         this.loadSertif('');
         this.$Progress.finish();
        }
    }
</script>
