<template>
  <div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Asosiasi
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Master Data</a></li>
        <li><a href="#"> Asosiasi</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">

          <div class="box-tools pull-right">
            <button v-if="$gate.isAdminPusat()" class="btn btn-primary btn-sm" @click="newModal">Tambah<i class="fas fa-plus fa-fw"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-chevron-up"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="col-md-12">
            <v-client-table v-if="$gate.isAdminPusat()" :data="asosiasi" :columns="columns" :options="options">
              <a slot="edit" slot-scope="{row}" href="#" @click="editModal(row)">
              <i class="fa fa-edit blue"></i>
            </a>
              <a slot="hapus" slot-scope="{row}" href="#" @click="hapusAsosiasi(row.id)">
              <i class="fa fa-trash red"></i>
            </a>
            </v-client-table>
            <v-client-table v-if="!$gate.isAdminPusat()" :data="asosiasi" :columns="columnsAdmin" :options="options">
              <a slot="edit" slot-scope="{row}" href="#" @click="editModal(row)">
              <i class="fa fa-edit blue"></i>
            </a>
              <a slot="hapus" slot-scope="{row}" href="#" @click="hapusAsosiasi(row.id)">
              <i class="fa fa-trash red"></i>
            </a>
            </v-client-table>

          </div>
        </div>
        <!-- /.box-body -->
         <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
      <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 v-show="!editMode" class="modal-title" id="addNewLabel">Tambah Asosiasi</h5>
                    <h5 v-show="editMode" class="modal-title" id="addNewLabel">Ubah Asosiasi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                      <form @submit.prevent="editMode ? updateAsosiasi() : createAsosiasi()">
                      <div class="modal-body">
                        <div class="form-group">
                            <label for="">Nama Asosiasi</label>
                            <input v-model="form.nama_asosiasi" type="text" name="nama_asosiasi" class="form-control" :class="{ 'is-invalid': form.errors.has('nama_asosiasi') }" id="nama_asosiasi">
                            <has-error :form="form" field="nama_asosiasi"></has-error>
                        </div>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                        <button v-show="editMode" type="submit" class="btn btn-success">Ubah</button>
                        <button v-show="!editMode" type="submit" class="btn btn-primary">Simpan</button>
                      </div>
                      </form>
                </div>
               </div>
        </div>

    </div>
  </div>

</template>

<script>
    export default {
      data(){
        return {
          editMode: false,

          asosiasi: [],
          columns: ['edit','hapus','id','nama_asosiasi'],
          columnsAdmin: ['id','nama_asosiasi'],
          options: {
            texts: {
              filterPlaceholder:"Cari data",
              filter:"Pencarian : ",
              filterBy:"Cari berdasarkan {column}",
              count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
            },
            headings:{
              edit: 'Edit',
              hapus: 'Hapus',
              id: 'No',
              nama_asosiasi: 'Nama Asosiasi'
            },
            columnsDisplay: {},
            filterByColumn: true,
            pagination: { dropdown:false },
            columnsClasses: {
              edit: 'h5 text-center',
              hapus: 'h5 text-center',
              id: 'h5 text-center',
              nama_asosiasi: 'h5'
            },
            sortable: ['id','nama_asosiasi'],
            filterable: ['id','nama_asosiasi'],
          },
          form: new Form({
            id : '',
            nama_asosiasi : '',
          })

        }
      },
      methods : {
          newModal(){
            this.editMode = false;
            this.form.reset();
            $('#addNew').modal('show');
          },
          getResults(page = 1) {
            axios.get('api/asosiasi?page=' + page)
            .then(response => {
              this.asosiasi = response.data;
            });
          },
          createAsosiasi(){
            this.$Progress.start();

            this.form.post('api/asosiasi')
            .then(() => {
              Fire.$emit('AfterCreate');
              $('#addNew').modal('hide');
              swal(
                'Sukses!',
                'Data berhasil disimpan.',
                'success'
                )
              this.$Progress.finish();
            })
            .catch(() => {
              swal(
                'Gagal!',
                'Terjadi kesalahan',
                'warning'
                )
            })
          },
          updateAsosiasi(){
            this.$Progress.start();

            this.form.put('api/asosiasi/'+this.form.id)
            .then(() => {
              $('#addNew').modal('hide');
              swal(
                'Sukses!',
                'Data berhasil dirubah.',
                'success'
                )
              this.$Progress.finish();
              Fire.$emit('AfterCreate')
            }).catch(() => {

            });
          },
          hapusAsosiasi(id){
            swal({
              title: 'Anda yakin?',
              text: "Operasi ini tidak dapat dibatalkan!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Ya, hapus data!',
              cancelButtonText: 'Batal'
            }).then((result) => {

              if (result.value) {
                this.form.delete('api/asosiasi/'+id).then(() => {
                  swal(
                    'Dihapus!',
                    'Data berhasil dihapus.',
                    'success'
                    )
                  Fire.$emit('AfterCreate')
                }).catch(() => {
                  swal("Gagal!", "Terjadi kesalahan.",
                    "warning");
                });
              }

            })
          },
          editModal(asosiasi){
           this.editMode = true;
           this.form.reset();
           $('#addNew').modal('show');
           this.form.fill(asosiasi);
         },
          loadAsosiasi(){
            axios.get("api/asosiasi").then(({data})=>(this.asosiasi = data));
          }
      },
        created() {
          this.$Progress.start();
          this.loadAsosiasi('');
          Fire.$on('AfterCreate', () => {
            this.loadAsosiasi('');
          });
          this.$Progress.finish();
        }
    }
</script>
