<template>
  <div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Biro Tenaga Listrik
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Master Data</a></li>
        <li><a href="#"> Biro Tenaga Listrik</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>
          <div class="box-tools pull-right">
            <button v-if="$gate.isAdminPusat()" class="btn btn-primary btn-sm" @click="newModal">Tambah<i class="fas fa-plus fa-fw"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-chevron-up"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <div class="col-md-12">
            <v-client-table v-if="$gate.isAdminPusat()" :data="birolistrik" :columns="columns" :options="options">

                <a slot="edit" slot-scope="{row}" href="#" @click="editModal(row)">
                  <i class="fa fa-edit blue"></i>
                </a>
                <a slot="hapus" slot-scope="{row}" href="#" @click="hapusBtl(row.id)">
                  <i class="fa fa-trash red"></i>
                </a>

            </v-client-table>
            <v-client-table v-if="!$gate.isAdminPusat()" :data="birolistrik" :columns="columnsAdmin" :options="options">

            </v-client-table>

          </div>
        </div>
        <!-- /.box-body -->
         <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 v-show="!editMode" class="modal-title" id="addNewLabel">Tambah Biro Teknik Listrik</h5>
                    <h5 v-show="editMode" class="modal-title" id="addNewLabel">Ubah Biro Teknik Listrik</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                      <form @submit.prevent="editMode ? updateBtl() : createBtl()">
                      <div class="modal-body">
                        <div class="form-group">
                          <label for="">Provinsi</label><label for="" class="red">&nbsp; (*)</label>
                          <select @change="getWilayah() & getKota()" class="form-control" v-model="form.kode_prov" id="kode_prov" name="kode_prov">
                            <option v-for="prov in provinsi" :value="prov.kode_prov">{{prov.provinsi}}</option>
                          </select>
                        </div>
                        <div class="form-group">
                            <label for="">Wilayah</label>
                            <select @change="getArea()" v-model="form.id_kwilayah" name="id_kwilayah" id="id_wilayah" class="form-control" :class="{ 'is-invalid': form.errors.has('id_kwilayah') }">
                                <option v-for="kantor in wilayah" :value="kantor.id">{{ kantor.nama_wilayah }}</option>
                            </select>
                            <has-error :form="form" field="id_kwilayah"></has-error>
                        </div>
                        <div class="form-group">
                          <label for="">Kota</label><label for="" class="red">&nbsp; (*)</label>
                          <select :disabled="kota.length == 0" v-model="form.kode_kota" name="kode_kota" id="kode_kota" class="form-control">
                            <option v-for="kt in kota" :value="kt.kode_kota">{{kt.kota}}</option>
                          </select>
                          <has-error :form="form" field="kode_kota"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Nama Biro</label>
                            <input v-model="form.nama_btl" type="text" name="nama_btl" class="form-control" :class="{ 'is-invalid': form.errors.has('nama_btl') }" id="nama_btl">
                            <has-error :form="form" field="nama_btl"></has-error>
                        </div>

                        <div class="form-group">
                            <label for="">Alamat</label>
                            <input v-model="form.alamat" type="text" name="alamat" class="form-control" :class="{ 'is-invalid': form.errors.has('alamat') }" id="alamat">
                            <has-error :form="form" field="alamat"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input v-model="form.email" type="email" name="email" class="form-control" :class="{ 'is-invalid': form.errors.has('email') }" id="email">
                            <has-error :form="form" field="email"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">No Telepon</label>
                            <input v-model="form.telp" type="text" name="telp" class="form-control" :class="{ 'is-invalid': form.errors.has('telp') }" id="telp">
                            <has-error :form="form" field="telp"></has-error>
                        </div>



                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                        <button v-show="editMode" type="submit" class="btn btn-success">Ubah</button>
                        <button v-show="!editMode" type="submit" class="btn btn-primary">Simpan</button>
                      </div>
                      </form>
                </div>
               </div>
        </div>

    </div>
  </div>

</template>


<script>
    export default {
        data(){
          return {
            editMode: false,
            birolistrik: [],
            columns: [
              'edit','hapus','id','nama_btl','wilayah.nama_wilayah','kota.kota','alamat','email','telp'
            ],
            columnsAdmin: [
              'id','nama_btl','wilayah.nama_wilayah','kota.kota','alamat','email','telp'
            ],
            options: {
              texts: {
                filterPlaceholder:"Cari data",
                filter:"Pencarian : ",
                filterBy:"Cari berdasarkan {column}",
                count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
              },
              headings: {
                edit: 'Edit',
                hapus: 'Hapus',
                id: 'No',
                nama_btl: 'Nama Biro',
                'wilayah.nama_wilayah': 'Wilayah',
                'kota.kota': 'Kota',
                alamat: 'Alamat',
                'email': 'Email',
                'telp' : 'Telepon'
              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: { dropdown:false },
              columnsClasses: {
                edit: 'h5 text-center',
                hapus: 'h5 text-center',
                id: 'h5 text-center',
                nama_btl: 'h5',
                'wilayah.nama_wilayah': 'h5',
                'kota.kota': 'h5',
                alamat: 'h5',
                'email': 'h5',
                'telp': 'h5',
              },
              sortable: ['kodefikasi','nama_btl','wilayah.nama_wilayah','kota.kota','alamat','email','telp'],
              filterable: ['kodefikasi','nama_btl','wilayah.nama_wilayah','kota.kota','alamat','email','telp'],
            },
            form: new Form({
              id : '',
              kode_prov : '',
              nama_btl : '',
              id_kwilayah : '',
              kode_kota : '',
              alamat : '',
              email : '',
              telp : '',
              status : '',
            }),

            wilayah: {},
            asosiasi: {},
            area: {},
            kota: {},
            provinsi: {},
          }
        },
        methods: {
          getKota(){
            this.kota = [];

            const params = {
              kode_prov : this.form.kode_prov
            }

            axios.get('api/data-kotaprov', {params}).then(response => {
              this.kota = response.data;
            });
          },
          getProvinsi(){
            this.provinsi = [];

            // const params = {
            //   id_kwilayah : this.form.id_kwilayah
            // }

            axios.get('/api/data-provwilayah').then(response => {
              this.provinsi = response.data;
            });
          },
          getResults(page = 1) {
            axios.get('api/btl?page=' + page)
            .then(response => {
              this.birolistrik = response.data;
            });
          },
          hapusBtl(id){
                swal({
                title: 'Anda yakin?',
                text: "Operasi ini tidak dapat dibatalkan!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya, hapus data!',
                cancelButtonText: 'Batal'
              }).then((result) => {

                  if (result.value) {
                    this.form.delete('api/btl/'+id).then(() => {
                      swal(
                        'Dihapus!',
                        'Data berhasil dihapus.',
                        'success'
                        )
                      Fire.$emit('AfterCreate')
                    }).catch(() => {
                      swal("Gagal!", "Terjadi kesalahan.",
                        "warning");
                    });
                  }
              })
            },
          updateBtl(){
            this.$Progress.start();

            this.form.put('api/btl/'+this.form.id)
            .then(() => {
              $('#addNew').modal('hide');
              swal(
                'Sukses!',
                'Data berhasil dirubah.',
                'success'
                )
              this.$Progress.finish();
              Fire.$emit('AfterCreate')
            }).catch(() => {

            });
          },
          editModal(asosiasi){
                this.editMode = true;
                this.form.reset();
                this.getProvinsi();
                
                this.loadWilayah();
                this.loadAsosiasi();
                $('#addNew').modal('show');
                this.form.fill(asosiasi);
                console.log(asosiasi);
                this.form.kode_prov = asosiasi.wilayah.kode_prov;

                 this.kota = [];

                const params = {
                  kode_prov : this.form.kode_prov
                }

                axios.get('api/data-kotaprov', {params}).then(response => {
                  this.kota = response.data;
                  this.form.kode_kota = asosiasi.kode_kota;
                });
                
          },
          createBtl(){
            console.log('simpan');
            this.$Progress.start();
            this.form.post('api/btl')
            .then(() => {
              
              Fire.$emit('AfterCreate');
              $('#addNew').modal('hide');
              swal(
                'Sukses!',
                'Data berhasil disimpan.',
                'success'
                )
              this.$Progress.finish();
            })
            .catch(() => {
              swal(
                'Gagal!',
                'Terjadi kesalahan',
                'warning'
                )
            })
          },
          getArea(){
            this.area = [];
            this.form.id_karea = '';

            const params = {
              id_kwilayah : this.form.id_kwilayah
            }

            axios.get('api/load-area', {params}).then(response => {
              this.area = response.data;
            });
          },
          getWilayah(){
            this.wilayah = [];

            const params = {
              kode_prov : this.form.kode_prov
            }

            axios.get('api/get-kanwil', {params}).then(response => {
              this.wilayah = response.data;
            })
          },
          newModal(){
            this.editMode = false;
            this.form.reset();
            // this.loadWilayah();
            this.getProvinsi();
            this.loadAsosiasi();
            $('#addNew').modal('show');
          },
          loadAsosiasi(){
            axios.get("api/data-asosiasi").then(({data}) => (this.asosiasi = data.data))
          },
          loadWilayah(){
            // axios.get("api/data-wilayah").then(({data}) => (this.wilayah = data.data))
            axios.get("api/data-wilayah").then(({data}) => (this.wilayah = data));
          },
          loadBtl(){
            axios.get("api/btl").then(({data}) => (this.birolistrik = data));
          },
        },
        created() {
         this.$Progress.start();
         this.loadBtl('');
         Fire.$on('AfterCreate', () => {
          this.loadBtl('');
          });
         this.$Progress.finish();
       }
    }
</script>
