<template>
  <div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Daya
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Master Data</a></li>
        <li><a href="#"> Daya</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>

          <div class="box-tools pull-right">
            <button v-if="$gate.isAdminPusat()" class="btn btn-primary btn-sm" @click="newModal">Tambah<i class="fas fa-plus fa-fw"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-chevron-up"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="col-md-12">
            <v-client-table v-if="$gate.isAdminPusat()" :data="daya" :columns="columns" :options="options">
              <a slot="edit" slot-scope="{row}" href="#" @click="editModal(row)">
                <i class="fa fa-edit blue"></i>
              </a>
              <a slot="hapus" slot-scope="{row}" href="#" @click="hapusDaya(row.id)">
                <i class="fa fa-trash red"></i>
              </a>
              <p slot="total" class="green text-uppercase" slot-scope="{row}">Rp. {{row.total | currency}}</p>
            </v-client-table>
            <v-client-table v-if="!$gate.isAdminPusat()" :data="daya" :columns="columnsAdmin" :options="options">
              <a slot="edit" slot-scope="{row}" href="#" @click="editModal(row)">
                <i class="fa fa-edit blue"></i>
              </a>
              <a slot="hapus" slot-scope="{row}" href="#" @click="hapusDaya(row.id)">
                <i class="fa fa-trash red"></i>
              </a>
              <p slot="total" class="green text-uppercase" slot-scope="{row}">Rp {{row.total | currency}}</p>
            </v-client-table>

          </div>
        </div>
        <!-- /.box-body -->
         <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 v-show="!editMode" class="modal-title" id="addNewLabel">Tambah Daya</h5>
                    <h5 v-show="editMode" class="modal-title" id="addNewLabel">Ubah Daya</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                      <form @submit.prevent="editMode ? updateDaya() : createDaya()">
                      <div class="modal-body">
                        <div class="form-group">
                            <label for="">Daya</label>
                            <input v-model="form.daya" type="text" name="daya" class="form-control" :class="{ 'is-invalid': form.errors.has('daya') }" id="daya">
                            <has-error :form="form" field="daya"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Jenis Fasa</label>
                            <input v-model="form.jenis_fasa" type="text" name="jenis_fasa" class="form-control" :class="{ 'is-invalid': form.errors.has('jenis_fasa') }" id="jenis_fasa">
                            <has-error :form="form" field="jenis_fasa"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Harga</label>
                            <money v-model="form.harga" v-bind="money" type="text" name="harga" class="form-control" :class="{ 'is-invalid': form.errors.has('harga') }" id="harga"></money>
                            <has-error :form="form" field="harga"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Biaya</label>
                            <money v-model="form.biaya" v-bind="money" type="text" name="biaya" class="form-control" :class="{ 'is-invalid': form.errors.has('biaya') }" id="biaya"></money>
                            <has-error :form="form" field="biaya"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">PPN</label>
                            <money v-model="form.ppn" v-bind="money" type="text" name="ppn" class="form-control" :class="{ 'is-invalid': form.errors.has('ppn') }" id="ppn"></money>
                            <has-error :form="form" field="ppn"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Total</label>
                            <money v-model="form.total" v-bind="money" type="text" name="total" class="form-control" :class="{ 'is-invalid': form.errors.has('total') }" id="total"></money>
                            <has-error :form="form" field="total"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Terbilang</label>
                            <input v-model="form.terbilang" type="text" name="terbilang" class="form-control" :class="{ 'is-invalid': form.errors.has('terbilang') }" id="terbilang">
                            <has-error :form="form" field="terbilang"></has-error>
                        </div>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                        <button v-show="editMode" type="submit" class="btn btn-success">Ubah</button>
                        <button v-show="!editMode" type="submit" class="btn btn-primary">Simpan</button>
                      </div>
                      </form>
                </div>
               </div>
        </div>

    </div>
  </div>

</template>

<script>
     export default {
      data(){
        return {
          editMode: false,

          daya: [],
          columns: ['edit', 'hapus', 'id','daya', 'jenis_fasa', 'harga', 'biaya', 'ppn', 'total', 'terbilang'],
          columnsAdmin: ['id','daya', 'jenis_fasa', 'harga', 'biaya', 'ppn', 'total', 'terbilang'],
          options: {
            texts: {
              filterPlaceholder:"Cari data",
              filter:"Pencarian : ",
              filterBy:"Cari berdasarkan {column}",
              count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
            },
            headings:{
                edit : 'Edit',
                hapus : 'Hapus',
                id : 'No',
                daya : 'Daya',
                jenis_fasa : 'Jenis Fasa',
                harga : 'Harga per-VA',
                biaya : 'Biaya',
                ppn : 'PPN',
                total : 'Total',
                terbilang : 'Terbilang'
            },
            columnsDisplay: {},
            filterByColumn: true,
            pagination: { dropdown:false },
            columnsClasses: {
              edit: 'h5 text-center',
              hapus: 'h5 text-center',
              id : 'h5 text-center',
              daya : 'h5',
              jenis_fasa : 'h5',
              harga : 'h5',
              biaya : 'h5',
              ppn : 'h5',
              total : 'h5',
              terbilang : 'h5'
            },
            sortable : ['daya', 'jenis_fasa', 'harga', 'biaya', 'ppn', 'total', 'terbilang'],
            filterable : ['daya', 'jenis_fasa', 'harga', 'biaya', 'ppn', 'total', 'terbilang'],
          },
          form : new Form({
              id : '',
              daya : '',
              jenis_fasa : '',
              harga : '0',
              biaya : '0',
              ppn : '0',
              total : '0',
              terbilang : '',
          }),
          money : {
              decimal: ',',
              thousands: '.',
              prefix: 'Rp ',
              suffix: '',
              precision: 0,
              masked: false
          }

        }
      },
      methods : {
          newModal(){
            this.editMode = false;
            this.form.reset();
            $('#addNew').modal('show');
          },
          getResults(page = 1) {
            axios.get('api/daya?page=' + page)
            .then(response => {
              this.daya = response.data;
              
            });
          },
          createDaya(){
            this.$Progress.start();

            this.form.post('api/daya')
            .then(() => {
              Fire.$emit('AfterCreate');
              $('#addNew').modal('hide');
              swal(
                'Sukses!',
                'Data berhasil disimpan.',
                'success'
                )
              this.$Progress.finish();
            })
            .catch(() => {
              swal(
                'Gagal!',
                'Terjadi kesalahan',
                'warning'
                )
            })
          },
          updateDaya(){
            this.$Progress.start();

            this.form.put('api/daya/'+this.form.id)
            .then(() => {
              $('#addNew').modal('hide');
              swal(
                'Sukses!',
                'Data berhasil dirubah.',
                'success'
                )
              this.$Progress.finish();
              Fire.$emit('AfterCreate')
            }).catch(() => {

            });
          },
          hapusDaya(id){
            swal({
              title: 'Anda yakin?',
              text: "Operasi ini tidak dapat dibatalkan!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Ya, hapus data!',
              cancelButtonText: 'Batal'
            }).then((result) => {

              if (result.value) {
                this.form.delete('api/daya/'+id).then(() => {
                  swal(
                    'Dihapus!',
                    'Data berhasil dihapus.',
                    'success'
                    )
                  Fire.$emit('AfterCreate')
                }).catch(() => {
                  swal("Gagal!", "Terjadi kesalahan.",
                    "warning");
                });
              }

            })
          },
          editModal(daya){
           this.editMode = true;
           this.form.reset();
           $('#addNew').modal('show');
           this.form.fill(daya);
         },
          loadDaya(){
            axios.get("api/daya").then(({data})=>(this.daya = data));
          }
      },
        created() {
          this.$Progress.start();
          this.loadDaya('');
          Fire.$on('AfterCreate', () => {
            this.loadDaya('');
          });
          this.$Progress.finish();
        }
    }
</script>
