<template>
  <div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Bangunan
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Master Data</a></li>
        <li><a href="#"> Bangunan</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>

          <div class="box-tools pull-right">
            <button class="btn btn-primary btn-sm" @click="newModal">Tambah<i class="fas fa-plus fa-fw"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-chevron-up"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="col-md-12">
            <table class="table table-bordered table-hover">
              <thead>
                    <tr>
                      <th class="text-center">Action</th>
                      <th class="text-center">No</th>
                      <th class="text-center">Jenis</th>
                    </tr>
                  </thead>
            </table>
          </div>
        </div>
        <!-- /.box-body -->
         <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
         <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 v-show="!editMode" class="modal-title" id="addNewLabel">Tambah Jenis Bangunan</h5>
                    <h5 v-show="editMode" class="modal-title" id="addNewLabel">Ubah Jenis Bangunan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                      <form @submit.prevent="editMode ? updateJBangunan() : createJBangunan()">
                      <div class="modal-body">
                        <div class="form-group">
                            <label for="">Jenis Bangunan</label>
                            <select v-model="form.jenis_bangunan" name="jenis_bangunan" id="jenis_bangunan" class="form-control" :class="{ 'is-invalid': form.errors.has('jenis_bangunan') }">
                                <option value="-" default>-- Jenis Bangunan --</option>
                                <option value="Perkantoran">Perkantoran</option>
                                <option value="Kesehatan / Keagamaan">Kesehatan / Keagamaan</option>
                                <option value="Pendidikan / Kebudayaan">Pendidikan / Kebudayaan</option>
                                <option value="Perdagangan">Perdagangan</option>
                                <option value="Perhotelan">Perhotelan</option>
                                <option value="Industri">Industri</option>
                                <option value="Transportasi">Transportasi</option>
                                <option value="Lainnya">Lainnya</option>
                                
                            </select>
                            <has-error :form="form" field="jenis_bangunan"></has-error>
                        </div>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                        <button v-show="editMode" type="submit" class="btn btn-success">Ubah</button>
                        <button v-show="!editMode" type="submit" class="btn btn-primary">Simpan</button>
                      </div>
                      </form>
                </div>
               </div>
        </div> 

    </div>
  </div>
</template>

<script>
    export default {
      data(){
        return{
          editMode: false,

          jenisbangunan: {},
          columns: ['edit','hapus','id','jenis_bangunan'],
          options: {
              headings:{
                edit: 'Edit',
                hapus: 'Hapus',
                id: 'No',
                jenis_bangunan: 'Jenis Bangunan'
              },
              sortable : ['id','jenis_bangunan'],
              filterable: ['id','jenis_bangunan'],
            },
            form : new Form({
                id : '',
                jenis_bangunan : '',
            }),
        }
      },
      methods:{
        newModal(){
          this.editMode = false;
          this.form.reset();
          $('#addNew').modal('show');
        },
        editModal(jenisbangunan){
           this.editMode = true;
           this.form.reset();
           $('#addNew').modal('show');
           this.form.fill(jenisbangunan);
         },
        updateJBangunan(){

        },
        createJBangunan(){
          this.$Progress.start();

          this.form.post('api/jenis-bangunan')
          .then(() => {
            Fire.$emit('AfterCreate');
            $('#addNew').modal('hide');
            swal(
              'Sukses!',
              'Data berhasil disimpan.',
              'success'
              )
            this.$Progress.finish();
          })
          .catch(() => {
            swal(
              'Gagal!',
              'Terjadi kesalahan',
              'warning'
              )
          })
        },
        loadJBangunan(){
          axios.get("api/jenis-bangunan").then(({data})=>(this.jenisbangunan = data));
        }
      },
        created() {
          this.$Progress.start();
          this.loadJBangunan('');
          Fire.$on('AfterCreate', () => {
            this.loadJBangunan('');
          });
          this.$Progress.finish();            
        }
    }
</script>
