<template>

<div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Kantor Wilayah
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#"> Master Data</a></li>
                <li><a href="#"> Kantor Wilayah</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>

                    <div class="box-tools pull-right">
                        <button v-if="$gate.isAdminPusat()" class="btn btn-primary btn-sm" @click="newModal">Tambah<i class="fas fa-plus fa-fw"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-chevron-up"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <v-client-table v-if="$gate.isAdminPusat()" :data="wilayah" :columns="columns" :options="options">
                            <a slot="edit" slot-scope="{row}" href="#" @click="editModal(row)">
                                <i class="fa fa-edit blue"></i>
                            </a>
                            <a slot="hapus" slot-scope="{row}" href="#" @click="hapusWilayah(row.id)">
                                <i class="fa fa-trash red"></i>
                            </a>
                        </v-client-table>
                        <v-client-table v-if="!$gate.isAdminPusat()" :data="wilayah" :columns="columnsAdmin" :options="options">
                            <a slot="edit" slot-scope="{row}" href="#" @click="editModal(row)">
                                <i class="fa fa-edit blue"></i>
                            </a>
                            <a slot="hapus" slot-scope="{row}" href="#" @click="hapusWilayah(row.id)">
                                <i class="fa fa-trash red"></i>
                            </a>
                        </v-client-table>

                    </div>
                </div>
                <!-- /.box-body -->
                <!-- /.box-footer-->
            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->

        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 v-show="!editMode" class="modal-title" id="addNewLabel">Tambah Kantor Wilayah</h5>
                        <h5 v-show="editMode" class="modal-title" id="addNewLabel">Ubah Kantor Wilayah</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editMode ? updateKWilayah() : createKWilayah()">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="">Nama Wilayah</label>
                                <input v-model="form.nama_wilayah" type="text" name="nama_wilayah" class="form-control" :class="{ 'is-invalid': form.errors.has('nama_wilayah') }" id="nama_wilayah">
                                <has-error :form="form" field="nama_wilayah"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="">General Manager</label>
                                <input v-model="form.general_manager" type="text" name="general_manager" class="form-control" :class="{ 'is-invalid': form.errors.has('general_manager') }" id="general_manager">
                                <has-error :form="form" field="general_manager"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="">Cakupan Provinsi</label>
                                <select v-model="form.kode_prov" name="kode_prov" id="kode_prov" class="form-control" :class="{ 'is-invalid': form.errors.has('kode_prov') }">
                                    <option value="-">-- Provinsi --</option>
                                    <option v-for="prov in provinsi" :value="prov.kode_prov">{{ prov.provinsi }}</option>
                                </select>
                                <has-error :form="form" field="kode_prov"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="">Alamat</label>
                                <input v-model="form.alamat" type="text" name="alamat" class="form-control" :class="{ 'is-invalid': form.errors.has('alamat') }" id="alamat">
                                <has-error :form="form" field="alamat"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="">Telepon</label>
                                <input v-model="form.telp" type="text" name="telp" class="form-control" :class="{ 'is-invalid': form.errors.has('telp') }" id="telp">
                                <has-error :form="form" field="telp"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="">Email</label>
                                <input v-model="form.email" type="text" name="email" class="form-control" :class="{ 'is-invalid': form.errors.has('email') }" id="email">
                                <has-error :form="form" field="email"></has-error>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                            <button v-show="editMode" type="submit" class="btn btn-success">Ubah</button>
                            <button v-show="!editMode" type="submit" class="btn btn-primary">Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            editMode: false,

            provinsi: {},
            columns: [
                'edit', 'hapus', 'nomor', 'nama_wilayah', 'general_manager', 'provinsi.provinsi', 'alamat',
                'telp', 'email'
            ],
            columnsAdmin: [
                 'nomor','nama_wilayah', 'general_manager', 'provinsi.provinsi', 'alamat',
                'telp', 'email'
            ],
            wilayah: [],
            options: {
                texts: {
                  filterPlaceholder:"Cari data",
                  filter:"Pencarian : ",
                  filterBy:"Cari berdasarkan {column}",
                  count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
                },
                headings: {
                    edit: 'Edit',
                    hapus: 'Hapus',
                    nomor: 'No',
                    nama_wilayah: 'Wilayah',
                    general_manager: 'General Manager',
                    'provinsi.provinsi': 'Provinsi',
                    alamat: 'Alamat',
                    telp: 'Telepon',
                    email: 'Email',
                },
                sortable: ['id', 'nama_wilayah', 'general_manager', 'provinsi.provinsi', 'alamat',
                    'telp', 'email'
                ],
                filterable: ['id', 'nama_wilayah', 'general_manager', 'provinsi.provinsi', 'alamat',
                    'telp', 'email'
                ],
                columnsDisplay: {},
                filterByColumn: true,
                pagination: { dropdown:false },
                columnsClasses: {
                  edit: 'h5 text-center',
                  hapus: 'h5 text-center',
                  nomor: 'h5 text-center',
                  nama_wilayah: 'h5',
                  general_manager: 'h5',
                  'provinsi.provinsi': 'h5',
                  alamat: 'h5',
                  telp: 'h5',
                  email: 'h5',
                },

            },
            form: new Form({
                id: '',
                nama_wilayah: '',
                general_manager: '',
                kode_prov: '',
                alamat: '',
                telp: '',
                email: '',
            })
        }
    },
    methods: {
        getResults(page = 1) {
            axios.get('api/kantor-wilayah?page=' + page)
                .then(response => {
                    this.wilayah = response.data;
                });
        },
        updateKWilayah() {
            this.$Progress.start();

            this.form.put('api/kantor-wilayah/' + this.form.id)
                .then(() => {
                    $('#addNew').modal('hide');
                    swal(
                        'Sukses!',
                        'Data berhasil dirubah.',
                        'success'
                    )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate')
                }).catch(() => {

                });
        },
        editModal(wilayah) {
            this.editMode = true;
            this.form.reset();
            this.loadProvinsi();
            $('#addNew').modal('show');
            this.form.fill(wilayah);
        },
        hapusWilayah(id) {
            swal({
                title: 'Anda yakin?',
                text: "Operasi ini tidak dapat dibatalkan!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya, hapus data!',
                cancelButtonText: 'Batal'
            }).then((result) => {

                if (result.value) {
                    this.form.delete('api/kantor-wilayah/' + id).then(() => {
                        swal(
                            'Dihapus!',
                            'Data berhasil dihapus.',
                            'success'
                        )
                        Fire.$emit('AfterCreate')
                    }).catch(() => {
                        swal("Gagal!", "Terjadi kesalahan.",
                            "warning");
                    });
                }

            })
        },
        createKWilayah() {
            this.$Progress.start();
            this.form.post('api/kantor-wilayah')
                .then(() => {
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide');
                    swal(
                        'Sukses!',
                        'Data berhasil disimpan.',
                        'success'
                    )
                    this.$Progress.finish();
                })
                .catch(() => {
                    swal(
                        'Gagal!',
                        'Terjadi kesalahan',
                        'warning'
                    )
                })
        },
        newModal() {
            this.editMode = false;
            this.loadProvinsi();
            this.form.reset();
            $('#addNew').modal('show');
        },
        loadProvinsi() {
            axios.get("api/data-provinsi").then(({
                data
            }) => (this.provinsi = data.data));
        },
        loadWilayah() {
          console.log('siap kak ya');
          
            axios.get("api/kantor-wilayah").then(({
                data
            }) => (this.wilayah = data));
        }
    },
    created() {
        this.$Progress.start();
        this.loadWilayah('');
        Fire.$on('AfterCreate', () => {
            this.loadWilayah('');
        });
        this.$Progress.finish();
    }
}
</script>
<style>

</style>
