<template>
  <div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Kantor Area
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Master Data</a></li>
        <li><a href="#"> Kantor Area</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>
          <div class="box-tools pull-right">
            <button v-if="$gate.isAdminPusat()" class="btn btn-primary btn-sm" @click="newModal">Tambah<i class="fas fa-plus fa-fw"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-chevron-up"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="col-md-12">
            <v-client-table v-if="$gate.isAdminPusat()" :data="area" :columns="columns" :options="options">
              <a slot="edit" slot-scope="{row}" href="#" @click="editModal(row)">
              <i class="fa fa-edit blue"></i>
            </a>
              <a slot="hapus" slot-scope="{row}" href="#" @click="hapusWilayah(row.id)">
              <i class="fa fa-trash red"></i>
            </a>
            </v-client-table>
            <v-client-table v-if="!$gate.isAdminPusat()" :data="area" :columns="columnsAdmin" :options="options">
              <a slot="edit" slot-scope="{row}" href="#" @click="editModal(row)">
              <i class="fa fa-edit blue"></i>
            </a>
              <a slot="hapus" slot-scope="{row}" href="#" @click="hapusWilayah(row.id)">
              <i class="fa fa-trash red"></i>
            </a>
            </v-client-table>
          </div>
        </div>
        <!-- /.box-body -->
         <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->

    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 v-show="!editMode" class="modal-title" id="addNewLabel">Tambah Kantor Area</h5>
                    <h5 v-show="editMode" class="modal-title" id="addNewLabel">Ubah Kantor Area</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                      <form @submit.prevent="editMode ? updateKArea() : createKArea()">
                      <div class="modal-body">
                        <div class="form-group">
                            <label for="">Wilayah</label>
                            <select @click="getProvinsi() & getKota()"  v-model="form.id_kwilayah" name="id_kwilayah" id="id_wilayah" class="form-control" :class="{ 'is-invalid': form.errors.has('id_kwilayah') }">
                                <option v-for="kantor in wilayah" :xkode-prov="kantor.kode_prov" :value="kantor.id" :id="kantor.id">{{ kantor.nama_wilayah }}</option>
                            </select>
                            <has-error :form="form" field="id_kwilayah"></has-error>
                            <!-- <input type="hidden"  v-for="prov in provinsi" :id="prov.id" :value="prov.kode_prov"> -->
                        </div>
                        <div class="form-group">
                            <label for="">Kota</label>
                            <select  v-model="form.kode_kota" name="kode_kota" id="kode_kota" class="form-control" :class="{ 'is-invalid': form.errors.has('kode_kota') }">
                                <option v-for="kt in kota" :value="kt.kode_kota">{{ kt.kota }}</option>
                            </select>
                            <has-error :form="form" field="kode_kota"></has-error>

                        </div>
                        <div class="form-group">
                            <label for="">Nama Area</label>
                            <input v-model="form.nama" type="text" name="nama" class="form-control" :class="{ 'is-invalid': form.errors.has('nama') }" id="nama">
                            <has-error :form="form" field="nama"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Manager</label>
                            <input v-model="form.manager" type="text" name="manager" class="form-control" :class="{ 'is-invalid': form.errors.has('manager') }" id="manager">
                            <has-error :form="form" field="manager"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">PJT</label>
                            <input v-model="form.pjt" type="text" name="pjt" class="form-control" :class="{ 'is-invalid': form.errors.has('pjt') }" id="pjt">
                            <has-error :form="form" field="pjt"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Status</label>
                            <select v-model="form.status" name="status" id="status" class="form-control" :class="{ 'is-invalid': form.errors.has('status') }">
                                <option value="Aktif">Aktif</option>
                                <option value="Nonaktif">Nonaktif</option>
                            </select>
                            <has-error :form="form" field="status"></has-error>
                        </div>



                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                        <button v-show="editMode" type="submit" class="btn btn-success">Ubah</button>
                        <button v-show="!editMode" type="submit" class="btn btn-primary">Simpan</button>
                      </div>
                      </form>
                </div>
               </div>
        </div>

    </div>
  </div>
</template>

<script>
    export default {
        data(){
          return {
            xCodeProv: '',
            editMode: false,
            provinsi: {},
            kota: {},
            wilayah: {},
            area: [],
            columns: [
            'edit','hapus','id','kwilayah.nama_wilayah','kota.kota','nama','manager','pjt','status'],
            columnsAdmin: [
            'id','kwilayah.nama_wilayah','kota.kota','nama','manager','pjt','status'],
            options: {
              texts: {
                filterPlaceholder:"Cari data",
                filter:"Pencarian : ",
                filterBy:"Cari berdasarkan {column}",
                count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
              },
              headings: {
                edit: 'Edit',
                hapus: 'Hapus',
                id: 'Nomor',
                'kwilayah.nama_wilayah': 'Wilayah',
                'kota.kota': 'Kota',
                nama: 'Area',
                manager: 'Manager',
                pjt: 'PJT',
                status: 'Status',
              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: { dropdown:false,
              chunk:10  },
              sortable: ['kwilayah.nama_wilayah','kota.kota','nama','manager','pjt','status'],
              filterable: ['kwilayah.nama_wilayah','kota.kota','nama','manager','pjt','status'],
              columnsClasses: {
                edit: 'h5 text-center',
                hapus: 'h5 text-center',
                id: 'h5 text-center',
                'kwilayah.nama_wilayah': 'h5',
                'kota.kota': 'h5',
                nama: 'h5',
                manager: 'h5',
                pjt: 'h5',
                status: 'h5',
              },
            },

            form: new Form({
              id : '',
              id_kwilayah : '',
              kode_kota : '',
              nama : '',
              manager : '',
              pjt : '',
              status : '',
            })
          }
        },
        methods : {
          getResults(page = 1) {
            axios.get('api/kantor-area?page=' + page)
            .then(response => {
              this.area = response.data;
            });
          },
          hapusWilayah(id){
            swal({
              title: 'Anda yakin?',
              text: "Operasi ini tidak dapat dibatalkan!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Ya, hapus data!',
              cancelButtonText: 'Batal'
            }).then((result) => {

              if (result.value) {
                this.form.delete('api/kantor-area/'+id).then(() => {
                  swal(
                    'Dihapus!',
                    'Data berhasil dihapus.',
                    'success'
                    )
                  Fire.$emit('AfterCreate')
                }).catch(() => {
                  swal("Gagal!", "Terjadi kesalahan.",
                    "warning");
                });
              }

            })
          },
          xGetkodeProv(){
            var xKodeWilayah=  $('#id_wilayah').val();
            console.log(xKodeWilayah);
            this.xCodeProv =  $(`#${xKodeWilayah}`).attr('xkode-prov');

        
          },
          updateKArea(){
            this.$Progress.start();

            this.form.put('api/kantor-area/'+this.form.id)
            .then(() => {
              $('#addNew').modal('hide');
              swal(
                'Sukses!',
                'Data berhasil dirubah.',
                'success'
                )
              this.$Progress.finish();
              Fire.$emit('AfterCreate')
            }).catch(() => {

            });
          },
          editModal(area){
                this.editMode = true;
                this.form.reset();
                this.loadWilayah();
                $('#addNew').modal('show');
                this.form.fill(area);

                this.kota = [];
              
             
                this.xCodeProv =  area.kwilayah.kode_prov;
                console.log(this.xCodeProv);
                const params = {
                  kode_prov : this.xCodeProv
                }

              
                axios.get('api/data-kotaprov', {params}).then(response => {
                  this.kota = response.data;
                });

          },
          getProvinsi(){
            this.provinsi = [];
            
            
            const params = {
              id_kwilayah : this.form.id_kwilayah
            }

            axios.get('api/data-provwilayah', {params}).then(response => {
              this.provinsi = response.data;
            });
          },
          getKota(){
            this.kota = [];
          
           var xKodeWilayah=  $('#id_wilayah').val();
            // console.log(xKodeWilayah);
            this.xCodeProv =  $(`#${xKodeWilayah}`).attr('xkode-prov');
            // console.log(this.xCodeProv);
            const params = {
              kode_prov : this.xCodeProv
            }

          
            axios.get('api/data-kotaprov', {params}).then(response => {
              this.kota = response.data;
            });
            
          },
         
          createKArea(){
            this.$Progress.start();
            this.form.post('api/kantor-area')
            .then(() => {
              Fire.$emit('AfterCreate');
              $('#addNew').modal('hide');
              swal(
                'Sukses!',
                'Data berhasil disimpan.',
                'success'
                )
              this.$Progress.finish();
            })
            .catch(() => {
              swal(
                'Gagal!',
                'Terjadi kesalahan',
                'warning'
                )
            })
          },
          newModal(){
            this.editMode = false;
            this.form.reset();
            this.loadWilayah();
            $('#addNew').modal('show');
          },
          loadWilayah(){
            // axios.get("api/data-wilayah").then(({data}) => (this.wilayah = data.data))
         
            axios.get("api/data-wilayah").then(({data}) => (this.wilayah = data));
          },
          loadArea(){
            axios.get("api/kantor-area").then(({data}) => (this.area = data));
          },
        },
        created() {
         this.$Progress.start();
         this.loadArea('');
         Fire.$on('AfterCreate', () => {
          this.loadArea('');
        });
         this.$Progress.finish();
        }
    }
</script>
