<template>
  <div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Penyedia Listrik
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Master Data</a></li>
        <li><a href="#"> Penyedia Listrik</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>
          <div class="box-tools pull-right">
            <button v-if="$gate.isAdminPusat()" class="btn btn-primary btn-sm" @click="newModal">Tambah<i class="fas fa-plus fa-fw"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-chevron-up"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="col-md-12">
            <v-client-table v-if="$gate.isAdminPusat()" :data="penyedialistrik" :columns="columns" :options="options">

                <a slot="edit" slot-scope="{row}" href="#" @click="editModal(row)">
                  <i class="fa fa-edit blue"></i>
                </a>
                <a slot="hapus" slot-scope="{row}" href="#" @click="hapusPenyedia(row.id)">
                  <i class="fa fa-trash red"></i>
                </a>

            </v-client-table>
            <v-client-table v-if="!$gate.isAdminPusat()" :data="penyedialistrik" :columns="columnsAdmin" :options="options">

                <a slot="edit" slot-scope="{row}" href="#" @click="editModal(row)">
                  <i class="fa fa-edit blue"></i>
                </a>
                <a slot="hapus" slot-scope="{row}" href="#" @click="hapusPenyedia(row.id)">
                  <i class="fa fa-trash red"></i>
                </a>

            </v-client-table>

          </div>
        </div>
        <!-- /.box-body -->
         <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 v-show="!editMode" class="modal-title" id="addNewLabel">Tambah Penyedia Listrik</h5>
                    <h5 v-show="editMode" class="modal-title" id="addNewLabel">Ubah Penyedia Listrik</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                      <form @submit.prevent="editMode ? updatePListrik() : createPListrik()">
                      <div class="modal-body">

                        <div class="form-group">
                            <label for="">Nama Penyedia</label>
                            <input v-model="form.nama_penyedia" type="text" name="nama_penyedia" class="form-control" :class="{ 'is-invalid': form.errors.has('nama_penyedia') }" id="nama_penyedia">
                            <has-error :form="form" field="nama_penyedia"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Kode PLN</label>
                            <input v-model="form.kode_pln" type="text" name="kode_pln" class="form-control" :class="{ 'is-invalid': form.errors.has('kode_pln') }" id="kode_pln">
                            <has-error :form="form" field="kode_pln"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Wilayah</label>
                            <select @change="getArea()" v-model="form.id_kwilayah" name="id_kwilayah" id="id_wilayah" class="form-control" :class="{ 'is-invalid': form.errors.has('id_kwilayah') }">
                                <option v-for="kantor in wilayah" :value="kantor.id">{{ kantor.nama_wilayah }}</option>
                            </select>
                            <has-error :form="form" field="id_kwilayah"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Area</label>
                            <select :disabled="area.length == 1" v-model="form.id_karea" name="id_karea" id="id_karea" class="form-control" :class="{ 'is-invalid': form.errors.has('id_karea') }">
                                <option v-for="karea in area" :value="karea.id">{{karea.nama}}</option>
                            </select>
                            <label v-show="editMode" class="red">Abaikan apabila Wilayah tidak diubah!</label>
                            <has-error :form="form" field="id_karea"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Alamat</label>
                            <input v-model="form.alamat" type="text" name="alamat" class="form-control" :class="{ 'is-invalid': form.errors.has('alamat') }" id="alamat">
                            <has-error :form="form" field="alamat"></has-error>
                        </div>

                        <div class="form-group">
                            <label for="">Status</label>
                            <select v-model="form.status" name="status" id="status" class="form-control" :class="{ 'is-invalid': form.errors.has('status') }">
                                <option value="Aktif">Aktif</option>
                                <option value="Nonaktif">Nonaktif</option>
                            </select>
                            <has-error :form="form" field="status"></has-error>
                        </div>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                        <button v-show="editMode" type="submit" class="btn btn-success">Ubah</button>
                        <button v-show="!editMode" type="submit" class="btn btn-primary">Simpan</button>
                      </div>
                      </form>
                </div>
               </div>
        </div>


    </div>
</div>

</template>

<script>
    export default {
      data(){
        return{
          editMode: false,

          penyedialistrik: [],
          columns: [
          'edit','hapus','id','nama_penyedia','kode_pln','wilayah.nama_wilayah','area.nama','alamat','status'
          ],
          columnsAdmin: [
          'id','nama_penyedia','kode_pln','wilayah.nama_wilayah','area.nama','alamat','status'
          ],
          options: {
            texts: {
              filterPlaceholder:"Cari data",
              filter:"Pencarian : ",
              filterBy:"Cari berdasarkan {column}",
              count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
            },
            headings: {
              edit: 'Edit',
              hapus: 'Hapus',
              id: 'No',
              nama_penyedia: 'Nama Penyedia',
              kode_pln: 'Kode PLN',
              'wilayah.nama_wilayah': 'Wilayah',
              'area.nama': 'Area',
              alamat: 'Alamat',
              status: 'Status',

            },
            columnsDisplay: {},
            filterByColumn: true,
            pagination: { dropdown:false },
            columnsClasses: {
              edit: 'h5 text-center',
              hapus: 'h5 text-center',
              id: 'h5 text-center',
              nama_penyedia: 'h5',
              kode_pln: 'h5',
              'wilayah.nama_wilayah': 'h5',
              'area.nama': 'h5',
              alamat: 'h5',
              status: 'h5',
            },
            sortable: ['nama_penyedia','kode_pln','wilayah.nama_wilayah','area.nama','alamat','status'],
            filterable: ['nama_penyedia','kode_pln','wilayah.nama_wilayah','area.nama','alamat','status'],
          },

          form: new Form({
            id : '',
            nama_penyedia : '',
            kode_pln : '',
            id_kwilayah : '',
            id_karea : '',
            alamat : '',
            status : '',
          }),

          wilayah: {},
          area: {},

        }
      },
      methods: {
        newModal(){
          this.editMode = false;
          this.form.reset();
          this.loadWilayah();
          $('#addNew').modal('show');
        },
         getResults(page = 1) {
          axios.get('api/penyedia-listrik?page=' + page)
          .then(response => {
            this.penyedialistrik = response.data;
          });
        },
        editModal(penyedialistrik){
          this.editMode = true;
          this.form.reset();
          this.loadWilayah();
          $('#addNew').modal('show');
          this.form.fill(penyedialistrik);
            this.area = [];
            this.form.id_karea = penyedialistrik.id_karea;
            const params = {
              id_kwilayah : penyedialistrik.id_kwilayah
            }

            axios.get('api/load-area', {params}).then(response => {
              this.area = response.data;
            });
            
        },
        hapusPenyedia(id){
            swal({
              title: 'Anda yakin?',
              text: "Operasi ini tidak dapat dibatalkan!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Ya, hapus data!',
              cancelButtonText: 'Batal'
            }).then((result) => {

              if (result.value) {
                this.form.delete('api/penyedia-listrik/'+id).then(() => {
                  swal(
                    'Dihapus!',
                    'Data berhasil dihapus.',
                    'success'
                    )
                  Fire.$emit('AfterCreate')
                }).catch(() => {
                  swal("Gagal!", "Terjadi kesalahan.",
                    "warning");
                });
              }

            })
          },
        updatePListrik(){
          this.$Progress.start();

            this.form.put('api/penyedia-listrik/'+this.form.id)
            .then(() => {
              $('#addNew').modal('hide');
              swal(
                'Sukses!',
                'Data berhasil dirubah.',
                'success'
                )
              this.$Progress.finish();
              Fire.$emit('AfterCreate')
            }).catch(() => {

            });
        },

        loadPListrik(){
          axios.get("api/penyedia-listrik").then(({data}) => (this.penyedialistrik = data));
        },
        loadWilayah(){
          // axios.get("api/data-wilayah").then(({data}) => (this.wilayah = data.data))
          axios.get("api/data-wilayah").then(({data}) => (this.wilayah = data));
        },
        getArea(){
            this.area = [];
            this.form.id_karea = '';

            const params = {
              id_kwilayah : this.form.id_kwilayah
            }

            axios.get('api/load-area', {params}).then(response => {
              this.area = response.data;
            });
          },
        createPListrik(){
          this.$Progress.start();
          this.form.post('api/penyedia-listrik')
          .then(() => {
            Fire.$emit('AfterCreate');
            $('#addNew').modal('hide');
            swal(
              'Sukses!',
              'Data berhasil disimpan.',
              'success'
              )
            this.$Progress.finish();
          })
          .catch(() => {
            swal(
              'Gagal!',
              'Terjadi kesalahan',
              'warning'
              )
          })
        },
        hapusPListrik(){

        }

      },
        created() {
         this.$Progress.start();
         this.loadPListrik('');
         Fire.$on('AfterCreate', () => {
          this.loadPListrik('');
          });
         this.$Progress.finish();
       }
    }
</script>
