<template>
  <div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Sub Area
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Master Data</a></li>
        <li><a href="#"> Sub Area</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>

          <div class="box-tools pull-right">
            <button v-if="$gate.isAdminPusat()" class="btn btn-primary btn-sm" @click="newModal">Tambah<i class="fas fa-plus fa-fw"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-chevron-up"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="col-md-12">
            <v-client-table v-if="$gate.isAdminPusat()" :data="subarea" :columns="columns" :options="options">

                <a slot="edit" slot-scope="{row}" href="#" @click="editModal(row)">
                  <i class="fa fa-edit blue"></i>
                </a>
                <a slot="hapus" slot-scope="{row}" href="#" @click="hapusSubarea(row.id)">
                  <i class="fa fa-trash red"></i>
                </a>

            </v-client-table>
            <v-client-table v-if="!$gate.isAdminPusat()" :data="subarea" :columns="columnsAdmin" :options="options">

                <a slot="edit" slot-scope="{row}" href="#" @click="editModal(row)">
                  <i class="fa fa-edit blue"></i>
                </a>
                <a slot="hapus" slot-scope="{row}" href="#" @click="hapusSubarea(row.id)">
                  <i class="fa fa-trash red"></i>
                </a>

            </v-client-table>
          </div>
        </div>
        <!-- /.box-body -->
         <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->

     <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 v-show="!editMode" class="modal-title" id="addNewLabel">Tambah Sub Area</h5>
                    <h5 v-show="editMode" class="modal-title" id="addNewLabel">Ubah Sub Area</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                      <form @submit.prevent="editMode ? updateSubArea() : createSubArea()">
                      <div class="modal-body">

                        <div class="form-group">
                            <label for="">Wilayah</label>
                            <select @change="getArea()" v-model="form.id_kwilayah" name="id_kwilayah" id="id_wilayah" class="form-control" :class="{ 'is-invalid': form.errors.has('id_kwilayah') }">
                                <option v-for="kantor in wilayah" :value="kantor.id">{{ kantor.nama_wilayah }}</option>
                            </select>
                            <has-error :form="form" field="id_kwilayah"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Area</label>
                            <select :disabled="area.length == 1" v-model="form.id_karea" name="id_karea" id="id_karea" class="form-control" :class="{ 'is-invalid': form.errors.has('id_karea') }">
                                <option v-for="karea in area" :value="karea.id">{{karea.nama}}</option>
                            </select>
                            <label v-show="editMode" class="red">Abaikan apabila Wilayah tidak diubah!</label>
                            <has-error :form="form" field="id_karea"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Nama Sub Area</label>
                            <input v-model="form.nama_subarea" type="text" name="nama_subarea" class="form-control" :class="{ 'is-invalid': form.errors.has('nama_subarea') }" id="nama_subarea">
                            <has-error :form="form" field="nama_subarea"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Kode</label>
                            <input v-model="form.kode" type="text" name="kode" class="form-control" :class="{ 'is-invalid': form.errors.has('kode') }" id="kode">
                            <has-error :form="form" field="kode"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Alamat</label>
                            <input v-model="form.alamat" type="text" name="alamat" class="form-control" :class="{ 'is-invalid': form.errors.has('alamat') }" id="alamat">
                            <has-error :form="form" field="alamat"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Nama Manager</label>
                            <input v-model="form.nama_manager" type="text" name="nama_manager" class="form-control" :class="{ 'is-invalid': form.errors.has('nama_manager') }" id="nama_manager">
                            <has-error :form="form" field="nama_manager"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Status</label>
                            <select v-model="form.status" name="status" id="status" class="form-control" :class="{ 'is-invalid': form.errors.has('status') }">
                                <option value="Aktif">Aktif</option>
                                <option value="Nonaktif">Nonaktif</option>
                            </select>
                            <has-error :form="form" field="status"></has-error>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                        <button v-show="editMode" type="submit" class="btn btn-success">Ubah</button>
                        <button v-show="!editMode" type="submit" class="btn btn-primary">Simpan</button>
                      </div>
                      </form>
                </div>
               </div>
        </div>

    </div>
  </div>
</template>

<script>
    export default {
        data(){
          return {
            editMode : false,
            wilayah: {},
            area: {},
            subarea : [],
            columns: [
              'edit', 'hapus', 'id', 'wilayah.nama_wilayah', 'area.nama', 'nama_subarea', 'kode', 'alamat', 'nama_manager', 'status'
            ],
            columnsAdmin: [
              'id', 'wilayah.nama_wilayah', 'area.nama', 'nama_subarea', 'kode', 'alamat', 'nama_manager', 'status'
            ],
            options: {
              debounce: 500,
              texts: {
                filterPlaceholder:"Cari data",
                filter:"Pencarian : ",
                filterBy:"Cari berdasarkan {column}",
                count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
              },
              headings: {
                edit: 'Edit',
                hapus: 'Hapus',
                id: 'No',
                'wilayah.nama_wilayah': 'Wilayah',
                'area.nama': 'Area',
                nama_subarea: 'Nama Sub Area',
                kode: 'Kode',
                alamat: 'Alamat',
                nama_manager : 'Nama Manager',
                status: 'Status',
              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: { dropdown:false },
              columnsClasses: {
                edit: 'h5 text-center',
                hapus: 'h5 text-center',
                'wilayah.nama_wilayah': 'h5',
                'area.nama': 'h5',
                id: 'h5 text-center',
                nama_subarea: 'h5',
                kode: 'h5',
                alamat: 'h5',
                nama_manager : 'h5',
                status: 'h5',
              },
              sortable : ['id', 'wilayah.nama_wilayah', 'area.nama', 'nama_subarea', 'kode', 'alamat', 'nama_manager', 'status'],
              filterable : ['id', 'wilayah.nama_wilayah', 'area.nama', 'nama_subarea', 'kode', 'alamat', 'nama_manager', 'status'],
            },

            form : new Form({
              id : '',
              id_kwilayah : '',
              id_karea : '',
              nama_subarea : '',
              kode : '',
              alamat : '',
              nama_manager : '',
              status : '',
            })
          }
        },
        methods: {
          getResults(page = 1) {
            axios.get('api/sub-area?page=' + page)
            .then(response => {
              this.subarea = response.data;
            });
          },
          hapusSubarea(id){
            swal({
              title: 'Anda yakin?',
              text: "Operasi ini tidak dapat dibatalkan!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Ya, hapus data!',
              cancelButtonText: 'Batal'
            }).then((result) => {

              if (result.value) {
                this.form.delete('api/sub-area/'+id).then(() => {
                  swal(
                    'Dihapus!',
                    'Data berhasil dihapus.',
                    'success'
                    )
                  Fire.$emit('AfterCreate')
                }).catch(() => {
                  swal("Gagal!", "Terjadi kesalahan.",
                    "warning");
                });
              }
            })
          },
          updateSubArea(){
            this.$Progress.start();

            this.form.put('api/sub-area/'+this.form.id)
            .then(() => {
              $('#addNew').modal('hide');
              swal(
                'Sukses!',
                'Data berhasil dirubah.',
                'success'
                )
              this.$Progress.finish();
              Fire.$emit('AfterCreate')
            }).catch(() => {

            });
          },
          editModal(subarea){
                this.editMode = true;
                this.form.reset();
                this.loadWilayah();
                $('#addNew').modal('show');
                this.form.fill(subarea);
                console.log(subarea);

                this.area = [];
                const params = {
                  id_kwilayah : subarea.id_kwilayah
                }

                this.form.id_karea = subarea.id_karea;
                console.log(subarea.id_karea);

                axios.get('api/load-area', {params}).then(response => {
                  this.area = response.data;
                });
          },
          createSubArea(){
            this.$Progress.start();
            this.form.post('api/sub-area')
            .then(() => {
              Fire.$emit('AfterCreate');
              $('#addNew').modal('hide');
              swal(
                'Sukses!',
                'Data berhasil disimpan.',
                'success'
                )
              this.$Progress.finish();
            })
            .catch(() => {
              swal(
                'Gagal!',
                'Terjadi kesalahan',
                'warning'
                )
            })
          },
          newModal(){
            this.editMode = false;
            this.form.reset();
            this.loadWilayah();
            $('#addNew').modal('show');
          },
          getArea(){
            this.area = [];
            this.form.id_karea = '';

            const params = {
              id_kwilayah : this.form.id_kwilayah
            }

            axios.get('api/load-area', {params}).then(response => {
              this.area = response.data;
            });
          },
          loadWilayah(){
            // axios.get("api/data-wilayah").then(({data}) => (this.wilayah = data.data))
            axios.get("api/data-wilayah").then(({data}) => (this.wilayah = data));
          },
          loadSubArea(){
            axios.get("api/sub-area").then(({data}) => (this.subarea = data));
          }
        },
        created() {
         this.$Progress.start();
         this.loadSubArea('');
         Fire.$on('AfterCreate', () => {
          this.loadSubArea('');
          });
         this.$Progress.finish();
       }
    }
</script>
