<template>
  <div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Tarif
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Master Data</a></li>
        <li><a href="#"> Tarif</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>

          <div class="box-tools pull-right">
            <button v-if="$gate.isAdminPusat()" class="btn btn-primary btn-sm" @click="newModal">Tambah<i class="fas fa-plus fa-fw"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-chevron-up"></i></button>

             <!--  <download-excel
             class   = "btn btn-default"
             :data   = "tarif2"
             :fields = "json_fields"
             name    = "jancuk.xls">
            </download-excel> -->

          </div>

        </div>
        <div class="box-body">
          <div class="col-md-12">
            <v-client-table v-if="$gate.isAdminPusat()" :data="tarif" :columns="columns" :options="options">
              <a slot="edit" slot-scope="{row}" href="#" @click="editModal(row)">
                <i class="fa fa-edit blue"></i>
              </a>
              <a slot="hapus" slot-scope="{row}" href="#" @click="hapusTarif(row.id)">
                <i class="fa fa-trash red"></i>
              </a>
            </v-client-table>
            <v-client-table v-if="!$gate.isAdminPusat()" :data="tarif" :columns="columnsAdmin" :options="options">
              <a slot="edit" slot-scope="{row}" href="#" @click="editModal(row)">
                <i class="fa fa-edit blue"></i>
              </a>
              <a slot="hapus" slot-scope="{row}" href="#" @click="hapusTarif(row.id)">
                <i class="fa fa-trash red"></i>
              </a>
            </v-client-table>

          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center">

            <pagination :data="tarif" @pagination-change-page="getResults"></pagination>
        </div>
         <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                  <div class="modal-header">
                    <h5 v-show="!editMode" class="modal-title" id="addNewLabel">Tambah Tarif</h5>
                    <h5 v-show="editMode" class="modal-title" id="addNewLabel">Ubah Tarif</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                      <form @submit.prevent="editMode ? updateTarif() : createTarif()">
                      <div class="modal-body">
                        <div class="form-group">
                            <label for="">Jenis Tarif</label>
                            <input v-model="form.jenis_tarif" type="text" name="jenis_tarif" class="form-control" :class="{ 'is-invalid': form.errors.has('jenis_tarif') }" id="jenis_tarif">
                            <has-error :form="form" field="jenis_tarif"></has-error>
                        </div>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                        <button v-show="editMode" type="submit" class="btn btn-success">Ubah</button>
                        <button v-show="!editMode" type="submit" class="btn btn-primary">Simpan</button>
                      </div>
                      </form>
                </div>
               </div>
        </div>


    </div>
  </div>

</template>

<script>

  import Vue from 'vue'
  import JsonExcel from 'vue-json-excel'

  Vue.component('downloadExcel', JsonExcel)



    export default {
      data(){
          return{
            editMode: false,

            tarif: [],
            tarif2: [],
            columns: ['edit','hapus','id','jenis_tarif'],
            columnsAdmin: ['id','jenis_tarif'],
            options: {
              texts: {
                filterPlaceholder:"Cari data",
                filter:"Pencarian : ",
                filterBy:"Cari berdasarkan {column}",
                count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
              },
              headings:{
                edit: 'Edit',
                hapus: 'Hapus',
                id: 'No',
                jenis_tarif: 'Jenis Tarif'
              },
              sortable : ['jenis_tarif'],
              filterable: ['jenis_tarif'],
              columnsDisplay: {},
              filterByColumn: true,
              pagination: { dropdown:false },
              columnsClasses: {
                edit: 'h5 text-center',
                hapus: 'h5 text-center',
                id: 'h5 text-center',
                jenis_tarif: 'h5'
              },
            },
            form : new Form({
                id : '',
                jenis_tarif : '',
            }),
            json_fields: {
              No: 'id',
              JenisTarif: 'jenis_tarif'
            },
            json_data: [
              {
                'id': '1',
                'jenis_tarif': 'S1',
              },
              {
                'id': '2',
                'jenis_tarif': 'S2',
              },
            ],
          }
      },
      methods : {
        newModal(){
          this.editMode = false;
          this.form.reset();
          $('#addNew').modal('show');
        },
        fetchData(){
          axios.get("api/load-tarif").then(({data})=>(this.tarif2 = data));
        },
        getResults(page = 1) {
            axios.get('api/tarif?page=' + page)
            .then(response => {
              this.tarif = response.data;
            });
          },
        editModal(tarif){
           this.editMode = true;
           this.form.reset();
           $('#addNew').modal('show');
           this.form.fill(tarif);
         },
         updateTarif(){
            this.$Progress.start();

            this.form.put('api/tarif/'+this.form.id)
            .then(() => {
              $('#addNew').modal('hide');
              swal(
                'Sukses!',
                'Data berhasil dirubah.',
                'success'
                )
              this.$Progress.finish();
              Fire.$emit('AfterCreate')
            }).catch(() => {

            });
         },
        hapusTarif(id){
          swal({
              title: 'Anda yakin?',
              text: "Operasi ini tidak dapat dibatalkan!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Ya, hapus data!',
              cancelButtonText: 'Batal'
            }).then((result) => {

              if (result.value) {
                this.form.delete('api/tarif/'+id).then(() => {
                  swal(
                    'Dihapus!',
                    'Data berhasil dihapus.',
                    'success'
                    )
                  Fire.$emit('AfterCreate')
                }).catch(() => {
                  swal("Gagal!", "Terjadi kesalahan.",
                    "warning");
                });
              }

            })
        },
        createTarif(){
          this.$Progress.start();

          this.form.post('api/tarif')
          .then(() => {
            Fire.$emit('AfterCreate');
            $('#addNew').modal('hide');
            swal(
              'Sukses!',
              'Data berhasil disimpan.',
              'success'
              )
            this.$Progress.finish();
          })
          .catch(() => {
            swal(
              'Gagal!',
              'Terjadi kesalahan',
              'warning'
              )
          })
        },
        loadTarif(){
          axios.get("api/tarif").then(({data})=>(this.tarif = data));
        }
      },
        created() {
          this.$Progress.start();
          this.loadTarif('');
          this.fetchData();
          Fire.$on('AfterCreate', () => {
            this.loadTarif('');
          });
          this.$Progress.finish();
        }
    }
</script>
