<template>
<div class="table-responsive">
    <div class="col-md-12">
        <section class="content-header">
            <h1>
                Rekap Penerimaan
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#"> Rekap Penerimaan</a></li>
            </ol>
        </section>
        <div class="col-md-3" style="margin-top: 10px;">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Filter</h3>
                </div>
                <div class="box-body">
                    <div class="row" style="margin-top: 15px">
                        <div class="col-md-12">
                            <form method="POST" @submit.prevent="filterTanggal() & filterPenerimaan() & filterDataPenerimaan()">
                                <label for="">Tanggal Awal</label>
                                <!-- <input type="date" v-model="form.tanggal_x" name="tgl1" class="form-control"> -->
                                <date-picker name="tanggal_x" v-model="form.tanggal_x" :lang="lang" value-type="format" confirm :class="{ 'is-invalid': form.errors.has('tanggal_x') }"></date-picker>
                                <has-error :form="form" field="tanggal_x"></has-error>
                                <label for="" style="margin-top:10px">Tanggal Akhir</label>
                                <date-picker name="tanggal_y" v-model="form.tanggal_y" :lang="lang" value-type="format" confirm :class="{ 'is-invalid': form.errors.has('tanggal_y') }"></date-picker>
                                <has-error :form="form" field="tanggal_y"></has-error>
                                <!-- <input type="text" v-model="form.tanggal" name="" value=""> -->
                                <button type="submit" style="margin-top: 10px" class="btn btn-primary btn-block">Cari</button>
                                <a href="#" class="btn btn-danger btn-block" @click="resetFilter">Reset Filter</a>
                            </form>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px">
                        <div class="col-md-4">
                            <p v-if="this.$gate.isAdminPusat()">Kantor</p>
                            <p v-if="this.$gate.isAdWilayah()">Wilayah</p>
                            <p v-if="this.$gate.isAdArea()">Area</p>
                            <p v-if="this.$gate.isAdSubArea()">Sub Area</p>
                        </div>
                        <div class="col-md-7">
                            <p class="text-right blue" v-if="this.$gate.isAdminPusat()">Pusat</p>
                            <p class="text-right blue" v-for="posisi in kantor">{{posisi.nama}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="margin-top: 15px">
                        <div class="col-md-4">
                            <p>Jumlah Pembayaran</p>
                        </div>
                        <div class="col-md-7">
                            <p class="text-right blue" v-show="filterBayar != 0">{{filterBayar}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <p class="red">Total Penerimaan</p>
                        </div>
                        <div class="col-md-7">
                            <!-- <h3 class="text-right blue" v-for="filterTotal in filterPemasukan" v-show="filterPemasukan != 0">Rp. {{filterTotal.pendapatan | currency}}</h3> -->
                            <h3 class="text-right blue" v-for="filterTotal in filterPemasukan" v-show="filterPemasukan != 0">Rp. {{filterTotal.pendapatan | currency}}</h3>
                        </div>
                    </div>

                </div>
                <div class="box-footer text-center">

                </div>
            </div>
        </div>
        <div class="col-md-9" style="margin-top: 10px">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Detail Penerimaan Bulan Ini</h3>
                    <div class="box-tools pull-right">
                        <!-- <button v-if="$gate.isAdminPusat()" class="btn btn-primary btn-sm" @click="newModal">Tambah<i class="fas fa-plus fa-fw"></i></button> -->
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-chevron-up"></i></button>
                    </div>
                </div>
                <div class="box-body">

                    <div class="col-md-4">
                        <p v-if="this.$gate.isAdminPusat()">Kantor</p>
                        <p v-if="this.$gate.isAdWilayah()">Wilayah</p>
                        <p v-if="this.$gate.isAdArea()">Area</p>
                        <p v-if="this.$gate.isAdSubArea()">Sub Area</p>
                    </div>
                    <div class="col-md-8">
                        <p class="text-right blue" v-for="posisi in kantor">{{posisi.nama}}</p>
                    </div>
                    <hr>
                    <div class="col-md-4">
                        <p>Total pendapatan bulan ini</p>
                    </div>
                    <div class="col-md-8">
                        <p class="text-right blue" v-for="total in pemasukan">Rp. {{total.pendapatan | currency}}</p>
                    </div>
                    <div class="col-md-4" v-if="this.$gate.isAdArea()">
                        <p>Total pendapatan sub area bulan ini</p>
                    </div>
                    <div class="col-md-8" v-if="this.$gate.isAdArea()">
                        <p class="text-right blue" v-for="pendapatan_sub_area in pendapatanSub">Rp. {{pendapatan_sub_area.pendapatan_sub_area | currency}}</p>
                    </div>


                </div>
                <div class="box-footer">
                  <div class="col-md-12 text-right" v-show="$gate.isAdSubArea()">
                      <form name="FormRekap" id="FormRekap" method="post" @submit.prevent="prosesRekap()">
                          <input type="hidden" readonly name="total" id="total" v-for="total in pemasukan" :value="total.pendapatan" class="form-control">
                          <a href="#" class="btn btn-default" @click="logSubArea"><i class="fas fa-file-word"></i >Daftar Rekap</a>
                          <button class="btn btn-default">
                              <i class="fas fa-save black"></i> Simpan Rekap
                          </button>
                      </form>
                  </div>
                  <div class="col-md-12 text-right" v-show="$gate.isAdArea()">
                      <form name="FormRekapArea" id="FormRekapArea" method="post"@submit.prevent="prosesRekapArea()">
                          <input type="hidden" readonly name="pendapatan_sub_area" id="pendapatan_sub_area" v-for="pendapatan_sub_area in pendapatanSub" :value="pendapatan_sub_area.pendapatan_sub_area" class="form-control">
                          <input type="hidden" readonly name="total" id="total" v-for="total in pemasukan" :value="total.pendapatan" class="form-control">
                          <a href="#" class="btn btn-default" @click="logArea"><i class="fas fa-file-word"></i >Daftar Rekap</a>
                          <button class="btn btn-default">
                              <i class="fas fa-save black"></i> Simpan Rekap
                          </button>
                      </form>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="nav-tabs-custom" style="margin-top: 10px;">

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Data Laporan Pembayaran</a></li>

                </ul>

                <div class="tab-content">

                    <div class="tab-pane active" id="tab_1">


                        <v-client-table :data="pembayaran" :columns="columns" :options="options">


                            <p slot="jumlah" class="green text-uppercase" slot-scope="{row}">Rp {{row.jumlah | currency}}</p>
                        </v-client-table>

                        <div class="box-tools pull-left">
                            <button class="btn btn-default" @click="ExportExcel">
                                <i class="fas fa-file-download black"></i> XLS
                            </button>
                            <button class="btn btn-default" @click="ExportExcel1">
                                <i class="fas fa-file-download black"></i> CSV
                            </button>

                        </div>

                        <div class="box-footer text-center">

                        </div>


                    </div>



                </div>

            </div>
        </div>



    </div>
    <!--  -->
    <div class="modal fade" id="modalQ" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 v-show="!modeSubArea" class="modal-title" id="addNewLabel">Log Rekap Area</h5>
                    <h5 v-show="modeSubArea" class="modal-title" id="addNewLabel">Log Rekap Sub Area</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                      <div class="modal-body">
                        <label for="" class="red">Log Rekap Penerimaan</label>

                        <v-client-table v-show="$gate.isAdSubArea()" :data="dataLogSubArea" :columns="subAreaColumns" :options="optionSubArea">

                          <p slot="bulan" class="green text-uppercase" slot-scope="{row}">{{row.bulan | moment("MMMM YYYY")}}</p>
                          <p slot="total" class="green text-uppercase" slot-scope="{row}">Rp {{row.total | currency}}</p>
                        </v-client-table>
                        <v-client-table v-show="$gate.isAdArea()" :data="dataLogArea" :columns="AreaColumns" :options="optionArea">

                          <p slot="bulan" class="green text-uppercase" slot-scope="{row}">{{row.bulan | moment("MMMM YYYY")}}</p>
                          <p slot="pendapatan_pelanggan" class="green text-uppercase" slot-scope="{row}">Rp {{row.pendapatan_pelanggan | currency}}</p>
                        </v-client-table>

                        <br>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Tutup</button>
                      </div>
                </div>
               </div>
        </div>

</div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import {
    id
} from 'vuejs-datepicker/dist/locale'
import DatePicker from 'vue2-datepicker'


import JsonExcel from 'vue-json-excel';
import axios from 'axios';
Vue.component('downloadExcel', JsonExcel);

export default {
    components: {
        DatePicker
    },
    data() {
        return {
            modeSubArea: false,
            id: id,
            date: new Date(),
            format: "yyyy-MM-dd",
            pelanggan: '',
            bayar: '',
            pembayaran: [],
            search: {},
            tarif2: [],
            pemasukan: [],
            filterPemasukan: [],
            lang: {
                days: ['Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab', 'Ming'],
                months: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                pickers: ['next 7 days', 'next 30 days', 'previous 7 days', 'previous 30 days'],
                placeholder: {
                    date: 'Pilih Tanggal',
                    dateRange: 'Select Date Range'
                }
            },
            columns: [
                'no_kwitansi', 'no_pendaftaran', 'nama', 'kota',
                'nama_wilayah', 'nama_area', 'nama_subarea', 'created_at',
                'diterima', 'jumlah', 'cetak', 'dicetak_oleh',
            ],
            AreaColumns: [
              'bulan', 'pendapatan_pelanggan', 'updated_at',
            ],
            optionArea: {
              texts: {
                filterPlaceholder: "Cari data",
                filter: "Pencarian : ",
                filterBy: "Cari berdasarkan {column}",
                count: "Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
                noResults: "Data tidak ditemukan",
              },
              headings: {
                  bulan: 'Periode',
                  pendapatan_pelanggan: 'Penerimaan',
                  updated_at: 'Tanggal Rekap',
                  grandtotal: 'Total'
              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: {
                  dropdown: false
              },
              columnsClasses: {
                bulan: 'h5 text-center',
                pendapatan_pelanggan: 'h5 text-center',
                updated_at: 'h5 text-center',
              },
              sortable: ['bulan', 'pendapatan_pelanggan', 'updated_at'
              ],
              filterable: ['bulan', 'pendapatan_pelanggan', 'updated_at'
              ],
            },
            subAreaColumns: [
              'bulan', 'total', 'updated_at'
            ],
            optionSubArea: {
              texts: {
                filterPlaceholder: "Cari data",
                filter: "Pencarian : ",
                filterBy: "Cari berdasarkan {column}",
                count: "Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
                noResults: "Data tidak ditemukan",
              },
              headings: {
                  bulan: 'Periode',
                  total: 'Penerimaan',
                  updated_at: 'Tanggal Rekap',
                  grandtotal: 'Total'
              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: {
                  dropdown: false
              },
              columnsClasses: {
                bulan: 'h5 text-center',
                total: 'h5 text-center',
                updated_at: 'h5 text-center',
              },
              sortable: ['bulan', 'total', 'updated_at'
              ],
              filterable: ['bulan', 'total', 'updated_at'
              ],
            },
            searchColumns: [
                'aksi', 'no_kwitansi', 'no_pendaftaran', 'nama', 'kota',
                'nama_wilayah', 'nama_area', 'nama_subarea', 'created_at',
                'diterima', 'jumlah', 'cetak', 'dicetak_oleh',
            ],
            optionsDate: {
                format: 'YYYY-mm-dd'
            },
            options: {
                texts: {
                    filterPlaceholder: "Cari data",
                    filter: "Pencarian : ",
                    filterBy: "Cari berdasarkan {column}",
                    count: "Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
                    noResults: "Data tidak ditemukan",
                },
                headings: {
                    aksi: 'Aksi',
                    no_kwitansi: 'No Kwitansi',
                    no_pendaftaran: 'No Pendaftaran',
                    nama: 'Nama',
                    kota: 'Kota',
                    nama_wilayah: 'Wilayah',
                    nama_area: 'Area',
                    nama_subarea: 'Sub Area',
                    created_at: 'Tgl Pembayaran',
                    diterima: 'Diterima Oleh',
                    jumlah: 'Jml Bayar',
                    cetak: 'Cetak Kwitansi',
                    dicetak_oleh: 'Dicetak Oleh',

                },
                columnsDisplay: {},
                filterByColumn: true,
                pagination: {
                    dropdown: false
                },
                columnsClasses: {
                    aksi: 'h5 text-center',
                    no_kwitansi: 'h5',
                    no_pendaftaran: 'h5',
                    nama: 'h5',
                    kota: 'h5',
                    nama_wilayah: 'h5',
                    nama_area: 'h5',
                    nama_subarea: 'h5',
                    created_at: 'h5',
                    diterima: 'h5',
                    jumlah: 'h5',
                    cetak: 'h5',
                    dicetak_oleh: 'h5',
                },
                sortable: ['no_kwitansi', 'no_pendaftaran', 'nama', 'kota',
                    'nama_wilayah', 'nama_area', 'nama_subarea', 'created_at',
                    'diterima', 'jumlah', 'cetak', 'dicetak_oleh',
                ],
                filterable: ['no_kwitansi', 'no_pendaftaran', 'nama', 'kota',
                    'nama_wilayah', 'nama_area', 'nama_subarea', 'created_at',
                    'diterima', 'jumlah', 'cetak', 'dicetak_oleh',
                ],
            },
            searchOptions: {
                headings: {
                    aksi: 'Aksi',
                    no_kwitansi: 'No Kwitansi',
                    no_pendaftaran: 'No Pendaftaran',
                    nama: 'Nama',
                    kota: 'Kota',
                    nama_wilayah: 'Wilayah',
                    nama_area: 'Area',
                    nama_subarea: 'Sub Area',
                    created_at: 'Tgl Pembayaran',
                    diterima: 'Diterima Oleh',
                    cetak: 'Cetak Kwitansi',
                    dicetak_oleh: 'Dicetak Oleh',

                },
                columnsClasses: {
                    no_pendaftaran: 'style="width:100%"',
                },
                sortable: ['no_kwitansi', 'no_pendaftaran', 'nama', 'kota',
                    'nama_wilayah', 'nama_area', 'nama_subarea', 'created_at',
                    'diterima', 'cetak', 'dicetak_oleh',
                ],
                filterable: ['no_kwitansi', 'no_pendaftaran', 'nama', 'kota',
                    'nama_wilayah', 'nama_area', 'nama_subarea', 'created_at',
                    'diterima', 'cetak', 'dicetak_oleh',
                ],
            },
            form: new Form({
                tanggal_x: '',
                tanggal_y: '',
            }),

            kantor: [],
            filterBayar: [],
            dataLogSubArea: [],
            dataLogArea: [],
            pendapatanSub: [],
        }
    },
    methods: {
      loadPendapatanSubArea(){
        axios.get('api/keuangan/pemasukan/sub-area').then(({
            data
        }) => (this.pendapatanSub = data));
      },
      resetFilter(){
        this.form.reset();
        this.loadPembayaran();
        this.filterBayar = null;
      },
      loadLogArea(){
        axios.get('api/rekap/kantor-area').then(({
            data
        }) => (this.dataLogArea = data));
      },
      logArea(){
        this.modeSubArea = false;
        this.loadLogArea();
        $('#modalQ').modal('show');
      },
      prosesRekapArea() {
          swal({
              title: 'Rekap Data?',
              text: "Operasi ini tidak dapat dibatalkan!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Ya, rekap data!',
              cancelButtonText: 'Batal'
          }).then((result) => {

              if (result.value) {
                  var formData = new FormData(document.getElementById("FormRekapArea"));
                  let instance = this;
                  axios.post('api/rekap/kantor-area', formData)
                      .then(() => {
                          this.$Progress.start();
                          console.log(formData);
                          swal(
                              'Sukses!',
                              'Data berhasil disimpan.',
                              'success'
                          )
                          this.$Progress.finish();
                      }).catch(() => {
                          swal(
                              'Gagal!',
                              'Terjadi kesalahan',
                              'warning'
                          )
                      })
              }
          })
      },
        loadLogSubArea(){
          axios.get('api/rekap/sub-area').then(({
              data
          }) => (this.dataLogSubArea = data));
        },
        logSubArea(){
          this.modeSubArea = true;
          this.loadLogSubArea();
          $('#modalQ').modal('show');
        },
        prosesRekap() {
            swal({
                title: 'Rekap Data?',
                text: "Operasi ini tidak dapat dibatalkan!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya, rekap data!',
                cancelButtonText: 'Batal'
            }).then((result) => {

                if (result.value) {
                    var formData = new FormData(document.getElementById("FormRekap"));
                    let instance = this;
                    axios.post('api/rekap/sub-area', formData)
                        .then(() => {
                            this.$Progress.start();
                            console.log(formData);
                            swal(
                                'Sukses!',
                                'Data berhasil disimpan.',
                                'success'
                            )
                            this.$Progress.finish();
                        }).catch(() => {
                            swal(
                                'Gagal!',
                                'Terjadi kesalahan',
                                'warning'
                            )
                        })
                }
            })
        },
        filterDataPenerimaan() {
            axios.get('api/keuangan/filter/data-penerima/' + this.form.tanggal_x + '/' + this.form.tanggal_y).then(({
                data
            }) => (this.pembayaran = data));
        },
        filterPenerimaan() {
            axios.get('api/keuangan/filter/hitung/' + this.form.tanggal_x + '/' + this.form.tanggal_y).then((response) => (this.filterBayar = response.data));
        },
        filterTanggal() {
            axios.get('api/keuangan/filter/' + this.form.tanggal_x + '/' + this.form.tanggal_y).then(({
                data
            }) => (this.filterPemasukan = data));
        },
        cekKantor() {
            axios.get("api/cek-kantor").then(({
                data
            }) => (this.kantor = data));
        },
        loadBayar() {
            axios.get("api/keuangan/filter/hitung").then((response) => (this.bayar = response.data));
        },
        loadPelanggan() {
            axios.get("api/summary-pelanggan").then((response) => (this.pelanggan = response.data));
        },
        loadPendapatan() {
            axios.get("/api/keuangan/pemasukan").then(({
                data
            }) => (this.pemasukan = data));
        },
        loadPembayaran() {
            axios.get("api/keuangan/data-penerimaan").then(({
                data
            }) => (this.pembayaran = data));
        },
        ExportExcel() {
            window.location.href = '/excel/lap-pembayaran/export/';

        },
        ExportExcel1() {
            window.location.href = '/excel/lap-pembayaran/export/csv/';
        },

    },
    created() {
        this.$Progress.start();
        if (this.$gate.isAdArea()) {
          this.loadPendapatanSubArea();
        }
        this.loadPembayaran('');
        this.cekKantor();
        this.loadBayar();
        this.loadPendapatan();
        this.loadPelanggan();
        this.$Progress.finish();
    }

}
</script>
