<template>
<div class="table-responsive">
    <div class="col-md-12">
        <section class="content-header">
            <h1>
                Setoran Sub Area
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#"> Setoran Sub Area</a></li>
            </ol>
        </section>


        <div class="col-md-4">
            <div class="nav-tabs-custom" style="margin-top: 10px;">

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Pendapatan Sub Area</a></li>

                </ul>

                <div class="tab-content">

                    <div class="tab-pane active" id="tab_1">
                        <div class="form-group">

                          <h5>Total Pendapatan Sub Area</h5>
                          <h5 class="text-right red" v-for="total in totalTagihan">Rp. {{total.total_pendapatan | currency}}</h5>
                          <hr>
                          <h5>Total Setoran Sub Area</h5>
                          <h5 class="text-right red" v-for="total in totalTagihan">Rp. {{total.total_terbayarkan | currency}}</h5>
                          <hr>
                          <h5>Total Piutang Sub Area</h5>
                          <h5 class="text-right red" v-for="total in totalTagihan">Rp. {{total.total_hutang | currency}}</h5>
                        </div>
                        <v-client-table style="margin-top: 20px" :data="subarea" :columns="columns" :options="options">
                          <a slot="aksi" slot-scope="{row}" class="btn btn-default" href="#tab_1_detail" @click="cekTagihan(row.id) & cekJumlahTagihan(row.id)">
                            <i class="fa fa-search blue"></i> Detail
                          </a>
                        </v-client-table>

                        <br>
                        <div class="box-footer text-center">

                        </div>


                    </div>



                </div>

            </div>
        </div>

        <div class="col-md-8">
            <div class="nav-tabs-custom" style="margin-top: 10px;">

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Data Setoran </a></li>

                </ul>

                <div class="tab-content">

                    <div class="tab-pane active" id="tab_1">

                      <v-client-table style="margin-top: 20px" :data="dataSetoran" :columns="columnsSetoran" :options="optionsSetoran">
                        <a slot="aksi" slot-scope="{row}" class="btn btn-default" href="#" @click="konfirmSetoran(row.id)">
                          <i class="fa fa-check blue"></i> Konfirm
                        </a>
                        <a slot="tolak" slot-scope="{row}" class="btn btn-default" href="#" @click="tolakSetoran(row.id)">
                          <i class="fa fa-window-close red"></i> Tolak
                        </a>
                        <p slot="no_ref" class="red" slot-scope="{row}">{{row.no_ref}}</p>
                        <p slot="jml_setoran" class="red" slot-scope="{row}">Rp {{row.jml_setoran | currency}}</p>
                      </v-client-table>

                      <br>
                        <div class="box-footer text-center">

                        </div>


                    </div>



                </div>

            </div>
        </div>

        <div class="col-md-8">
            <div class="nav-tabs-custom" style="margin-top: 10px;">

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1_detail" data-toggle="tab" aria-expanded="true" v-for="data in detailTagihan">Detail Tagihan {{data.nama_subarea}}</a></li>

                </ul>

                <div class="tab-content">

                    <div class="tab-pane active" id="tab_1_detail">
                      <div class="alert alert-warning">
                          <h4><i class="icon fa fa-exclamation-triangle"></i> Perhatian!</h4>
                          Klik tombol detail di tiap Sub Area untuk melihat detail tagihan masing-masing sub area.
                      </div>

                      <v-client-table style="margin-top: 20px" :data="detailTagihan" :columns="columnsTagihan" :options="optionsTagihan">
                        <p slot="periode" class="blue" slot-scope="{row}">{{row.periode | moment("MMMM YYYY")}}</p>
                        <p slot="jml_penerimaan" class="red" slot-scope="{row}">Rp {{row.jml_penerimaan | currency}}</p>
                        <p slot="jml_tagihan" class="red" slot-scope="{row}">Rp {{row.jml_tagihan | currency}}</p>
                        <p slot="jml_terbayar" class="red" slot-scope="{row}">Rp {{row.jml_terbayar | currency}}</p>
                        <p slot="jml_hutang" class="red" slot-scope="{row}">Rp {{row.jml_hutang | currency}}</p>
                      </v-client-table>
                      <h3></h3>

                      <br>
                        <div class="box-footer text-center">

                        </div>


                    </div>



                </div>

            </div>
        </div>




    </div>
    <!--  -->



</div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import {
    id
} from 'vuejs-datepicker/dist/locale'
import DatePicker from 'vue2-datepicker'


import JsonExcel from 'vue-json-excel';
import axios from 'axios';
Vue.component('downloadExcel', JsonExcel);

export default {
    components: {
        DatePicker
    },
    data() {
        return {
            modeSubArea: false,
            id: id,
            date: new Date(),
            format: "yyyy-MM-dd",
            pelanggan: '',
            bayar: '',
            tagihanData: [],
            search: {},
            tarif2: [],
            tagihan: [],
            filterPemasukan: [],
            lang: {
                days: ['Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab', 'Ming'],
                months: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                pickers: ['next 7 days', 'next 30 days', 'previous 7 days', 'previous 30 days'],
                placeholder: {
                    date: 'Pilih Tanggal',
                    dateRange: 'Select Date Range'
                }
            },
            columnsTagihan: [
                'no_ref', 'periode', 'jml_tagihan', 'jml_terbayar', 'jml_hutang', 'updated_at',
            ],
            optionsTagihan: {
              texts: {
                  filterPlaceholder: "Cari data",
                  filter: "Pencarian : ",
                  filterBy: "Cari berdasarkan {column}",
                  count: "Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
                  noResults: "Data tidak ditemukan",
              },
              headings: {
                no_ref: 'No Ref',
                periode: 'Periode',
                jml_penerimaan: 'Jumlah Penerimaan',
                jml_tagihan: 'Besar Tagihan',
                jml_terbayar: 'Terbayarkan',
                jml_hutang: 'Besar Hutang',
                updated_at: 'Tercatat tanggal',
              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: {
                  dropdown: false
              },
              columnsClasses: {
                  no_ref: 'h5 text-center',
                  periode: 'h5 text-center',
                  jml_penerimaan: 'h5 text-center',
                  jml_tagihan: 'h5 text-right',
                  jml_terbayar: 'h5 text-right',
                  jml_hutang: 'h5 text-right',
                  updated_at: 'h5 text-center',
              },
              sortable: ['jml_tagihan', 'jml_terbayar', 'jml_hutang', 'updated_at'],
              filterable: ['jml_tagihan', 'jml_terbayar', 'jml_hutang', 'updated_at'],
            },
            columnsSetoran: [
                'aksi', 'tolak', 'nama_subarea', 'no_ref', 'jml_setoran', 'nama',
            ],
            optionsSetoran: {
              texts: {
                  filterPlaceholder: "Cari data",
                  filter: "Pencarian : ",
                  filterBy: "Cari berdasarkan {column}",
                  count: "Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
                  noResults: "Data tidak ditemukan",
              },
              headings: {
                aksi: 'Konfirm',
                tolak: 'Tolak',
                nama_subarea: 'Sub Area',
                no_ref: 'No Referensi',
                jml_setoran: 'Jumlah Setoran',
                nama: 'Nama Penyetor',
              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: {
                  dropdown: false
              },
              columnsClasses: {
                  aksi: 'h5 text-center',
                  tolak: 'h5 text-center',
                  nama_subarea: 'h5',
                  no_ref: 'h5',
                  jml_setoran: 'h5 text-right',
                  nama: 'h5',

              },
              sortable: ['aksi', 'tolak', 'nama_subarea', 'no_ref', 'jml_setoran', 'nama',],
              filterable: ['aksi', 'tolak', 'nama_subarea', 'no_ref', 'jml_setoran', 'nama',],
            },
            columns: [
                'nama_subarea', 'aksi',
            ],
            options: {
              texts: {
                  filterPlaceholder: "Cari data",
                  filter: "Pencarian : ",
                  filterBy: "Cari berdasarkan {column}",
                  count: "Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
                  noResults: "Data tidak ditemukan",
              },
              headings: {
                aksi: 'Aksi',
                nama_subarea: 'Nama Sub Area',
                alamat: 'Alamat',
                nama_manager: 'Nama Manager',
                aksi: 'Detail',
              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: {
                  dropdown: false
              },
              columnsClasses: {
                  aksi: 'h5 text-center',
                  nama_subarea: 'h5',
                  alamat: 'h5',
                  nama_manager: 'h5',

              },
              sortable: ['nama_subarea', 'alamat', 'nama_manager'],
              filterable: ['nama_subarea', 'alamat', 'nama_manager'],
            },

            form: new Form({
                tanggal_x: '',
                tanggal_y: '',
            }),

            byrForm: new Form({
              id: '',
              periode: '',
              jml_tagihan: '',
              jml_terbayar: '',
              jml_hutang: '',
              jml_setoran: '',
              no_ref: '',

            }),

            money : {
                decimal: ',',
                thousands: '.',
                prefix: 'Rp ',
                suffix: '',
                precision: 0,
                masked: false
            },
            subarea: [],
            detailTagihan: [],
            dataSetoran: [],
            totalTagihan: [],
            jmlTagihan: [],
        }
    },
    methods: {
        tolakSetoran(id){
          swal({
              title: 'Tolak Setoran?',
              text: "Operasi ini tidak dapat dibatalkan!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Ya, tolak!',
              cancelButtonText: 'Batal'
          }).then((result) => {

              if (result.value) {
                axios.post('/api/keuangan/setoran/sub-area/tolak/'+id)
                    .then(() => {
                        this.$Progress.start();
                        swal(
                            'Sukses!',
                            'Data berhasil disimpan.',
                            'success'
                        )
                        Fire.$emit('AfterKonfirm');
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        swal(
                            'Gagal!',
                            'Terjadi kesalahan',
                            'warning'
                        )
                    })
              }
          })
        },
        konfirmSetoran(id){
          swal({
              title: 'Konfirmasi Setoran?',
              text: "Operasi ini tidak dapat dibatalkan!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Ya, konfirmasi!',
              cancelButtonText: 'Batal'
          }).then((result) => {

              if (result.value) {
                axios.post('/api/keuangan/setoran/sub-area/konfirm/'+id)
                    .then(() => {
                        this.$Progress.start();
                        swal(
                            'Sukses!',
                            'Data berhasil disimpan.',
                            'success'
                        )
                        Fire.$emit('AfterKonfirm');
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        swal(
                            'Gagal!',
                            'Terjadi kesalahan',
                            'warning'
                        )
                    })
              }
          })

        },
        loadSetoran(){
          axios.get('api/keuangan/setoran/sub-area').then(({
              data
          }) => (this.dataSetoran = data));
        },
        totalTagihanSub(){
          axios.get('api/keuangan/total-tagihan/sub-area').then(({
              data
          }) => (this.totalTagihan = data));
        },
        daftarTagihan(){
          axios.get('api/keuangan/kantor-area/daftar-sub-area').then(({
              data
          }) => (this.subarea = data));
        },
        cekJumlahTagihan(id){
          axios.get('api/keuangan/cek-tagihan/total/sub-area/'+id).then(({
              data
          }) => (this.jmlTagihan = data));
        },
        cekTagihan(id){
          axios.get('api/keuangan/cek-tagihan/sub-area/'+id).then(({
              data
          }) => (this.detailTagihan = data));
        }




    },
    created() {
        this.$Progress.start();
        Fire.$on('AfterKonfirm', () => {
          this.loadSetoran();
          this.totalTagihanSub();
         });
        this.daftarTagihan();
        this.loadSetoran();
        this.totalTagihanSub();
        this.$Progress.finish();
    }

}
</script>
