<template>
    <div class="table-responsive" v-if="this.$gate.isInternal()">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Share Internal
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Share Internal</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-chevron-up"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="col-md-12">
            <div class="alert alert-warning">
                <h4><i class="icon fa fa-exclamation-triangle"></i> Perhatian!</h4>
                <li>Pendapatan kotor didapat dari jumlah lembar sertifikat yang telah terbit dikalikan Rp 1.900</li>
                <li>Alokasi Pengembangan didapat dari 50% jumlah pendapatan kotor</li>
                <li>Alokasi Share didapat dari 50% jumlah pendapatan kotor</li>
                <li>Jumlah didapat dengan Alokasi Share dikali dengan persen</li>
            </div>
          </div>

          <div class="col-md-12">
            <v-client-table :data="shareInternal" :columns="columns" :options="options">
              <a slot="aksi" slot-scope="{row}" class="btn btn-default" href="#" @click="cekShare(row.kode_alokasi)">
                <i class="fa fa-search blue"></i> Detail
              </a>
              <p slot="periode" class="text-center blue" slot-scope="{row}">{{row.periode | moment("MMMM YYYY")}}</p>
              <p slot="pendapatan_kotor" class="red  text-right" slot-scope="{row}">Rp {{row.pendapatan_kotor | currency}}</p>
              <p slot="alokasi_pengembangan" class="red  text-right" slot-scope="{row}">Rp {{row.alokasi_pengembangan | currency}}</p>
              <p slot="jumlah_share" class="red  text-right" slot-scope="{row}">Rp {{row.jumlah_share | currency}}</p>

            </v-client-table>

          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center">

        </div>
         <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
    <div class="modal fade" id="modalQ" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="addNewLabel">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                      <div class="modal-body">
                        <label for="" class="red">Detail Share Internal</label>

                        <v-client-table :data="detailShare" :columns="detailColumns" :options="optionsDetail">

                          <p slot="persen" class="blue text-right" slot-scope="{row}">{{row.persen}}%</p>
                          <p slot="jumlah" class="red  text-right" slot-scope="{row}">Rp {{row.jumlah | currency}}</p>
                        </v-client-table>

                        <br>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Tutup</button>
                      </div>
                </div>
               </div>
        </div>


    </div>
 </div>

</template>

<script>
import Datepicker from 'vuejs-datepicker';
import {
    id
} from 'vuejs-datepicker/dist/locale'
    export default {
      components: {
          Datepicker,
      },
        data(){
          return {
            id: id,
            format: "yyyy-MM-dd",
            editMode: false,
            columns : [
              'aksi','periode','pendapatan_kotor','alokasi_pengembangan','jumlah_share'
            ],
            options: {
              texts: {
                filterPlaceholder:"Cari data",
                filter:"Pencarian : ",
                filterBy:"Cari berdasarkan {column}",
                count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
              },
              headings: {
                periode : 'Bulan',
                nama : 'Nama',
                pendapatan_kotor : 'Pendapatan Kotor',
                alokasi_pengembangan : 'Alokasi Pengembangan',
                jumlah_share : 'Alokasi Share',
              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: { dropdown:false },
              columnsClasses: {
                aksi: 'text-center',
                periode : 'h5',
                nama : 'h5',
                pendapatan_kotor : 'h5',
                alokasi_pengembangan : 'h5',
                jumlah_share : 'h5',
              },
              sortable : ['periode','pendapatan_kotor','alokasi_pengembangan','jumlah_share'],
              filterable : ['periode','pendapatan_kotor','alokasi_pengembangan','jumlah_share'],
            },
            detailColumns : [
              'nama','persen','jumlah'
            ],
            optionsDetail: {
              texts: {
                filterPlaceholder:"Cari data",
                filter:"Pencarian : ",
                filterBy:"Cari berdasarkan {column}",
                count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
              },
              headings: {
                nama : 'Nama',
                persen : 'Persen',
                jumlah : 'Jumlah',
              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: { dropdown:false },
              columnsClasses: {
                nama : 'Nama',
                persen : 'Persen',
                jumlah : 'Jumlah',
              },
              sortable : ['nama','persen','jumlah'],
              filterable : ['nama','persen','jumlah'],
            },

            shareInternal : [],
            detailShare: [],
          }
        },
        methods: {
          cekShare(kode_alokasi){
            axios.get('api/khusus/share-internal/'+kode_alokasi).then(({data}) => (this.detailShare = data));
            $('#modalQ').modal('show');
          },
          loadInternal(){
            axios.get("api/khusus/share-internal").then(({data}) => (this.shareInternal = data));
          }
        },
        created() {
         this.$Progress.start();
         if (this.$gate.isInternal()) {
           this.loadInternal('');
           Fire.$on('AfterCreate', () => {
            this.loadInternal('');
            });
         }
         this.$Progress.finish();
       }
    }
</script>
