<template>

<div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Kantor Wilayah
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#"> Master Data</a></li>
                <li><a href="#"> Kantor Wilayah</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>

                    <div class="box-tools pull-right">
                        <button v-if="$gate.isAdminPusat()" class="btn btn-primary btn-sm" @click="newModal">Tambah<i class="fas fa-plus fa-fw"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-chevron-up"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <v-client-table v-if="$gate.isAdminPusat()" :data="wilayah" :columns="columns" :options="options">
                            <a slot="edit" slot-scope="{row}" href="#" @click="editModal(row)">
                                <i class="fa fa-edit blue"></i>
                            </a>
                            <p slot="share" class="red" slot-scope="{row}">{{row.share}}%</p>
                        </v-client-table>

                    </div>
                </div>
                <!-- /.box-body -->
                <!-- /.box-footer-->
            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->

        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 v-show="!editMode" class="modal-title" id="addNewLabel">Tambah Kantor Wilayah</h5>
                        <h5 v-show="editMode" class="modal-title" id="addNewLabel">Ubah Kantor Wilayah</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editMode ? updateKWilayah() : createKWilayah()">
                        <div class="modal-body">
                          <div class="form-group">
                              <label for="">Wilayah</label>
                              <select v-model="form.id_kwilayah" name="id_kwilayah" id="id_wilayah" class="form-control" :class="{ 'is-invalid': form.errors.has('id_kwilayah') }">
                                  <option v-for="kantor in dataWilayah" :value="kantor.id">{{ kantor.nama_wilayah }}</option>
                              </select>
                              <has-error :form="form" field="id_kwilayah"></has-error>
                              <label for="" class="red">Abaikan jika tidak diubah</label>
                          </div>
                            <div class="form-group">
                                <label for="">Persenan Wilayah</label>
                                <input v-model="form.share" type="text" name="share" class="form-control" :class="{ 'is-invalid': form.errors.has('share') }" id="share">
                                <has-error :form="form" field="share"></has-error>
                                <label for="" class="red">Cukup masukkan angka tanpa %</label>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                            <button v-show="editMode" type="submit" class="btn btn-success">Ubah</button>
                            <button v-show="!editMode" type="submit" class="btn btn-primary">Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            editMode: false,

            columns: [
                'edit', 'id', 'nama_wilayah', 'share'
            ],
            wilayah: [],
            options: {
                texts: {
                  filterPlaceholder:"Cari data",
                  filter:"Pencarian : ",
                  filterBy:"Cari berdasarkan {column}",
                  count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
                },
                headings: {
                    edit: 'Edit',
                    id: 'No',
                    nama_wilayah: 'Wilayah',
                    share: 'Persenan'
                },
                sortable: ['id', 'nama_wilayah', 'share'
                ],
                filterable: [ 'id', 'nama_wilayah', 'share'
                ],
                columnsDisplay: {},
                filterByColumn: true,
                pagination: { dropdown:false },
                columnsClasses: {
                  edit: 'h5 text-center',
                  id: 'h5',
                  nama_wilayah: 'h5',
                  share: 'h5'
                },

            },
            form: new Form({
                id: '',
                id_kwilayah: '',
                share: '',
            }),
            dataWilayah: [],
        }
    },
    methods: {
        updateKWilayah() {
            this.$Progress.start();

            this.form.put('api/keuangan/pusat/share-wilayah/' + this.form.id)
                .then(() => {
                    $('#addNew').modal('hide');
                    swal(
                        'Sukses!',
                        'Data berhasil dirubah.',
                        'success'
                    )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate')
                }).catch(() => {

                });
        },
        editModal(wilayah) {
            this.editMode = true;
            this.form.reset();
            this.getWilayah();
            $('#addNew').modal('show');
            this.form.fill(wilayah);
        },
        hapusWilayah(id) {
            swal({
                title: 'Anda yakin?',
                text: "Operasi ini tidak dapat dibatalkan!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya, hapus data!',
                cancelButtonText: 'Batal'
            }).then((result) => {

                if (result.value) {
                    this.form.delete('api/kantor-wilayah/' + id).then(() => {
                        swal(
                            'Dihapus!',
                            'Data berhasil dihapus.',
                            'success'
                        )
                        Fire.$emit('AfterCreate')
                    }).catch(() => {
                        swal("Gagal!", "Terjadi kesalahan.",
                            "warning");
                    });
                }

            })
        },
        createKWilayah() {
            this.$Progress.start();
            this.form.post('api/keuangan/pusat/share-wilayah')
                .then(() => {
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide');
                    swal(
                        'Sukses!',
                        'Data berhasil disimpan.',
                        'success'
                    )
                    this.$Progress.finish();
                })
                .catch(() => {
                    swal(
                        'Gagal!',
                        'Terjadi kesalahan',
                        'warning'
                    )
                })
        },
        getWilayah(){
          // axios.get("api/data-wilayah").then(({data}) => (this.wilayah = data.data))
          axios.get("api/data-wilayah").then(({data}) => (this.dataWilayah = data));
        },
        newModal() {
            this.editMode = false;
            this.getWilayah();
            this.form.reset();
            $('#addNew').modal('show');
        },
        loadWilayah() {
            axios.get("api/keuangan/pusat/share-wilayah").then(({
                data
            }) => (this.wilayah = data));
        }
    },
    created() {
        this.$Progress.start();
        this.loadWilayah('');
        Fire.$on('AfterCreate', () => {
            this.loadWilayah('');
        });
        this.$Progress.finish();
    }
}
</script>
<style>

</style>
