<template>
<div class="table-responsive">
    <div class="col-md-12">
        <section class="content-header">
            <h1>
                Tagihan
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#"> Tagihan dan Hutang</a></li>
            </ol>
        </section>


        <div class="col-md-12">
            <div class="nav-tabs-custom" style="margin-top: 10px;">

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Seluruh Tagihan</a></li>

                </ul>

                <div class="tab-content">

                    <div class="tab-pane active" id="tab_1">
                      <div class="alert alert-warning alert-dismissible">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                          <h4><i class="icon fa fa-exclamation-triangle"></i> Perhatian!</h4>
                          Besar tagihan didapatkan dari hasil rekap penerimaan. Apabila total penerimaan dan total tagihan tidak sama, mohon klik tombol simpan rekap yang ada di <router-link to="/rekap-penerimaan">halaman ini</router-link>
                      </div>
                        <form method="POST" @submit.prevent="filterTagihan() & filterTotalTagihan()">
                            <label for="">Tanggal Awal</label>
                            <!-- <input type="date" v-model="form.tanggal_x" name="tgl1" class="form-control"> -->
                            <date-picker name="tanggal_x" v-model="form.tanggal_x" :lang="lang" value-type="format" confirm :class="{ 'is-invalid': form.errors.has('tanggal_x') }"></date-picker>
                            <has-error :form="form" field="tanggal_x"></has-error>
                            <label for="" style="margin-top:10px">Tanggal Akhir</label>
                            <date-picker name="tanggal_y" v-model="form.tanggal_y" :lang="lang" value-type="format" confirm :class="{ 'is-invalid': form.errors.has('tanggal_y') }"></date-picker>
                            <has-error :form="form" field="tanggal_y"></has-error>
                            <!-- <input type="text" v-model="form.tanggal" name="" value=""> -->
                            <button type="submit" class="btn btn-primary btn-md">Cari</button>
                            <a href="#" class="btn btn-danger btn-md" @click="resetFilter">Reset Filter</a>
                        </form>


                        <v-client-table style="margin-top: 20px" v-show="$gate.isAdSubArea()" :data="tagihanData" :columns="columns" :options="options">
                          <a slot="aksi" slot-scope="{row}" class="btn btn-default" href="#" @click="bayarTagihan(row)">
                            <i class="fa fa-edit blue"></i> Bayar
                          </a>
                          <a slot="pembayaran" slot-scope="{row}" class="btn btn-default" href="#" @click="cekPembayaran(row.id)">
                            <i class="fa fa-search blue"></i> Cek Pembayaran
                          </a>
                          <p slot="periode" class="blue" slot-scope="{row}">{{row.periode | moment("MMMM YYYY")}}</p>
                          <p slot="jml_penerimaan" class="red" slot-scope="{row}">Rp {{row.jml_penerimaan | currency}}</p>
                          <p slot="jml_tagihan" class="red" slot-scope="{row}">Rp {{row.jml_tagihan | currency}}</p>
                          <p slot="jml_terbayar" class="red" slot-scope="{row}">Rp {{row.jml_terbayar | currency}}</p>
                          <p slot="jml_hutang" class="red" slot-scope="{row}">Rp {{row.jml_hutang | currency}}</p>
                        </v-client-table>

                        <div class="col-md-12 text-right">
                          <div class="col-md-9">
                            <h3>Total Terbayarkan</h3>
                          </div>
                          <div class="col-md-3 col-offset-5">
                              <h3 class="red" v-for="ttotal in tagihanTotal">Rp. {{ttotal.total_terbayarkan| currency}}</h3>
                          </div>
                          <div class="col-md-9">
                            <h3>Sisa Tagihan/ Hutang</h3>
                          </div>
                          <div class="col-md-3 col-offset-5">
                              <h3 class="red" v-for="ttotal in tagihanTotal">Rp. {{ttotal.sisa_tagihan| currency}}</h3>
                          </div>
                        </div>
                        <div class="box-footer text-center">

                        </div>


                    </div>



                </div>

            </div>
        </div>



    </div>
    <!--  -->
    <div class="modal fade" id="modalQ" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addNewLabel">Bayar/ Setor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="setorTagihan()" method="POST">
                <div class="modal-body">
                    <label for="" class="red">Masukkan jumlah setoran. Lalu transfer dengan mengikutsertakan nomor referensi dan konfirmasi melalui WA dengan mengirim bukti transfer serta nomor referensi yang diberikan</label>

                      <div class="form-group col-md-6">
                        <label for="">Periode Tagihan</label>
                        <input readonly type="text" v-model="byrForm.periode" :class="{ 'is-invalid': form.errors.has('periode') }"  class="form-control" name="periode" value="">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="">Jumlah Tagihan</label>
                        <money readonly type="text" v-model="byrForm.jml_tagihan" v-bind="money" :class="{ 'is-invalid': form.errors.has('jml_tagihan') }" class="form-control" name="jml_tagihan" value=""></money>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="">Terbayarkan</label>
                        <money readonly type="text" v-model="byrForm.jml_terbayar" v-bind="money" :class="{ 'is-invalid': form.errors.has('jml_terbayar') }" class="form-control" name="jml_terbayar" value=""></money>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="">Sisa Tagihan/ Hutang</label>
                        <money readonly type="text" v-model="byrForm.jml_hutang" v-bind="money" :class="{ 'is-invalid': form.errors.has('jml_hutang') }" class="form-control" name="jml_hutang" value=""></money>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="">No Referensi</label>
                        <input type="text" v-model="byrForm.no_ref" readonly :class="{ 'is-invalid': form.errors.has('jml_setoran') }" class="red form-control" name="jml_setoran" value="">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="">Jumlah Setoran</label>
                        <money type="text" v-model="byrForm.jml_setoran" v-bind="money" :class="{ 'is-invalid': form.errors.has('jml_setoran') }" class="form-control" name="jml_setoran" value=""></money>
                      </div>


                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
                    <button type="submit" name="button" class="btn btn-primary">Simpan</button>
                </div>

              </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalK" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addNewLabel">Data Pembayaran Tagihan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <div class="alert alert-warning">
                      <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> -->
                      <h4><i class="icon fa fa-exclamation-triangle"></i> Perhatian!</h4>
                      Apabila status masih belum terkonfirmasi, diharapkan untuk konfirmasi melalui Whatsapp dengan mengirimkan bukti transfer beserta nomor referensi.
                  </div>
                    <v-client-table style="margin-top: 20px" v-show="$gate.isAdSubArea()" :data="dataPembayaran" :columns="columnsPembayaran" :options="optionsPembayaran">
                      <p slot="jml_setoran" class="red" slot-scope="{row}">Rp {{row.jml_setoran | currency}}</p>
                      <p slot="keterangan" class="red text-uppercase" slot-scope="{row}">{{row.keterangan }}</p>
                    </v-client-table>

                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
                </div>
            </div>
        </div>
    </div>

</div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import {
    id
} from 'vuejs-datepicker/dist/locale'
import DatePicker from 'vue2-datepicker'


import JsonExcel from 'vue-json-excel';
import axios from 'axios';
Vue.component('downloadExcel', JsonExcel);

export default {
    components: {
        DatePicker
    },
    data() {
        return {
            modeSubArea: false,
            id: id,
            date: new Date(),
            format: "yyyy-MM-dd",
            pelanggan: '',
            bayar: '',
            tagihanData: [],
            search: {},
            tarif2: [],
            tagihan: [],
            filterPemasukan: [],
            lang: {
                days: ['Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab', 'Ming'],
                months: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                pickers: ['next 7 days', 'next 30 days', 'previous 7 days', 'previous 30 days'],
                placeholder: {
                    date: 'Pilih Tanggal',
                    dateRange: 'Select Date Range'
                }
            },
            columnsPembayaran: [
                'no_ref', 'jml_setoran', 'nama', 'keterangan', 'created_at',
            ],
            optionsPembayaran: {
              texts: {
                  filterPlaceholder: "Cari data",
                  filter: "Pencarian : ",
                  filterBy: "Cari berdasarkan {column}",
                  count: "Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
                  noResults: "Data tidak ditemukan",
              },
              headings: {

                no_ref: 'No Ref',
                jml_setoran: 'Jumlah Setoran',
                nama: 'Nama Penyetor',
                keterangan: 'Status',
                created_at: 'Tercatat tanggal',
              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: {
                  dropdown: false
              },
              columnsClasses: {
                  no_ref: 'h5 text-center',
                  jml_setoran: 'h5 text-right',
                  nama: 'h5 text-center',
                  keterangan: 'h5 text-center',
                  created_at: 'h5 text-center',
              },
              sortable: ['no_ref', 'jml_setoran', 'nama', 'keterangan', 'created_at',],
              filterable: ['no_ref', 'jml_setoran', 'nama', 'keterangan', 'created_at',],
            },
            columns: [
                'aksi', 'pembayaran', 'no_ref', 'periode', 'jml_penerimaan', 'jml_tagihan', 'jml_terbayar', 'jml_hutang', 'updated_at',
            ],
            options: {
              texts: {
                  filterPlaceholder: "Cari data",
                  filter: "Pencarian : ",
                  filterBy: "Cari berdasarkan {column}",
                  count: "Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
                  noResults: "Data tidak ditemukan",
              },
              headings: {
                aksi: 'Aksi',
                pembayaran: 'Cek Pembayaran',
                no_ref: 'No Ref',
                periode: 'Periode',
                jml_penerimaan: 'Jumlah Penerimaan',
                jml_tagihan: 'Besar Tagihan',
                jml_terbayar: 'Terbayarkan',
                jml_hutang: 'Besar Hutang',
                updated_at: 'Tercatat tanggal',
              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: {
                  dropdown: false
              },
              columnsClasses: {
                  aksi: 'h5 text-center',
                  pembayaran: 'h5 text-center',
                  no_ref: 'h5 text-center',
                  periode: 'h5 text-center',
                  jml_penerimaan: 'h5 text-center',
                  jml_tagihan: 'h5 text-right',
                  jml_terbayar: 'h5 text-right',
                  jml_hutang: 'h5 text-right',
                  updated_at: 'h5 text-center',
              },
              sortable: ['jml_tagihan', 'jml_terbayar', 'jml_hutang', 'updated_at'],
              filterable: ['jml_tagihan', 'jml_terbayar', 'jml_hutang', 'updated_at'],
            },

            form: new Form({
                tanggal_x: '',
                tanggal_y: '',
            }),

            byrForm: new Form({
              id: '',
              periode: '',
              jml_tagihan: '',
              jml_terbayar: '',
              jml_hutang: '',
              jml_setoran: '',
              no_ref: '',

            }),

            kantor: [],
            filterBayar: [],
            dataLogSubArea: [],
            dataLogArea: [],
            tagihanTotal: [],
            pemasukan: [],
            dataPembayaran: [],
            money : {
                decimal: ',',
                thousands: '.',
                prefix: 'Rp ',
                suffix: '',
                precision: 0,
                masked: false
            }
        }
    },
    methods: {
        cekPembayaran(id){
          $('#modalK').modal('show');
          this.$Progress.start();
          axios.get('api/keuangan/tagihan/pembayaran/'+id).then(({
              data
          }) => (this.dataPembayaran = data));
          this.$Progress.finish();
        },
        setorTagihan(){
          this.$Progress.start();

          this.byrForm.post('api/keuangan/tagihan/setor/'+this.byrForm.id)
          .then(() => {
            $('#modalQ').modal('hide');
            swal(
              'Sukses!',
              'Berhasil membayar setoran.',
              'success'
              )
            this.$Progress.finish();
            Fire.$emit('AfterSetor')
          }).catch(() => {
            swal(
                'Gagal!',
                'Terjadi kesalahan',
                'warning'
            )
          });
        },
        bayarTagihan(tagihanData){
          $('#modalQ').modal('show');
          this.byrForm.fill(tagihanData);
        },
        resetFilter(){
          this.form.reset();
          // this.loadTagihan();
          this.dataTagihan();
          this.totalTagihan();
        },
        filterTotalTagihan(){
          axios.get('api/keuangan/tagihan/filter/total/' + this.form.tanggal_x + '/' + this.form.tanggal_y).then(({
              data
          }) => (this.tagihanTotal = data));
        },
        totalTagihan(){
          axios.get('api/keuangan/tagihan/total').then(({
            data
          }) => (this.tagihanTotal = data));
        },
        loadLogArea() {
            axios.get('api/rekap/kantor-area').then(({
                data
            }) => (this.dataLogArea = data));
        },
        logArea() {
            this.modeSubArea = false;
            this.loadLogArea();
            $('#modalQ').modal('show');
        },
        prosesRekapArea() {
            swal({
                title: 'Rekap Data?',
                text: "Operasi ini tidak dapat dibatalkan!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya, rekap data!',
                cancelButtonText: 'Batal'
            }).then((result) => {

                if (result.value) {
                    var formData = new FormData(document.getElementById("FormRekapArea"));
                    let instance = this;
                    axios.post('api/rekap/kantor-area', formData)
                        .then(() => {
                            this.$Progress.start();
                            console.log(formData);
                            swal(
                                'Sukses!',
                                'Data berhasil disimpan.',
                                'success'
                            )
                            this.$Progress.finish();
                        }).catch(() => {
                            swal(
                                'Gagal!',
                                'Terjadi kesalahan',
                                'warning'
                            )
                        })
                }
            })
        },
        loadLogSubArea() {
            axios.get('api/rekap/sub-area').then(({
                data
            }) => (this.dataLogSubArea = data));
        },
        logSubArea() {
            this.modeSubArea = true;
            this.loadLogSubArea();
            $('#modalQ').modal('show');
        },
        loadPendapatan() {
            axios.get("/api/keuangan/pemasukan").then(({
                data
            }) => (this.pemasukan = data));
        },
        prosesRekap() {
            swal({
                title: 'Rekap Data?',
                text: "Operasi ini tidak dapat dibatalkan!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya, rekap data!',
                cancelButtonText: 'Batal'
            }).then((result) => {

                if (result.value) {
                    var formData = new FormData(document.getElementById("FormRekap"));
                    let instance = this;
                    axios.post('api/rekap/sub-area', formData)
                        .then(() => {
                            this.$Progress.start();
                            console.log(formData);
                            swal(
                                'Sukses!',
                                'Data berhasil disimpan.',
                                'success'
                            )
                            this.$Progress.finish();
                        }).catch(() => {
                            swal(
                                'Gagal!',
                                'Terjadi kesalahan',
                                'warning'
                            )
                        })
                }
            })
        },
        filterTagihan() {
            axios.get('api/keuangan/tagihan/filter/' + this.form.tanggal_x + '/' + this.form.tanggal_y).then(({
                data
            }) => (this.tagihanData = data));
        },
        cekKantor() {
            axios.get("api/cek-kantor").then(({
                data
            }) => (this.kantor = data));
        },

        loadTagihan() {
            axios.get("/api/keuangan/tagihan/detail").then(({
                data
            }) => (this.tagihan = data));
        },
        dataTagihan() {
            axios.get("api/keuangan/tagihan").then(({
                data
            }) => (this.tagihanData = data));
        },
        ExportExcel() {
            window.location.href = '/excel/lap-pembayaran/export/';

        },
        ExportExcel1() {
            window.location.href = '/excel/lap-pembayaran/export/csv/';
        },

    },
    created() {
        this.$Progress.start();
        Fire.$on('AfterSetor', () => {
         this.dataTagihan('');
         this.totalTagihan('');
         });
        this.loadPendapatan();
        this.dataTagihan('');
        this.totalTagihan();
        this.cekKantor();
        this.loadTagihan();
        this.$Progress.finish();
    }

}
</script>
