<template>
  <div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Pelanggan Baru
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Pelanggan Baru</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">

        <div class="box-body">
          <div class="col-md-12">
            <form method="POST">
            <div class="col-md-12" style="margin-bottom: 10px; margin-top: 10px">
              <label for="">Nama Lengkap :</label>
              <input v-model="form.nama" type="text" name="nama" class="form-control" :class="{ 'is-invalid': form.errors.has('nama') }" id="nama">
              <input type="hidden" v-model="form.id" class="form-control" name="id" value="id">
              <has-error :form="form" field="nama"></has-error>
            </div>

            <div class="col-md-12" style="margin-bottom: 10px">
              <label for="">Alamat :</label>
              <textarea type="text" v-model="form.alamat" name="alamat" id="alamat" class="form-control" rows="4"></textarea>
              <has-error :form="form" field="alamat"></has-error>
            </div>

            <div class="col-md-4" style="margin-bottom: 10px">
              <label for="">Kantor Wilayah :</label>
              <select @click="getProvinsi() & getKota()" @change="loadBtl()" v-model="form.id_kwilayah" name="id_kwilayah" id="id_kwilayah" class="form-control" :class="{ 'is-invalid': form.errors.has('id_kwilayah') }">
                <option v-for="staff in user" :value="staff.id_kwilayah">{{staff.wilayah.nama_wilayah}}</option>
              </select>
              <input type="hidden" class="form-control" id="kode_prov" v-for="prov in provinsi" :value="prov.kode_prov">
              <has-error :form="form" field="id_kwilayah"></has-error>
            </div>
            <div class="col-md-4" style="margin-bottom: 10px">
              <label for="">Kota</label>
              <select @change="getArea()" :disabled="kota.length == 0" v-model="form.kode_kota" name="kode_kota" id="kode_kota" class="form-control">
                <option v-for="kt in kota" :value="kt.kode_kota">{{kt.kota}}</option>
              </select>
              <has-error :form="form" field="kode_kota"></has-error>
            </div>
            <div class="col-md-4" style="margin-bottom: 10px">
              <label for="">Area</label>
              <select @change="getSubArea() & loadPenyedia()" :disabled="area.length == 0" v-model="form.id_karea" name="id_karea" id="id_karea" class="form-control" :class="{ 'is-invalid': form.errors.has('id_karea') }">
                <option v-for="karea in area" :value="karea.id">{{karea.nama}}</option>
              </select>
              <has-error :form="form" field="id_karea"></has-error>
            </div>

            <div class="col-md-3" style="margin-bottom: 10px">

              <label for="">Sub Area</label>
              <select :disabled="subarea.length == 0" v-model="form.id_subarea" name="id_subarea" id="id_subarea" class="form-control" :class="{ 'is-invalid': form.errors.has('id_subarea') }">
                <option value="0">Non SubArea</option>
                <option v-for="sarea in subarea" :value="sarea.id">{{sarea.nama_subarea}}</option>
              </select>
              <label v-show="editMode" class="red">Abaikan apabila Wilayah tidak diubah!</label>
              <has-error :form="form" field="id_subarea"></has-error>
            </div>
            <div class="col-md-3" style="margin-bottom: 10px">
              <label for="">No KTP</label>
              <input type="text" v-model="form.no_identitas" name="no_identitas" id="no_identitas" class="form-control">
              <has-error :form="form" field="no_identitas"></has-error>
            </div>
            <div class="col-md-6" style="margin-bottom: 10px">
              <label for="">Telepon</label>
              <input type="text" v-model="form.no_telepon" name="no_telepon" id="no_telepon" class="form-control">
              <has-error :form="form" field="no_telepon"></has-error>
            </div>

            <div class="col-md-6" style="margin-bottom: 10px">
              <label for="">Tarif</label>
              <select v-model="form.id_tarif" name="id_tarif" id="id_tarif" class="form-control" :class="{ 'is-invalid': form.errors.has('id_tarif') }">
                <option v-for="trf in tarif" :value="trf.id">{{trf.jenis_tarif}}</option>
              </select>
              <has-error :form="form" field="id_tarif"></has-error>
            </div>
            <div class="col-md-6" style="margin-bottom: 10px">
              <label for="">Daya Baru</label>
              <select v-model="form.id_daya" name="id_daya" id="id_daya" class="form-control" :class="{ 'is-invalid': form.errors.has('id_daya') }">
                <option v-for="d in daya" :value="d.id">{{d.daya}}</option>
              </select>
              <has-error :form="form" field="id_daya"></has-error>
            </div>

            <div class="col-md-12" style="margin-bottom: 10px">
              <label for="">Nama BTL :</label>
              <select v-model="form.id_btl" name="id_btl" id="id_btl" class="form-control" :class="{ 'is-invalid': form.errors.has('id_btl') }">
                <option v-for="btl in biro" :value="btl.id">{{btl.nama_btl}}</option>
              </select>
              <has-error :form="form" field="btl.id"></has-error>
            </div>

            <div class="col-md-12" style="margin-bottom: 10px">
              <label for="">Bangunan :</label>
              <select v-model="form.id_bangunan" name="id_bangunan" id="id_bangunan" class="form-control" :class="{ 'is-invalid': form.errors.has('id_bangunan') }">
                <option v-for="bgn in bangunan" :value="bgn.id">{{bgn.jenis_bangunan}}</option>
              </select>
              <has-error :form="form" field="id_bangunan"></has-error>
            </div>

            <div class="col-md-12" style="margin-bottom: 10px">
              <label for="">Penyedia Listrik :</label>
              <select v-model="form.id_penyedia" name="id_penyedia" id="id_penyedia" class="form-control" :class="{ 'is-invalid': form.errors.has('id_penyedia') }">
                <option v-for="peny in penyedia" :value="peny.id">{{peny.nama_penyedia}}</option>
              </select>
              <has-error :form="form" field="id_penyedia"></has-error>
            </div>

             <div class="col-md-3" style="margin-bottom: 10px">
              <label for="">No Gambar :</label>
              <input type="text" v-model="form.no_gambar" name="no_gambar" id="no_gambar" class="form-control">
              <has-error :form="form" field="no_gambar"></has-error>
              <input type="hidden" v-model="form.tipe" name="tipe" id="tipe" class="form-control">
              <input type="hidden" v-model="form.status" name="status" id="status" class="form-control">
            </div>
            <div class="col-md-4" style="margin-bottom: 10px">
              <label for="">Tgl Gambar :</label>
              <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <datepicker :format="format" v-model="form.tgl_gambar"></datepicker>
              </div>
            </div>
            <div class="col-md-5" style="margin-bottom: 10px">
              <label for="">Asosiasi No Gambar :</label>
              <select v-model="form.id_asosiasi" name="id_asosiasi" id="id_asosiasi" class="form-control" :class="{ 'is-invalid': form.errors.has('id_asosiasi') }">
                <option v-for="ass in asosiasi" :value="ass.id">{{ass.nama_asosiasi}}</option>
              </select>
              <has-error :form="form" field="id_asosiasi"></has-error>
            </div>

            <div class="col-md-6" style="margin-bottom: 10px">
              <label for="">No Agenda PLN :</label>
              <input type="text" v-model="form.no_agendapln" name="no_agendapln" id="no_agendapln" class="form-control">
              <has-error :form="form" field="no_agendapln"></has-error>
            </div>
            <div class="col-md-6" style="margin-bottom: 10px">
              <label for="">Tgl Reg PLN :</label>
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <datepicker :format="format" v-model="form.tgl_regpln"></datepicker>
              </div>
            </div>


          </form>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-right" style="margin-right: 30px">
            <button  @click="createPelanggan()" class="btn btn-primary" type="submit">Simpan</button>
        </div>
         <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->



    </div>
 </div>

</template>

<script>
  import Datepicker from 'vuejs-datepicker';

    export default {
        components: {
          Datepicker
        },
        data(){
          return {
            format: "yyyy-MM-dd",
            editMode: false,
            pelanggan: {},

            form: new Form({
              id : '',
              nama : '',
              alamat : '',
              no_telepon : '',
              no_identitas : '',
              id_kwilayah : '',
              id_karea: '',
              kode_kota: '',
              id_subarea: '',
              id_tarif: '',
              id_daya: '',
              id_bangunan: '',
              id_penyedia: '',
              id_asosiasi: '',
              id_btl: '',
              tipe: 'Baru',
              status: 'Belum Bayar',
              tgl_gambar : '',
              tgl_regpln : '',
              no_agendapln : '',
              no_gambar : '',

            }),

            wilayah: {},
            asosiasi: {},
            area: {},
            user: {},
            kota: {},
            provinsi: {},
            subarea: {},
            tarif:{},
            daya:{},
            bangunan:{},
            penyedia:{},
            asosiasi:{},
            biro : {},
          }
        },
        methods: {
          hapusPelanggan(){
            axios.delete('/api/pelanggan-web/delete/'+this.$route.params.id)
          },
          createPelanggan(){
            this.$Progress.start();
            this.form.post('/api/pelanggan')
            .then(() => {
              this.hapusPelanggan();
              Fire.$emit('AfterCreate');
              swal(
                'Sukses!',
                'Data berhasil disimpan.',
                'success'
                )
              this.form.reset();
              this.$Progress.finish();
            })
            .catch(() => {
              swal(
                'Gagal!',
                'Terjadi kesalahan',
                'warning'
                )
            })
          },
          loadBtl(){
            this.biro = [];
            this.form.id_btl = '';

            const params = {
              id_kwilayah : this.form.id_kwilayah
            }

            axios.get('/api/load-biro', {params}).then(response => {
              this.biro = response.data;
            });
          },
          loadPenyedia(){
            this.penyedia = [];
            this.form.id_penyedia = '';

            const params = {
              id_karea : this.form.id_karea
            }

            axios.get('/api/load-penyedia', {params}).then(response => {
              this.penyedia = response.data;
            });
          },
          getSubArea(){
            this.subarea = [];
            this.form.id_subarea = '';

            const params = {
              id_karea : this.form.id_karea
            }

            axios.get('/api/load-subarea', {params}).then(response => {
              this.subarea = response.data;
            });
          },
          getProvinsi(){
            this.provinsi = [];

            const params = {
              id_kwilayah : this.form.id_kwilayah
            }

            axios.get('/api/data-provwilayah', {params}).then(response => {
              this.provinsi = response.data;
            });
          },
          getKota(){
            this.kota = [];

            const params = {
              kode_prov : document.getElementById("kode_prov").value
            }

            axios.get('/api/data-kotaprov', {params}).then(response => {
              this.kota = response.data;
            });
          },
         getArea(){
          this.area = [];
          this.form.id_karea = '';

          const params = {
            kode_kota : this.form.kode_kota
          }

          axios.get('/api/get-area', {params}).then(response => {
            this.area = response.data;
          });
        },
        loadWilayah(){
          axios.get("/api/load-wilayah").then(({data}) => (this.user = data));
        },
        loadTarif(){
          axios.get("/api/load-tarif").then(({data}) => (this.tarif = data));
        },
        loadDaya(){
          axios.get("/api/load-daya").then(({data}) => (this.daya = data));
        },
        loadBangunan(){
          axios.get("/api/load-bangunan").then(({data}) => (this.bangunan = data));
        },
        loadAsosiasi(){
          axios.get("/api/load-asosiasi").then(({data}) => (this.asosiasi = data));
        },
          loadData(){
            axios.get('/api/pelanggan-web/detail/'+this.$route.params.id).then(({data}) => (this.form.fill(data)));
          }
        },
        created() {
         this.$Progress.start();
         this.loadData();
         this.loadWilayah('');
         this.loadTarif('');
         this.loadDaya('');
         this.loadBangunan('');
         this.loadAsosiasi('');
         this.$Progress.finish();
       }
    }
</script>
