<template>
    <div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Admin Pusat
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Admin Pusat</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>
          <div class="box-tools pull-right">
            <button class="btn btn-primary btn-sm" @click="newModal">Tambah<i class="fas fa-plus fa-fw"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-chevron-up"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="col-md-12">
            <v-client-table :data="staff" :columns="columns" :options="options">

                <a slot="edit" slot-scope="{row}" href="#" @click="editModal(row)">
                  <i class="fa fa-edit blue"></i>
                </a>
                <a slot="hapus" slot-scope="{row}" href="#" @click="hapusStaff(row.id)">
                  <i class="fa fa-trash red"></i>
                </a>

            </v-client-table>


          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center">

        </div>
         <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->

    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 v-show="!editMode" class="modal-title" id="addNewLabel">Tambah Admin Pusat</h5>
                    <h5 v-show="editMode" class="modal-title" id="addNewLabel">Ubah Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                      <form @submit.prevent="editMode ? updateStaff() : createStaff()">
                      <div class="modal-body">

                        <div class="form-group">
                            <label for="">NIP</label>
                            <input v-model="form.nip" type="text" name="nip" class="form-control" :class="{ 'is-invalid': form.errors.has('nip') }" id="nip">
                            <has-error :form="form" field="nip"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Nama Lengkap</label>
                            <input v-model="form.nama" type="text" name="nama" class="form-control" :class="{ 'is-invalid': form.errors.has('nama') }" id="nama">
                            <has-error :form="form" field="nama"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input v-model="form.email" type="text" name="email" class="form-control" :class="{ 'is-invalid': form.errors.has('email') }" id="email">
                            <has-error :form="form" field="email"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Username</label>
                            <input v-model="form.username" type="text" name="username" class="form-control" :class="{ 'is-invalid': form.errors.has('username') }" id="username">
                            <has-error :form="form" field="username"></has-error>
                        </div>
                        <div class="form-group" v-show="!editMode">
                            <label for="">Password</label>
                            <input v-model="form.password" type="password" name="password" class="form-control" :class="{ 'is-invalid': form.errors.has('password') }" id="password">
                            <has-error :form="form" field="password"></has-error>
                        </div>
                        <div class="form-group" v-show="!editMode">
                            <label for="">Konfirmasi Password</label>
                            <input v-model="form.password_confirmation" type="password" name="password_confirmation" class="form-control" :class="{ 'is-invalid': form.errors.has('password_confirmation') }" id="password_confirmation">
                            <has-error :form="form" field="password_confirmation"></has-error>
                        </div>


                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                        <button v-show="editMode" type="submit" class="btn btn-success">Ubah</button>
                        <button v-show="!editMode" type="submit" class="btn btn-primary">Simpan</button>
                      </div>
                      </form>
                </div>
               </div>
        </div>

    </div>
 </div>

</template>

<script>
import Datepicker from 'vuejs-datepicker';
import {
    id
} from 'vuejs-datepicker/dist/locale'
    export default {
      components: {
          Datepicker,
      },
        data(){
          return {
            id: id,
            format: "yyyy-MM-dd",
            editMode: false,
            staff : [],
            columns : [
              'edit','hapus','nip','nama','email','username','jabatan',
            ],
            options: {
              texts: {
                filterPlaceholder:"Cari data",
                filter:"Pencarian : ",
                filterBy:"Cari berdasarkan {column}",
                count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
              },
              headings: {
                edit : 'Edit',
                hapus : 'Hapus',
                nip : 'NIP',
                nama : 'Nama',
                email : 'Email',
                username : 'username',
              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: { dropdown:false },
              columnsClasses: {
                edit: 'h5 text-center',
                hapus: 'h5 text-center',
                nip : 'h5',
                nama : 'h5',
                email : 'h5',
                username : 'h5',
              },
              sortable : ['nip','nama','email'],
              filterable : ['nip','nama','email'],
            },

            form: new Form({
              id : '',
              nip : '',
              nama : '',
              email : '',
              username : '',
              jabatan : '',
              departemen : '',
              wewenang : '',
              id_kwilayah : '',
              id_karea : '',
              id_subarea : '',
              status : '',
              password : '',
              password_confirmation : '',
              masa_berlaku : '',
            }),

            wilayah: {},
            area: {},
            subarea: {},
          }
        },
        methods: {
          hapusStaff(id){
            swal({
              title: 'Anda yakin?',
              text: "Operasi ini tidak dapat dibatalkan!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Ya, hapus data!',
              cancelButtonText: 'Batal'
            }).then((result) => {

              if (result.value) {
                this.form.delete('/api/admin-pusat/'+id).then(() => {
                  swal(
                    'Dihapus!',
                    'Data berhasil dihapus.',
                    'success'
                    )
                  Fire.$emit('AfterCreate')
                }).catch(() => {
                  swal("Gagal!", "Terjadi kesalahan.",
                    "warning");
                });
              }
            })
          },
          updateStaff(){
            this.$Progress.start();

            this.form.put('/api/admin-pusat/'+this.form.id)
            .then(() => {
              $('#addNew').modal('hide');
              swal(
                'Sukses!',
                'Data berhasil dirubah.',
                'success'
                )
              this.$Progress.finish();
              Fire.$emit('AfterCreate')
            }).catch(() => {

            });
          },
          editModal(staff){
            this.editMode = true;
            this.form.reset();
            $('#addNew').modal('show');
            this.form.fill(staff);
          },
          createStaff(){
            this.$Progress.start();
            this.form.post('/api/admin-pusat')
            .then(() => {
              Fire.$emit('AfterCreate');
              $('#addNew').modal('hide');
              swal(
                'Sukses!',
                'Data berhasil disimpan.',
                'success'
                )
              this.$Progress.finish();
            })
            .catch(() => {
              swal(
                'Gagal!',
                'Terjadi kesalahan',
                'warning'
                )
            })
          },
          getSubArea(){
            this.subarea = [];
            this.form.id_subarea = '';

            const params = {
              id_karea : this.form.id_karea
            }

            axios.get('api/load-subarea', {params}).then(response => {
              this.subarea = response.data;
            });
          },
          getArea(){
            this.area = [];
            this.form.id_karea = '';

            const params = {
              id_kwilayah : this.form.id_kwilayah
            }

            axios.get('api/load-area', {params}).then(response => {
              this.area = response.data;
            });
          },
          loadWilayah(){
            axios.get("api/data-wilayah").then(({data}) => (this.wilayah = data.data))
          },
          newModal(){
           this.editMode = false;
           this.form.reset();
           this.loadWilayah();
           $('#addNew').modal('show');
          },
          loadAdmin(){
            axios.get("/api/admin-pusat").then(({data}) => (this.staff = data));
          }
        },
        created() {
         this.$Progress.start();
         this.loadAdmin('');
         Fire.$on('AfterCreate', () => {
          this.loadAdmin('');
          });
         this.$Progress.finish();
       }
    }
</script>
