<template>
    <div class="table-responsive">
        <div class="col-md-12">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Belum Bayar
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#"> Belum Bayar</a></li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <div class="box-tools pull-right">

                            <a href="#" @click="ExportExcel()">
                                <button class="btn btn-primary btn-sm">Export Excel</button>
                            </a>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fa fa-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12">

                            <v-client-table v-if="$gate.isAdminPusat() || $gate.isAdWilayah()" :data="pelanggan" :columns="columns" :options="options">
                                <a slot="aksi" slot-scope="{row}" href="#" @click="tampilModal(row.id)">
                                    <button class="btn btn-default">Bayar</button>
                                </a>
                            </v-client-table>

                            <v-client-table v-if="$gate.isAdArea() || $gate.isAdSubArea() || $gate.isManagerArea()" :data="pelanggan" :columns="columnsAdmin" :options="options">
                                <a slot="aksi" slot-scope="{row}" href="#" @click="tampilModal(row.id)">
                                    <button class="btn btn-default">Bayar</button>
                                </a>
                            </v-client-table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-center">

                    </div>
                    <!-- /.box-footer-->
                </div>
                <!-- /.box -->

            </section>
            <!-- /.content -->
            <div class="modal fade" id="tampilModal" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="addNewLabel">Pembayaran</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form @submit.prevent="ProsesPembayaran" id="FormBayar">
                            <div class="row" v-for="dt in detail" :key="dt.id">
                                <div class="modal-body col-md-12">

                                    <div class="form-group col-md-6">
                                        <label for="">No Pendaftaran</label>
                                        <input readonly type="text" v-for="dt in detail" :key="dt.id" :value="dt.no_pendaftaran" name="no_pendaftaran" class="form-control" id="no_pendaftaran">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="">Nama</label>
                                        <input disabled v-for="dt in detail" :key="dt.id" :value="dt.nama" type="text" name="nama" class="form-control" id="nama">

                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="">Alamat</label>
                                        <input disabled v-for="dt in detail" :key="dt.id" :value="dt.alamat" type="text" name="alamat" class="form-control" id="alamat">

                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="">Nama BTL</label>
                                        <input disabled v-for="dt in detail" :key="dt.id" :value="dt.btl.nama_btl" type="text" name="id_btl" class="form-control" id="id_btl">

                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="">Tarif</label>
                                        <input disabled v-for="dt in detail" :key="dt.id" :value="dt.tarif.jenis_tarif" type="text" name="" class="form-control" id="">

                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="">Daya</label>
                                        <input disabled v-for="dt in detail" :key="dt.id" :value="dt.daya.daya" type="text" name="" class="form-control" id="">

                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="">Harga</label>
                                        <input readonly type="text" v-for="dt in detail" :key="dt.id" :value="dt.daya.biaya" name="jumlah" class="form-control" id="jumlah">
                                    </div>

                                    <div class="form-group col-md-12">
                                        <p>Pelanggan tersebut belum melakukan pembayaran. Proses Pembayaran?</p>
                                    </div>

                                </div>
                                <div class="modal-footer" style="margin-right: 20px">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                                    <button  type="submit" class="btn btn-success">Bayar</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import JsonExcel from 'vue-json-excel';
    import axios from 'axios';
    Vue.component('downloadExcel', JsonExcel);

    export default {
        data() {
            return{
                pelanggan: [],
                detail: [],
                data2: [],
                columns: [
                    'aksi', 'no_pendaftaran', 'no_agenda', 'nama', 'alamat', 'kota.kota', 'wilayah.nama_wilayah', 'area.nama', 'subarea.nama_subarea', 'btl.nama_btl', 'tarif.jenis_tarif', 'daya.daya', 'bangunan.jenis_bangunan', 'asosiasi.nama_asosiasi',
                ],
                columnsAdmin: [
                    'aksi', 'no_pendaftaran', 'no_agenda', 'nama', 'alamat', 'kota.kota', 'wilayah.nama_wilayah', 'area.nama', 'subarea.nama_subarea', 'btl.nama_btl', 'tarif.jenis_tarif', 'daya.daya', 'bangunan.jenis_bangunan', 'asosiasi.nama_asosiasi',
                ],
                options: {
                    texts: {
                        filterPlaceholder: "Cari data",
                        filter: "Pencarian : ",
                        filterBy: "Cari berdasarkan {column}",
                        count: "Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
                    },
                    headings: {
                        aksi: 'Aksi',
                        id: 'No',
                        no_pendaftaran: 'No Pendaftaran',
                        no_agendapln: 'No Agenda',
                        nama: 'Nama',
                        alamat: 'Alamat',
                        'kota.kota': 'Kota',
                        'wilayah.nama_wilayah': 'Wilayah',
                        'area.nama': 'Area',
                        'subarea.nama_subarea': 'Sub Area',
                        'btl.nama_btl': 'Biro',
                        'bangunan.jenis_bangunan': 'Bangunan',
                        'tarif.jenis_tarif': 'Tarif',
                        'daya.daya': 'Daya',
                        'asosiasi.nama_asosiasi': 'Asosiasi No Gambar',
                    },
                    columnsDisplay: {},
                    filterByColumn: true,
                    pagination: {dropdown: false},
                    columnsClasses: {
                        edit: 'h5 text-center',
                        hapus: 'h5 text-center',
                        no_pendaftaran: 'h5',
                        no_agenda: 'h5',
                        nama: 'h5',
                        alamat: 'h5',
                        'kota.kota': 'h5',
                        'wilayah.nama_wilayah': 'h5',
                        'area.nama': 'h5',
                        'subarea.nama_subarea': 'h5',
                        'btl.nama_btl': 'h5',
                        'bangunan.jenis_bangunan': 'h5',
                        'tarif.jenis_tarif': 'h5',
                        'daya.daya': 'h5',
                        'asosiasi.nama_asosiasi': 'h5',
                    },
                    sortable: ['id', 'no_pendaftaran', 'no_agenda', 'nama', 'alamat', 'kota.kota', 'wilayah.nama_wilayah', 'area.nama', 'subarea.nama_subarea', 'btl.nama_btl', 'tarif.jenis_tarif', 'daya.daya', 'bangunan.jenis_bangunan', 'asosiasi.nama_asosiasi'],
                    filterable: ['id', 'no_pendaftaran', 'no_agenda', 'nama', 'alamat', 'kota.kota', 'wilayah.nama_wilayah', 'area.nama', 'subarea.nama_subarea', 'btl.nama_btl', 'tarif.jenis_tarif', 'daya.daya', 'bangunan.jenis_bangunan', 'asosiasi.nama_asosiasi'],
                },
                json_fields: {
                    No: 'id',
                    NoPendaftaran: 'no_pendaftaran',
                    NoAgenda: 'no_agendapln',
                    Nama: 'nama',
                    Alamat: 'alamat',
                    Kota: 'kota.kota',
                    Wilayah: 'wilayah.nama_wilayah',
                    Area: 'area.nama',
                    SubArea: 'subarea.nama_subarea',
                    Biro: 'btl.nama_btl',
                    Bangunan: 'bangunan.jenis_bangunan',
                    Tarif: 'tarif.jenis_tarif',
                    Daya: 'daya.daya',
                    Asosiasi: 'asosiasi.nama_asosiasi',
                },

            }
        },
        methods: {
            ExportExcel() {
                window.location.href = '/excel/blmbayar/export/';
            },
            ProsesPembayaran() {
                var formData = new FormData(document.getElementById("FormBayar"));
                let instance = this;
                axios.post('api/pembayaran', formData)
                        .then(() => {
                            console.log(formData);
                            Fire.$emit('AfterCreate');
                            $('#tampilModal').modal('hide');
                            swal( 'Sukses!', 'Data berhasil disimpan.', 'success' )
                            this.$Progress.finish();
                        })
                        .catch(() => {
                            swal( 'Gagal!', 'Terjadi kesalahan', 'warning' )
                        })
            },
            showPelanggan(id) {
                axios.get("api/pembayaran/" + id).then(({data}) => (this.detail = data));
            },
            loadPelanggan() {
                axios.get("api/belum-bayar").then(({data}) => (this.pelanggan = data));
            },
            tampilModal(id) {
                // this.form.reset();
                // this.showPelanggan();
                $('#tampilModal').modal('show');
                // axios.get("api/pembayaran/detail/"+id).then(({data}) => (this.detail = data));
                axios.get("api/pembayaran/detail/" + id).then(response => this.detail = response.data)
            },
        },
        created() {
            this.$Progress.start();
            this.loadPelanggan('');
            Fire.$on('AfterCreate', () => {
                this.loadPelanggan('');
            });
            this.$Progress.finish();
        }
    }
</script>
