<template>
<div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Home
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- Default box -->
                <div v-if="$gate.isAdmin() || $gate.isAdminPusat()" class="col-md-12" style="margin-top: 10px">
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-exclamation-triangle"></i> Perhatian!</h4>
                        Waktu penerbitan SLO maksimal 2 hari setelah pelanggan melakukan registrasi. Mohon untuk dilaksanakan sebaik mungkin
                    </div>
                </div>
                <div v-if="$gate.isAdmin() || $gate.isAdminPusat()" class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ pelanggan }}</h3>

                            <p>Pelanggan</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <router-link to="/pelanggan" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i> More info</router-link>
                    </div>
                </div>

                <div v-if="$gate.isAdmin() || $gate.isAdminPusat()" class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{pembayaran}}</h3>

                            <p>Pembayaran</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-money-bill-alt"></i>
                        </div>

                        <router-link to="/sudah-bayar" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i> More info</router-link>
                    </div>
                </div>

                <div v-if="$gate.isPemeriksa() || $gate.isAdminPusat()" class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ pemeriksaan }}</h3>

                            <p>Pemeriksaan</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <router-link to="/pemeriksaan" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i> More info</router-link>
                    </div>
                </div>

                <div v-if="$gate.isVerifikator () || $gate.isAdminPusat()" class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ verifikasi }}</h3>

                            <p>Verifikasi</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <router-link to="/verifikasi" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i> More info</router-link>
                    </div>
                </div>

                <div v-if="$gate.isAdmin() || $gate.isAdminPusat()" class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ sertifikasi }}</h3>

                            <p>Sertifikasi</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <router-link to="/sertifikasi" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i> More info</router-link>
                    </div>
                </div>

                <div v-if="$gate.isTenagaTeknik() || $gate.isPenanggungJawabTeknik()" class="col-md-12" style="margin-top: 10px">
                    <div v-if="tgl_berlaku.status == 'Aktif'" class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-exclamation-triangle"></i> Perhatian!</h4>
                        <p>{{tgl_berlaku.hitung}} masa aktif akun Anda habis pada tgl {{tgl_berlaku.masa_berlaku}}</p>
                        <p>Waktu penerbitan SLO maksimal 2 hari setelah pelanggan melakukan registrasi. Mohon untuk dilaksanakan sebaik mungkin</p>
                    </div>
                    <div v-if="tgl_berlaku.status == 'Tidak Aktif'" class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-warning"></i> Perhatian!</h4>
                        Masa aktif akun Anda telah habis pada tgl {{tgl_berlaku.masa_berlaku}}. Silakan hubungi Admin Pusat yang bertanggung jawab di Wilayah Anda
                    </div>
                </div>



                <div class="col-md-12" style="margin-top: 10px">
                    <div class="box box-primary">
                        <div class="box-body box-profile">

                            <h4>Selamat datang, selamat beraktivitas. Salam SIP</h4>
                            <hr>
                            <p v-html="berita.berita"></p>


                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>


            </div>
        </section>
        <!-- /.content -->
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            responsePelanggan: [],
            berita: {},
            pelanggan: '',
            pembayaran: '',
            pemeriksaan: '',
            verifikasi: '',
            sertifikasi: '',
            tgl_berlaku: '',

        }
    },
    methods: {
        beritaTerkini(){
          axios.get('/api/berita-terkini').then((response) => (this.berita = response.data));
        },
        masaBerlaku() {
            axios.get('api/masa-berlaku').then((response) => (this.tgl_berlaku = response.data));
        },
        loadPelanggan() {
            axios.get("api/summary-pelanggan").then((response) => (this.pelanggan = response.data));
        },
        loadPembayaran() {
            axios.get("api/summary-pembayaran").then((response) => (this.pembayaran = response.data));
        },
        loadPemeriksaan() {
            axios.get("api/summary-pemeriksaan").then((response) => (this.pemeriksaan = response.data));
        },
        loadVerifikasi() {
            axios.get("api/summary-verifikasi").then((response) => (this.verifikasi = response.data));
        },
        loadSertifikasi() {
            axios.get("api/summary-sertifikasi").then((response) => (this.sertifikasi = response.data));
        },

    },

    created() {
        this.$Progress.start();
        this.masaBerlaku();
        this.beritaTerkini();
        this.loadPelanggan('');
        this.loadPemeriksaan('');
        this.loadPembayaran('');
        this.loadVerifikasi('');
        this.loadSertifikasi('');
        this.$Progress.finish();
    },


}
</script>
