<template>
  <div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Proses Verifikasi
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Verifikasi</a></li>
        <li><a href="#"> Proses Verifikasi</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

    <div class="col-md-6">
         <div class="box">

            <form method="POST" enctype="multipart/form-data" @submit.prevent="prosesEdit" id="FormVerifikasi">
                <div class="box-body">
                 <p>Form Verifikasi</p>
                 <hr>
                 <label for="">No Pendaftaran :</label>
                 <input readonly="" v-for="dt in hasilperiksa" :key="dt.no_pendaftaran" :value="dt.no_pendaftaran" type="text" name="no_pendaftaran" class="form-control" id="no_pendaftaran" style="margin-bottom: 10px">

                 <has-error :form="form" field="no_pendaftaran"></has-error>

                 <label for="">No LHPP :</label>

                 <input readonly="" v-for="dt in hasilperiksa" :key="dt.no_lhpp" :value="dt.no_lhpp" type="text" name="no_lhpp" class="form-control" id="no_lhpp" style="margin-bottom: 10px">
                 <has-error :form="form" field="no_lhpp"></has-error>

                 <label for="">Pemeriksaan Dokumen :</label>
                 <br>
                 <label for="" class="red">Hasil sebelumnya</label>
                 <input disabled="" v-for="dt in dataverif" :key="dt.pemeriksaan_dokumen" :value="dt.pemeriksaan_dokumen" type="text" name="pemeriksaan_dokumen" class="form-control" id="pemeriksaan_dokumen" style="margin-bottom: 10px">
                 <select name="pemeriksaan_dokumen" id="pemeriksaan_dokumen" class="form-control" style="margin-bottom: 10px">
                  <option v-for="dt in dataverif" :key="dt.pemeriksaan_dokumen" :value="dt.pemeriksaan_dokumen" selected>--Abaikan Jika Tidak Dirubah--</option>
                  <option value="Laik">Laik</option>
                  <option value="Tidak Laik">Tidak Laik</option>
                  <option value="Tidak Perlu">Tidak Perlu</option>
              </select>
             

              <label for="">Proteksi Terhadap Sentuh Langsung :</label>
              <br>
              <label for="" class="red">Hasil sebelumnya</label>
              <input disabled="" v-for="dt in dataverif" :key="dt.proteksi_sentuh_langung" :value="dt.proteksi_sentuh_langung" type="text" name="proteksi_sentuh_langung" class="form-control" id="proteksi_sentuh_langung" style="margin-bottom: 10px">

              <select name="proteksi_sentuh_langung" id="proteksi_sentuh_langung" class="form-control" style="margin-bottom: 10px">
                  <option v-for="dt in dataverif" :key="dt.proteksi_sentuh_langung" :value="dt.proteksi_sentuh_langung" selected>--Abaikan Jika Tidak Dirubah--</option>
                  <option value="Laik">Laik</option>
                  <option value="Tidak Laik">Tidak Laik</option>
                  <option value="Tidak Perlu">Tidak Perlu</option>
              </select>
              

              <label for="">Pemeriksaan Penghantar :</label>
              <br>
              <label for="" class="red">Hasil sebelumnya</label>
              <input disabled="" v-for="dt in dataverif" :key="dt.pemeriksaan_penghantar" :value="dt.pemeriksaan_penghantar" type="text" name="pemeriksaan_penghantar" class="form-control" id="pemeriksaan_penghantar" style="margin-bottom: 10px">

              <select name="pemeriksaan_penghantar" id="pemeriksaan_penghantar" class="form-control" style="margin-bottom: 10px">
                  <option v-for="dt in dataverif" :key="dt.pemeriksaan_penghantar" :value="dt.pemeriksaan_penghantar" selected>--Abaikan Jika Tidak Dirubah--</option>
                  <option value="Laik">Laik</option>
                  <option value="Tidak Laik">Tidak Laik</option>
                  <option value="Tidak Perlu">Tidak Perlu</option>
              </select>

              <label for="">Pemeriksaan PHB :</label>
              <br>
              <label for="" class="red">Hasil sebelumnya</label>
              <input disabled="" v-for="dt in dataverif" :key="dt.pemeriksaan_phb" :value="dt.pemeriksaan_phb" type="text" name="pemeriksaan_phb" class="form-control" id="pemeriksaan_phb" style="margin-bottom: 10px">

              <select name="pemeriksaan_phb" id="pemeriksaan_phb" class="form-control" style="margin-bottom: 10px">
                  <option v-for="dt in dataverif" :key="dt.pemeriksaan_phb" :value="dt.pemeriksaan_phb" selected>--Abaikan Jika Tidak Dirubah--</option>
                  <option value="Laik">Laik</option>
                  <option value="Tidak Laik">Tidak Laik</option>
                  <option value="Tidak Perlu">Tidak Perlu</option>
              </select>

              <label for="">Pemeriksaan Elektroda :</label>
              <br>
              <label for="" class="red">Hasil sebelumnya</label>
              <input disabled="" v-for="dt in dataverif" :key="dt.pemeriksaan_elektroda" :value="dt.pemeriksaan_elektroda" type="text" name="pemeriksaan_elektroda" class="form-control" id="pemeriksaan_elektroda" style="margin-bottom: 10px">

              <select name="pemeriksaan_elektroda" id="pemeriksaan_elektroda" class="form-control" style="margin-bottom: 10px">
                  <option v-for="dt in dataverif" :key="dt.pemeriksaan_elektroda" :value="dt.pemeriksaan_elektroda" selected="">--Abaikan Jika Tidak Dirubah--</option>
                  <option value="Laik">Laik</option>
                  <option value="Tidak Laik">Tidak Laik</option>
                  <option value="Tidak Perlu">Tidak Perlu</option>
              </select>

              <label for="">Pemeriksaan Polaritas :</label>
              <br>
              <label for="" class="red">Hasil sebelumnya</label>
              <input disabled="" v-for="dt in dataverif" :key="dt.pemeriksaan_polaritas" :value="dt.pemeriksaan_polaritas" type="text" name="pemeriksaan_polaritas" class="form-control" id="pemeriksaan_polaritas" style="margin-bottom: 10px">
              <select name="pemeriksaan_polaritas" id="pemeriksaan_polaritas" class="form-control" style="margin-bottom: 10px">
                  <option v-for="dt in dataverif" :key="dt.pemeriksaan_polaritas" :value="dt.pemeriksaan_polaritas" selected="">--Abaikan Jika Tidak Dirubah--</option>
                  <option value="Laik">Laik</option>
                  <option value="Tidak Laik">Tidak Laik</option>
                  <option value="Tidak Perlu">Tidak Perlu</option>
              </select>

              <label for="">Pemeriksaan Pemasangan :</label>
              <br>
              <label for="" class="red">Hasil sebelumnya</label>
              <input disabled="" v-for="dt in dataverif" :key="dt.pemeriksaan_pemasangan" :value="dt.pemeriksaan_pemasangan" type="text" name="pemeriksaan_pemasangan" class="form-control" id="pemeriksaan_pemasangan" style="margin-bottom: 10px">
              <select name="pemeriksaan_pemasangan" id="pemeriksaan_pemasangan" class="form-control" style="margin-bottom: 10px">
                  <option v-for="dt in dataverif" :key="dt.pemeriksaan_pemasangan" :value="dt.pemeriksaan_pemasangan" selected="">--Abaikan Jika Tidak Dirubah--</option>
                  <option value="Laik">Laik</option>
                  <option value="Tidak Laik">Tidak Laik</option>
                  <option value="Tidak Perlu">Tidak Perlu</option>
              </select>
              
              <label for="">Pemeriksaan SNI :</label>
              <br>
              <label for="" class="red">Hasil sebelumnya</label>
              <input disabled="" v-for="dt in dataverif" :key="dt.pemeriksaan_sni" :value="dt.pemeriksaan_sni" type="text" name="pemeriksaan_sni" class="form-control" id="pemeriksaan_sni" style="margin-bottom: 10px">
              <select name="pemeriksaan_sni" id="pemeriksaan_sni" class="form-control" style="margin-bottom: 10px">
                  <option v-for="dt in dataverif" :key="dt.pemeriksaan_sni" :value="dt.pemeriksaan_sni" selected="">--Abaikan Jika Tidak Dirubah--</option>
                  <option value="Laik">Laik</option>
                  <option value="Tidak Laik">Tidak Laik</option>
                  <option value="Tidak Perlu">Tidak Perlu</option>
              </select>

              <label for="">Pemeriksaan Kamar Mandi :</label>
              <br>
              <label for="" class="red">Hasil sebelumnya</label>
              <input disabled="" v-for="dt in dataverif" :key="dt.pemeriksaan_kamar_mandi" :value="dt.pemeriksaan_kamar_mandi" type="text" name="pemeriksaan_kamar_mandi" class="form-control" id="pemeriksaan_kamar_mandi" style="margin-bottom: 10px">
              <select name="pemeriksaan_kamar_mandi" id="pemeriksaan_kamar_mandi" class="form-control" style="margin-bottom: 10px">
                  <option v-for="dt in dataverif" :key="dt.pemeriksaan_kamar_mandi" :value="dt.pemeriksaan_kamar_mandi" selected="">--Abaikan Jika Tidak Dirubah--</option>
                  <option value="Laik">Laik</option>
                  <option value="Tidak Laik">Tidak Laik</option>
                  <option value="Tidak Perlu">Tidak Perlu</option>
              </select>

              <label for="">Catatan :</label>
              <textarea type="text" v-for="dt in dataverif" :key="dt.no_pendaftaran" :value="dt.catatan" name="catatan" id="catatan" class="form-control" rows="4" style="margin-bottom: 10px"></textarea>

              <label for="">Hasil Pemeriksaan :</label>
              <br>
              <label for="" class="red">Hasil sebelumnya</label>
              <input disabled="" v-for="dt in dataverif" :key="dt.hasil_pemeriksaan" :value="dt.hasil_pemeriksaan" type="text" name="hasil_pemeriksaan" class="form-control" id="hasil_pemeriksaan" style="margin-bottom: 10px">
              <select name="hasil_pemeriksaan" id="hasil_pemeriksaan" class="form-control"  style="margin-bottom: 10px">
                <option v-for="dt in dataverif" :key="dt.hasil_pemeriksaan" :value="dt.hasil_pemeriksaan" selected="">--Abaikan Jika Tidak Dirubah--</option>
                <option value="Laik Operasi (LO)">Laik Operasi (LO)</option>
                <option value="Laik Operasi dengan perbaikan Minor (LOM)">Laik Operasi dengan perbaikan Minor (LOM)</option>
                <option value="Perlu perbaikan ulang (PPU)">Perlu perbaikan ulang (PPU)</option>
                <option value="Installasi belum terpasang (IBT)">Installasi belum terpasang (IBT)</option>
            </select>

            <div class="box-body" style="background-color: #D3D3D3; margin-bottom: 10px">
                <label for="" class="red">Ceklist PPU :</label>
                <br>
                
                <input checked="" name="Iya" type="checkbox">
                Penghantar Proteksi PE tidak ada pada sirkit cabang
                <br>
                <input checked="" name="Tidak" type="checkbox">
                Penghantar proteksi PE tidak dihubungkan pada kotak kontak

            </div>

            <label for="">Kesimpulan Hasil Verifikasi :</label>
            <br>
            <label for="" class="red">Hasil sebelumnya</label>
              <input disabled="" v-for="dt in dataverif" :key="dt.hasil_verifikasi" :value="dt.hasil_verifikasi" type="text" name="hasil_verifikasi" class="form-control" id="hasil_verifikasi" style="margin-bottom: 10px">
            <select name="hasil_verifikasi" id="hasil_verifikasi" class="form-control"  style="margin-bottom: 10px">
                <option v-for="dt in dataverif" :key="dt.hasil_verifikasi" :value="dt.hasil_verifikasi" selected="">--Abaikan Jika Tidak Dirubah--</option>
                <option value="approve">Approve</option>
                <option value="reject">Reject</option>
            </select>
           

            <div class="box-body" style="background-color: #D3D3D3; margin-bottom: 10px">
                <label for="" class="red">Noted Reject :</label>
                <textarea v-for="dt in dataverif" :key="dt.alasan_reject" :value="dt.alasan_reject" type="text" name="alasan_reject" id="alasan_reject" class="form-control" rows="4" style="margin-bottom: 10px"></textarea>
            </div>

        </div>

        <div class="box-footer text-right">
              <button type="submit" class="btn btn-primary" name="submit">Simpan</button>
        </div>

    </form>


        </div>
    </div>

    <div class="col-md-6">
        <div class="box">

           <div class="box-body">

            <p>Hasil Pemeriksaan</p>
            <hr>
            <label for="">No Pendaftaran :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.hasil_pemeriksaan" :value="dt.no_pendaftaran" type="text" name="no_pendaftaran" class="form-control" id="no_pendaftaran" style="margin-bottom: 10px">

            <label for="">Nama Pelanggan :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.nama" :value="dt.nama" type="text" name="nama" class="form-control" id="nama" style="margin-bottom: 10px">

            <label for="">Alamat :</label>
            <textarea readonly v-for="dt in hasilperiksa" :key="dt.alamat" :value="dt.alamat" type="text" name="alamat" class="form-control" id="alamat" rows="4" style="margin-bottom: 10px"></textarea>

            <div class="col-md-6">
            <label for="">Tarif :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.jenis_tarif" :value="dt.jenis_tarif" type="text" name="jenis_tarif" class="form-control" id="jenis_tarif" style="margin-bottom: 10px">
            </div>

            <div class="col-md-6">
            <label for="">Daya :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.daya" :value="dt.daya" type="text" name="daya" class="form-control" id="daya" style="margin-bottom: 10px">
            </div>

            <label for="">BTL :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.nama_btl" :value="dt.nama_btl" type="text" name="nama_btl" class="form-control" id="nama_btl" style="margin-bottom: 10px">

            <label for="">No Surat Tugas :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.no_surat" :value="dt.no_surat" type="text" name="no_surat" class="form-control" id="no_surat" style="margin-bottom: 10px">

            <label for="">Nama Pemeriksa 1 :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.pemeriksa1" :value="dt.pemeriksa1" type="text" name="pemeriksa1" class="form-control" id="pemeriksa1" style="margin-bottom: 10px">

            <label for="">Nama Pemeriksa 2 :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.pemeriksa2" :value="dt.pemeriksa2" type="text" name="pemeriksa2" class="form-control" id="pemeriksa2" style="margin-bottom: 10px">

            <label for="">No LHPP :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.no_lhpp" :value="dt.no_lhpp" type="text" name="no_lhpp" class="form-control" id="no_lhpp" style="margin-bottom: 10px">

            <label for="">Tgl LHPP :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.tgl_lhpp" :value="dt.tgl_lhpp" type="text" name="tgl_lhpp" class="form-control" id="tgl_lhpp" style="margin-bottom: 10px">

            <label for="">Gambar Installasi :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.gambar_instalasi" :value="dt.gambar_instalasi" type="text" name="gambar_instalasi" class="form-control" id="gambar_instalasi" style="margin-bottom: 10px">

            <label for="">Diagram Garis Tunggal :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.diagram_garis_tunggal" :value="dt.diagram_garis_tunggal" type="text" name="diagram_garis_tunggal" class="form-control" id="diagram_garis_tunggal" style="margin-bottom: 10px">

            <label for="">Proteksi PE :</label>
            <br>
            <div class="col-md-4">
            <label for="">Utama :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.pe_utama" :value="dt.pe_utama" type="text" name="pe_utama" class="form-control" id="pe_utama" style="margin-bottom: 10px">
            </div>
            <div class="col-md-4">
            <label for="">Cabang :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.pe_cabang" :value="dt.pe_cabang" type="text" name="pe_cabang" class="form-control" id="pe_cabang" style="margin-bottom: 10px">
            </div>
            <div class="col-md-4">
            <label for="">Akhir :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.pe_akhir" :value="dt.pe_akhir" type="text" name="pe_akhir" class="form-control" id="pe_akhir" style="margin-bottom: 10px">
            </div>

            <label for="">Jenis Penghantar :</label>
            <br>
            <div class="col-md-4">
            <label for="">Utama :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.jenis_peng_utama" :value="dt.jenis_peng_utama" type="text" name="jenis_peng_utama" class="form-control" id="jenis_peng_utama" style="margin-bottom: 10px">
            </div>
            <div class="col-md-4">
            <label for="">Cabang :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.jenis_peng_cabang" :value="dt.jenis_peng_cabang" type="text" name="jenis_peng_cabang" class="form-control" id="jenis_peng_cabang" style="margin-bottom: 10px">
            </div>
            <div class="col-md-4">
            <label for="">Akhir :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.jenis_peng_akhir" :value="dt.jenis_peng_akhir" type="text" name="jenis_peng_akhir" class="form-control" id="jenis_peng_akhir" style="margin-bottom: 10px">
            </div>

            <label for="">Penampang Penghantar :</label>
            <br>
            <div class="col-md-4">
            <label for="">Utama :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.penghantar_utama" :value="dt.penghantar_utama" type="text" name="penghantar_utama" class="form-control" id="penghantar_utama" style="margin-bottom: 10px">
            </div>
            <div class="col-md-4">
            <label for="">Cabang :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.penghantar_cabang" :value="dt.penghantar_cabang" type="text" name="penghantar_cabang" class="form-control" id="penghantar_cabang" style="margin-bottom: 10px">
            </div>
            <div class="col-md-4">
            <label for="">Akhir :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.penghantar_akhir" :value="dt.penghantar_akhir" type="text" name="penghantar_akhir" class="form-control" id="penghantar_akhir" style="margin-bottom: 10px">
            </div>

            <label for="">Penampang Pembumian :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.penghantar_bumi_penampang" :value="dt.penghantar_bumi_penampang" type="text" name="penghantar_bumi_penampang" class="form-control" id="penghantar_bumi_penampang" style="margin-bottom: 10px">

            <label for="">Sakelar Utama :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.saklar_utama" :value="dt.saklar_utama" type="text" name="saklar_utama" class="form-control" id="saklar_utama" style="margin-bottom: 10px">

            <label for="">Ketinggian Kotak Kontak :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.tinggi_kotak_kontak" :value="dt.tinggi_kotak_kontak" type="text" name="tinggi_kotak_kontak" class="form-control" id="tinggi_kotak_kontak" style="margin-bottom: 10px">

            <label for="">Ketinggia PHBK :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.tinggi_phbk" :value="dt.tinggi_phbk" type="text" name="tinggi_phbk" class="form-control" id="tinggi_phbk" style="margin-bottom: 10px">

            <label for="">Jenis Kotak Kontak :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.jenis_kotak_kontak" :value="dt.jenis_kotak_kontak" type="text" name="jenis_kotak_kontak" class="form-control" id="jenis_kotak_kontak" style="margin-bottom: 10px">

            <label for="">Jumlah PHB Cabang :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.jml_phb_cabang" :value="dt.jml_phb_cabang" type="text" name="jml_phb_cabang" class="form-control" id="jml_phb_cabang" style="margin-bottom: 10px">

            <label for="">Jumlah Saluran :</label>
            <br>
            <div class="col-md-6">
            <label for="">Cabang :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.jml_saluran_cabang" :value="dt.jml_saluran_cabang" type="text" name="jml_saluran_cabang" class="form-control" id="jml_saluran_cabang" style="margin-bottom: 10px">
            </div>
            <div class="col-md-6">
            <label for="">Akhir :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.jml_saluran_akhir" :value="dt.jml_saluran_akhir" type="text" name="jml_saluran_akhir" class="form-control" id="jml_saluran_akhir" style="margin-bottom: 10px">
            </div>

            <label for="">Jumlah Titik Lampu :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.jml_titik_lampu" :value="dt.jml_titik_lampu" type="text" name="jml_titik_lampu" class="form-control" id="jml_titik_lampu" style="margin-bottom: 10px">

            <label for="">Jumlah Sakelar :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.jml_sakelar" :value="dt.jml_sakelar" type="text" name="jml_sakelar" class="form-control" id="jml_sakelar" style="margin-bottom: 10px">

            <label for="">KKB :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.kkb" :value="dt.kkb" type="text" name="kkb" class="form-control" id="kkb" style="margin-bottom: 10px">

            <label for="">KKK :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.kkk" :value="dt.kkk" type="text" name="kkk" class="form-control" id="kkk" style="margin-bottom: 10px">

            <label for="">Tahanan Isolasi Penghantar :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.tahanan_isolasi_penghantar" :value="dt.tahanan_isolasi_penghantar" type="text" name="tahanan_isolasi_penghantar" class="form-control" id="tahanan_isolasi_penghantar" style="margin-bottom: 10px">

            <label for="">Sistem Pembumian :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.penghantar_bumi_sistem" :value="dt.penghantar_bumi_sistem" type="text" name="penghantar_bumi_sistem" class="form-control" id="penghantar_bumi_sistem" style="margin-bottom: 10px">

            <label for="">Resisten Pembumian :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.resisten_pembumian" :value="dt.resisten_pembumian" type="text" name="resisten_pembumian" class="form-control" id="resisten_pembumian" style="margin-bottom: 10px">

            <label for="">Catatan Pemeriksa :</label>
            <textarea readonly v-for="dt in hasilperiksa" :key="dt.catatan" :value="dt.catatan" type="text" name="catatan" class="form-control" id="catatan" rows="4" style="margin-bottom: 10px"></textarea>

            <label for="">Foto lembar LHPP : :</label>
            <img class="img-responsive" v-for="dt in hasilperiksa" :key="dt.foto1" :src="dt.foto1" alt="">

            <label for="">Foto tanda tangan pelanggan di LHPP ::</label>
            <img class="img-responsive" v-for="dt in hasilperiksa" :key="dt.foto2" :src="dt.foto2" alt="">

            <label for="">Foto Pemeriksaan :</label>
            <img class="img-responsive" v-for="dt in hasilperiksa" :key="dt.foto3" :src="dt.foto3" alt="">

            <label for="">Foto Tampak Depan :</label>
            <img class="img-responsive" v-for="dt in hasilperiksa" :key="dt.foto4" :src="dt.foto4" alt="">

            <label for="">Foto Instalasi :</label>
            <img class="img-responsive" v-for="dt in hasilperiksa" :key="dt.foto5" :src="dt.foto5" alt="">
            <label for="">Location :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.location" :value="dt.location" type="text" name="location" class="form-control" id="location" style="margin-bottom: 10px">

            <label for="">Latitude :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.lat" :value="dt.lat" type="text" name="lat" class="form-control" id="lat" style="margin-bottom: 10px">

            <label for="">Longitude :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.lng" :value="dt.lng" type="text" name="lng" class="form-control" id="lng" style="margin-bottom: 10px">

           </div>

        </div>
    </div>


    </section>
    <!-- /.content -->


    </div>
  </div>

</template>

<script>
    export default {
        data(){
          return {
            editMode: false,
            hasilperiksa: {},
            dataverif: {},
          

          }
        },

        methods:{
         prosesEdit(){
            var formData = new FormData(document.getElementById("FormVerifikasi"));
            let instance = this;
            axios.post('/api/verifikasi/edit/' + this.$route.params.no_pendaftaran, formData)
            .then(() => {
              this.$Progress.start();
              console.log(formData);
              Fire.$emit('AfterCreate');
              swal(
                'Sukses!',
                'Data berhasil disimpan.',
                'success'
                )
              this.$Progress.finish();
              this.$router.push({
                name: 'sudah-verifikasi'
              });
            })
            .catch(() => {
              swal(
                'Gagal!',
                'Terjadi kesalahan',
                'warning'
                )
            })
         },
          editVerif(){
            axios.get("/api/edit-verif/edit/" + this.$route.params.no_pendaftaran).then(({data}) => (this.hasilperiksa = data));
          },
          dataVerif(){
            axios.get("/api/data-verif/" + this.$route.params.no_pendaftaran).then(({data}) => (this.dataverif = data));
          }


        },
         created() {
         this.$Progress.start();
         this.editVerif();
         this.dataVerif();
         this.$Progress.finish();
       }
    }
</script>
