<style media="screen">
.file-upload-form, .image-preview {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 20px;
}
img.preview {
  width: 200px;
  background-color: white;
  border: 1px solid #DDD;
  padding: 5px;
}

</style>
<template>
<div class="table-responsive">
    <div class="col-md-12">
        <section class="content-header">
            <h1>
                Pemeriksaan
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#"> Pemeriksaan</a></li>
            </ol>
        </section>

        <section class="content">
            <form method="POST" enctype="multipart/form-data" @submit.prevent="prosesPemeriksaan" id="FormPeriksa">

                <div class="box">
                    <div class="box-body">

                        <p style="font-size: 14px" class="red">Masukan data pemeriksaan sesuai dengan LHPP fisik yang ditandatangani pelanggan/instalatir.</p>
                        <p style="font-size: 14px">DETAIL PELANGGAN</p>
                        <hr>
                        <div class="col-md-12" style="margin-bottom: 10px">
                            <label for="">No Pendaftaran :</label>
                            <input readonly="" type="text" v-for="dt in detail" :key="dt.no_pendaftaran" :value="dt.no_pendaftaran" name="no_pendaftaran" class="form-control" id="no_pendaftaran">
                            <input type="hidden" name="id_pelanggan" id="id_pelanggan" v-for="dt in detail" :key="dt.id" :value="dt.id">
                        </div>

                        <div class="col-md-12" style="margin-bottom: 10px">
                            <label for="">Nama :</label>
                            <input readonly="" v-for="dt in detail" :key="dt.no_pendaftaran" :value="dt.nama" type="text" name="nama" class="form-control" id="nama">

                        </div>

                        <div class="col-md-12" style="margin-bottom: 10px">
                            <label for="">Alamat :</label>
                            <input readonly="" v-for="dt in detail" :key="dt.no_pendaftaran" :value="dt.alamat" type="text" name="alamat" class="form-control" id="alamat">

                        </div>

                        <div class="col-md-4" style="margin-bottom: 10px">
                            <label for="">Tarif :</label>
                            <input readonly="" v-for="dt in detail" :key="dt.no_pendaftaran" :value="dt.jenis_tarif" type="text" name="tarif" class="form-control" id="tarif">
                        </div>

                        <div class="col-md-4" style="margin-bottom: 10px">
                            <label for="">Daya :</label>
                            <input readonly="" v-for="dt in detail" :key="dt.no_pendaftaran" :value="dt.daya" type="text" name="daya" class="form-control" id="daya">
                        </div>

                        <div class="col-md-4" style="margin-bottom: 10px">
                            <label for="">BTL :</label>
                            <input readonly="" v-for="dt in detail" :key="dt.no_pendaftaran" :value="dt.nama_btl" type="text" name="btl" class="form-control" id="btl">

                        </div>


                    </div>
                </div>

                <div class="box">
                    <div class="box-body">
                        <p style="font-size: 14px">PEMERIKSA</p>
                        <hr>
                        <div class="col-md-12" style="margin-bottom: 10px">
                            <label for="">No Surat Tugas :</label>
                            <input readonly="" v-for="dt in detail" :key="dt.no_surat" :value="dt.no_surat" type="text" name="no_surat_tugas" class="form-control" id="no_surat_tugas">
                        </div>

                        <div class="col-md-6" style="margin-bottom: 10px">
                            <label for="">Pemeriksa 1 :</label>
                            <input readonly="" v-for="dt in detail" :key="dt.no_surat" :value="dt.pemeriksa1" type="text" name="pemeriksa1" class="form-control" id="pemeriksa1">
                        </div>


                        <div class="col-md-6" style="margin-bottom: 10px">
                            <label for="">Pemeriksa 2 :</label>
                            <input readonly="" v-for="dt in detail" :key="dt.no_surat" :value="dt.pemeriksa2" type="text" name="pemeriksa2" class="form-control" id="pemeriksa2">
                        </div>

                        <div class="col-md-6" style="margin-bottom: 10px">
                            <label for="">No LHPP :</label>
                            <input readonly="" :value="no_lhpp.noLhpp" type="text" name="no_lhpp" class="form-control" id="no_lhpp">
                        </div>


                        <div class="col-md-6">
                            <label for="">Tanggal LHPP :</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <datepicker name="tgl_lhpp" id="tgl_lhpp" :format="format" :language="id" :value="date"></datepicker>
                            </div>
                        </div>




                    </div>
                </div>

                <div class="box">
                    <div class="box-body">
                        <div class="col-md-6">
                            <label for="">Gambar Instalasi :</label>
                            <select name="gambar_instalasi" id="gambar_instalasi" class="form-control">
                                <option value="Gambar Sesuai">Gambar Sesuai</option>
                                <option value="Gambar Tidak Sesuai">Gambar Tidak Sesuai</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label for="">Diagram Garis Tunggal :</label>
                            <select name="diagram_garis_tunggal" id="diagram_garis_tunggal" class="form-control">
                                <option value="Diagram Sesuai">Diagram Sesuai</option>
                                <option value="Diagram Tidak Sesuai">Diagram Tidak Sesuai</option>
                            </select>
                        </div>

                    </div>

                </div>

                <div class="box">
                    <div class="box-body">
                        <p style="font-size: 14px">PENGHANTAR</p>
                        <hr>
                        <div class="col-md-3" style="margin-bottom: 10px">
                            <label for="">Penghantar Proteksi PE (Saluran Utama) :</label>
                            <select name="pe_utama" id="pe_utama" class="form-control">
                                <option value="Ada">Ada</option>
                                <option value="Tidak Ada">Tidak Ada</option>
                            </select>
                        </div>

                        <div class="col-md-3" style="margin-bottom: 10px">
                            <label for="">Penghantar Proteksi PE (Saluran Cabang) :</label>
                            <select name="pe_cabang" id="pe_cabang" class="form-control">
                                <option value="Ada">Ada</option>
                                <option value="Tidak Ada">Tidak Ada</option>
                            </select>
                        </div>

                        <div class="col-md-3" style="margin-bottom: 10px">
                            <label for="">Penghantar Proteksi PE (Saluran Akhir) :</label>
                            <select name="pe_akhir" id="pe_akhir" class="form-control">
                                <option value="Ada">Ada</option>
                                <option value="Tidak Ada">Tidak Ada</option>
                            </select>
                        </div>

                        <div class="col-md-3" style="margin-bottom: 10px">
                            <label for="">Penghantar Proteksi PE (Kotak Kontak) :</label>
                            <select name="pe_kotak_kontak" id="pe_kotak_kontak" class="form-control">
                                <option value="Ada">Ada</option>
                                <option value="Tidak Ada">Tidak Ada</option>
                            </select>
                        </div>

                        <div class="col-md-4" style="margin-bottom: 10px">
                            <label for="">Jenis Penghantar Utama :</label>
                            <input type="text" name="jenis_peng_utama" class="form-control" id="jenis_peng_utama">
                        </div>

                        <div class="col-md-4" style="margin-bottom: 10px">
                            <label for="">Jenis Penghantar Cabang :</label>
                            <input type="text" name="jenis_peng_cabang" class="form-control" id="jenis_peng_cabang">

                        </div>

                        <div class="col-md-4" style="margin-bottom: 10px">
                            <label for="">Jenis Penghantar Akhir :</label>
                            <input type="text" name="jenis_peng_akhir" class="form-control" id="jenis_peng_akhir">
                        </div>

                        <div class="col-md-4" style="margin-bottom: 10px">
                            <label for="">Penghantar Pembumian (Jenis) :</label>
                            <input type="text" name="penghantar_bumi_jenis" class="form-control" id="penghantar_bumi_jenis">
                        </div>

                        <div class="col-md-4" style="margin-bottom: 10px">
                            <label for="">Penghantar Pembumian (Luas Penampang) :</label>
                            <input type="text" name="penghantar_bumi_penampang" class="form-control" id="penghantar_bumi_penampang">
                        </div>

                        <div class="col-md-4" style="margin-bottom: 10px">
                            <label for="">Penghantar Pembumian (Sistem Pembumian) :</label>
                            <select name="penghantar_bumi_sistem" id="penghantar_bumi_sistem" class="form-control">
                                <option value="TT">TT</option>
                                <option value="TTN-C-S">TTN-C-S</option>
                                <option value="TN-C">TN-C</option>
                                <option value="TN-S">TN-S</option>
                                <option value="Lainnya">Lainnya</option>
                            </select>
                            <has-error :form="form" field="penghantar_bumi_sistem"></has-error>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="box-body">
                        <p style="font-size: 14px">SAKLAR, PROTEKSI SIRKIT & PENAMPANG PENGHANTAR</p>
                        <hr>
                        <div class="col-md-4" style="margin-bottom: 10px">
                            <label for="">Sakelar (Sakelar Utama) :</label>
                            <input type="text" name="saklar_utama" class="form-control" id="saklar_utama">
                        </div>

                        <div class="col-md-4" style="margin-bottom: 10px">
                            <label for="">Sakelar (Sakelar Cabang 1) :</label>

                            <input type="text" name="saklar_cabang1" class="form-control" id="saklar_cabang1">
                        </div>

                        <div class="col-md-4" style="margin-bottom: 10px">
                            <label for="">Sakelar (Sakelar Cabang 2) :</label>
                            <input type="text" name="saklar_cabang2" class="form-control" id="saklar_cabang2">
                        </div>

                        <div class="col-md-4" style="margin-bottom: 10px">
                            <label for="">PHBK Utama :</label>
                            <input type="text" name="phbk_utama" class="form-control" id="phbk_utama">
                        </div>

                        <div class="col-md-4" style="margin-bottom: 10px">
                            <label for="">PHBK Cabang 1 :</label>
                            <input type="text" name="phbk_cabang1" class="form-control" id="phbk_cabang1">
                        </div>

                        <div class="col-md-4" style="margin-bottom: 10px">
                            <label for="">PHBK Cabang 2 :</label>
                            <input type="text" name="phbk_cabang2" class="form-control" id="phbk_cabang2">
                        </div>

                        <div class="col-md-3" style="margin-bottom: 10px">
                            <label for="">Penampang Penghantar Utama :</label>
                            <input type="text" name="penghantar_utama" class="form-control" id="penghantar_utama">
                        </div>

                        <div class="col-md-3" style="margin-bottom: 10px">
                            <label for="">Penampang Penghantar Cabang :</label>
                            <input type="text" name="penghantar_cabang" class="form-control" id="penghantar_cabang">
                        </div>

                        <div class="col-md-3" style="margin-bottom: 10px">
                            <label for="">Penampang Penghantar Akhir :</label>
                            <input type="text" name="penghantar_akhir" class="form-control" id="penghantar_akhir">
                        </div>

                        <div class="col-md-3" style="margin-bottom: 10px">
                            <label for="">Penampang Penghantar 3 Fasa :</label>
                            <input type="text" name="penghantar_3fasa" class="form-control" id="penghantar_3fasa">
                        </div>

                    </div>
                </div>

                <div class="box">
                    <div class="box-body">
                        <p style="font-size: 14px">PENGUJIAN & PEMASANGAN</p>
                        <hr>
                        <div class="col-md-4" style="margin-bottom: 10px">
                            <label for="">Pengujian Polaritas (Fitting Lampu) :</label>
                            <select name="fitting_lampu" id="fitting_lampu" class="form-control">
                                <option value="Sesuai">Sesuai</option>
                                <option value="Tidak Sesuai">Tidak Sesuai</option>
                                <option value="Tidak Ada">Tidak Ada</option>
                            </select>
                        </div>

                        <div class="col-md-4" style="margin-bottom: 10px">
                            <label for="">Pengujian Polaritas (Kotak Kontak) :</label>
                            <select name="kotak_kontak" id="kotak_kontak" class="form-control">
                                <option value="Sesuai">Sesuai</option>
                                <option value="Tidak Sesuai">Tidak Sesuai</option>
                                <option value="Tidak Ada">Tidak Ada</option>
                            </select>
                        </div>

                        <div class="col-md-4" style="margin-bottom: 10px">
                            <label for="">Pengujian Polaritas (Sakelar) :</label>
                            <select name="sakelar" id="sakelar" class="form-control">
                                <option value="Sesuai">Sesuai</option>
                                <option value="Tidak Sesuai">Tidak Sesuai</option>
                                <option value="Tidak Ada">Tidak Ada</option>
                            </select>
                        </div>

                        <div class="col-md-4" style="margin-bottom: 10px">
                            <label for="">Ketinggian Kotak Kontak (cm) :</label>
                            <input type="text" name="tinggi_kotak_kontak" class="form-control" id="tinggi_kotak_kontak">
                        </div>

                        <div class="col-md-4" style="margin-bottom: 10px">
                            <label for="">Ketinggian PHBK (cm) :</label>
                            <input type="text" name="tinggi_phbk" class="form-control" id="tinggi_phbk">
                        </div>

                        <div class="col-md-4" style="margin-bottom: 10px">
                            <label for="">Jenis Kotak Kontak :</label>
                            <select name="jenis_kotak_kontak" id="jenis_kotak_kontak" class="form-control">
                                <option value="Biasa">Biasa</option>
                                <option value="Putar">Putar</option>
                                <option value="Tutup">Tutup</option>
                                <option value="Tidak Ada">Tidak Ada</option>
                                <option value="Lainnya">Lainnya</option>
                            </select>
                        </div>

                        <div class="col-md-6" style="margin-bottom: 10px">
                            <label for="">Perlengkapan/Komponen Bertanda SNI :</label>
                            <select name="tanda_komponen" id="tanda_komponen" class="form-control">
                                <option value="SNI">SNI</option>
                                <option value="Tidak SNI">Tidak SNI</option>
                            </select>
                        </div>

                        <div class="col-md-6" style="margin-bottom: 10px">
                            <label for="">Pengujian Pembebanan :</label>
                            <select name="pengujian_pembebanan" id="pengujian_pembebanan" class="form-control">
                                <option value="Baik">Baik</option>
                                <option value="Tidak Baik">Tidak Baik</option>
                            </select>
                        </div>

                        <div class="col-md-6" style="margin-bottom: 10px">
                            <label for="">Jumlah PHB Utama :</label>
                            <input type="text" name="jml_phb_utama" class="form-control" id="jml_phb_utama">
                        </div>

                        <div class="col-md-6" style="margin-bottom: 10px">
                            <label for="">Jumlah PHB Cabang :</label>
                            <input type="text" name="jml_phb_cabang" class="form-control" id="jml_phb_cabang">

                        </div>

                        <div class="col-md-6" style="margin-bottom: 10px">
                            <label for="">Jumlah PHB 1 Phasa :</label>
                            <input type="text" name="jml_phb_1fasa" class="form-control" id="jml_phb_1fasa">
                        </div>

                        <div class="col-md-6" style="margin-bottom: 10px">
                            <label for="">Jumlah PHB 3 Phasa :</label>
                            <input type="text" name="jml_phb_3fasa" class="form-control" id="jml_phb_3fasa">
                        </div>

                        <div class="col-md-6" style="margin-bottom: 10px">
                            <label for="">Jumlah Saluran Cabang :</label>
                            <input type="text" name="jml_saluran_cabang" class="form-control" id="jml_saluran_cabang">
                        </div>

                        <div class="col-md-6" style="margin-bottom: 10px">
                            <label for="">Jumlah Saluran Akhir :</label>
                            <input type="text" name="jml_saluran_akhir" class="form-control" id="jml_saluran_akhir">
                        </div>

                        <div class="col-md-12" style="margin-bottom: 10px">
                            <label for="">Jumlah Titik Lampu :</label>
                            <input type="text" name="jml_titik_lampu" class="form-control" id="jml_titik_lampu">
                        </div>

                        <div class="col-md-12" style="margin-bottom: 10px">
                            <label for="">Jumlah Sakelar :</label>
                            <input type="text" name="jml_sakelar" class="form-control" id="jml_sakelar">
                        </div>

                        <div class="col-md-6" style="margin-bottom: 10px">
                            <label for="">KKK :</label>
                            <input type="text" name="kkk" class="form-control" id="kkk">
                        </div>

                        <div class="col-md-6" style="margin-bottom: 10px">
                            <label for="">KKB :</label>
                            <input type="text" name="kkb" class="form-control" id="kkb">
                        </div>

                        <div class="col-md-12" style="margin-bottom: 10px">
                            <label for="">Tahanan Isolasi Penghantar (MΩ) :</label>
                            <input type="text" name="tahanan_isolasi_penghantar" class="form-control" id="tahanan_isolasi_penghantar">
                        </div>

                        <div class="col-md-12" style="margin-bottom: 10px">
                            <label for="">Resisten Pembumian(Ω) :</label>
                            <input type="text" name="resisten_pembumian" class="form-control" id="resisten_pembumian">
                        </div>

                        <div class="col-md-6" style="margin-bottom: 10px">
                            <label for="">Jumlah Motor Listrik (Unit) :</label>
                            <input type="text" name="jml_motor_listrik_unit" class="form-control" id="jml_motor_listrik_unit">
                        </div>

                        <div class="col-md-6" style="margin-bottom: 10px">
                            <label for="">Jumlah Motor Listrik (Kw) :</label>
                            <input type="text" name="jml_motor_listrik_kwh" class="form-control" id="jml_motor_listrik_kwh">
                        </div>

                        <div class="col-md-12" style="margin-bottom: 10px">
                            <label for="">Catatan :</label>
                            <textarea name="catatan" id="catatan" rows="4" class="form-control"></textarea>

                        </div>

                        <div class="col-md-12" style="margin-bottom: 10px">
                            <label for="" class="red">Foto 1 :</label>
                            <input type="file" name="foto1" @change="previewImage1" accept="image/*" id="foto1" class="form-control">
                            <div class="image-preview box text-center" v-if="imageData1.length > 0">
                              <img src="preview" alt="" :src="imageData1" width="400px">
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-bottom: 10px">
                            <label for="" class="red">Foto 2 :</label>
                            <input type="file" name="foto2" @change="previewImage2" accept="image/*" id="foto2" class="form-control">
                            <div class="image-preview box text-center" v-if="imageData2.length > 0">
                              <img src="preview" alt="" :src="imageData2" width="400px">
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-bottom: 10px">
                            <label for="" class="red">Foto 3 :</label>
                            <input type="file" name="foto3" @change="previewImage3" accept="image/*" id="foto3" class="form-control">
                            <div class="image-preview box text-center" v-if="imageData3.length > 0">
                              <img src="preview" alt="" :src="imageData3" width="400px">
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-bottom: 10px">
                            <label for="" class="red">Foto 4 :</label>
                            <input type="file" name="foto4" @change="previewImage4" accept="image/*" id="foto4" class="form-control">
                            <div class="image-preview box text-center" v-if="imageData4.length > 0">
                              <img src="preview" alt="" :src="imageData4" width="400px">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="box">
                    <div class="box-body">
                        <p style="font-size: 14px">KOORDINAT LOKASI</p>
                        <hr>
                        <div class="col-md-12" style="margin-bottom: 10px">
                            <label for="">Lokasi :</label>
                                <gmap-autocomplete @place_changed="setPlace" class="form-control" name="location" id="location">
                                </gmap-autocomplete>
                                <button type="button" style="margin-top: 10px" class="btn" @click="addMarker">Tambah</button>
                        </div>

                        <div class="col-md-12" style="margin-bottom: 10px">
                            <gmap-map :center="center" :zoom="16" style="width:100%;  height: 400px;">
                                <gmap-marker :key="index" v-for="(m, index) in markers" :position="m.position" @click="center=m.position"></gmap-marker>
                            </gmap-map>
                        </div>

                        <div class="col-md-12">
                            <label for="">Lat :</label>
                            <input type="text" name="lat" :value="center.lat" id="lat" class="form-control">
                        </div>

                        <div class="col-md-12">
                            <label for="">Lng :</label>
                            <input type="text" name="lng" :value="center.lng" id="lng" class="form-control">
                        </div>

                        <div class="col-md-12 text-right" style="margin-top: 10px">
                            <button type="submit" class="btn btn-primary" name="submit">Simpan</button>
                        </div>
                    </div>
                </div>

                <!-- <div class="box">
                    <div class="box-body">
                        <p style="font-size: 14px">KOORDINAT LOKASI</p>
                        <hr>
                        <div class="col-md-12" style="margin-bottom: 10px">
                            <label for="">Lokasi :</label>
                            <input type="text" name="lokasi" id="lokasi" class="form-control">
                        </div>


                    </div>
                </div> -->


            </form>
        </section>

    </div>
</div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import {
    id
} from 'vuejs-datepicker/dist/locale'
export default {
    name: "GoogleMap",
    components: {
        Datepicker,
    },
    data() {
        return {
            imageData1: "",
            imageData2: "",
            imageData3: "",
            imageData4: "",
            id: id,
            date: new Date(),
            format: "yyyy-MM-dd",
            editMode: false,
            detail: {},
            no_lhpp: {},
            center: {
                lat: -6.229728,
                lng: 106.6894282
            },
            markers: [],
            places: [],
            currentPlace: null,

            form: new Form({
                no_pendaftaran: '',
                nama: '',
                alamat: '',
                tarif: '',
                daya: '',
                btl: '',
                no_surat_tugas: '',
                pemeriksa1: '',
                pemeriksa2: '',
                no_lhpp: '',
                tgl_lhpp: '',
                gambar_instalasi: '',
                diagram_grs_tunggal: '',
                pe_saluran_utama: '',
                pe_saluran_cabang: '',
                pe_saluran_akhir: '',
                pe_kotak_kontak: '',
                jenis_peng_utama: '',
                jenis_peng_cabang: '',
                jenis_peng_akhir: '',
                penghantar_bumi_jenis: '',
                penghantar_bumi_luas: '',
                penghantar_bumi_sistem: '',

            }),


        }
    },
    methods: {
      previewImage4: function(event) {
        var input = event.target;
          // Ensure that you have a file before attempting to read it
          if (input.files && input.files[0]) {
              // create a new FileReader to read this image and convert to base64 format
              var reader = new FileReader();
              // Define a callback function to run, when FileReader finishes its job
              reader.onload = (e) => {
                  // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
                  // Read image as base64 and set to imageData
                  this.imageData4 = e.target.result;
              }
              // Start the reader job - read file as a data url (base64 format)
              reader.readAsDataURL(input.files[0]);
          }
      },
      previewImage3: function(event) {
        var input = event.target;
          // Ensure that you have a file before attempting to read it
          if (input.files && input.files[0]) {
              // create a new FileReader to read this image and convert to base64 format
              var reader = new FileReader();
              // Define a callback function to run, when FileReader finishes its job
              reader.onload = (e) => {
                  // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
                  // Read image as base64 and set to imageData
                  this.imageData3 = e.target.result;
              }
              // Start the reader job - read file as a data url (base64 format)
              reader.readAsDataURL(input.files[0]);
          }
      },
      previewImage2: function(event) {
        var input = event.target;
          // Ensure that you have a file before attempting to read it
          if (input.files && input.files[0]) {
              // create a new FileReader to read this image and convert to base64 format
              var reader = new FileReader();
              // Define a callback function to run, when FileReader finishes its job
              reader.onload = (e) => {
                  // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
                  // Read image as base64 and set to imageData
                  this.imageData2 = e.target.result;
              }
              // Start the reader job - read file as a data url (base64 format)
              reader.readAsDataURL(input.files[0]);
          }
      },
        previewImage1: function(event) {
          var input = event.target;
            // Ensure that you have a file before attempting to read it
            if (input.files && input.files[0]) {
                // create a new FileReader to read this image and convert to base64 format
                var reader = new FileReader();
                // Define a callback function to run, when FileReader finishes its job
                reader.onload = (e) => {
                    // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
                    // Read image as base64 and set to imageData
                    this.imageData1 = e.target.result;
                }
                // Start the reader job - read file as a data url (base64 format)
                reader.readAsDataURL(input.files[0]);
            }
        },
        prosesPemeriksaan() {
            var formData = new FormData(document.getElementById("FormPeriksa"));
            let instance = this;
            axios.post('/api/pemeriksa', formData)
                .then(() => {
                    this.$Progress.start();
                    console.log(formData);
                    Fire.$emit('AfterCreate');
                    swal(
                        'Sukses!',
                        'Data berhasil disimpan.',
                        'success'
                    )
                    this.$Progress.finish();
                    this.$router.push({
                        name: 'sudah-diperiksa'
                    });
                })
                .catch(() => {
                    swal(
                        'Gagal!',
                        'Terjadi kesalahan',
                        'warning'
                    )
                })
        },
        generateLhpp() {
            axios.get('/api/generate-lhpp').then(({
                data
            }) => (this.no_lhpp = data));
        },
        loadDetail() {
            axios.get('/api/pemeriksaan/add/' + this.$route.params.no_pendaftaran).then(({
                data
            }) => (this.detail = data));
        },
        setPlace(place) {
            this.currentPlace = place;
        },
        addMarker() {
            if (this.currentPlace) {
                const marker = {
                    lat: this.currentPlace.geometry.location.lat(),
                    lng: this.currentPlace.geometry.location.lng()
                };
                this.markers.push({
                    position: marker
                });
                this.places.push(this.currentPlace);
                this.center = marker;
                this.currentPlace = null;
            }
        },
        geolocate() {
            navigator.geolocation.getCurrentPosition(position => {
                this.center = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
            });
        }
    },
    created() {
        this.$Progress.start();
        this.loadDetail();
        this.generateLhpp();
        this.geolocate();
        this.$Progress.finish();
    }
}
</script>
