<template>
<div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Ubah Data Pelanggan
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#"> Ubah Data Pelanggan</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="box">
              <form method="POST" @submit.prevent="prosesEdit" id="FormEdit">

                <div class="box-body">
                    <div v-show="pelanggan == 0 && $gate.isAdWilayah()" class="callout callout-danger">
                        <h4>Perhatian!</h4>
                        <p>Data pelanggan telah diperiksa. Tidak dapat mengubah data. Silakan hubungi Pusat untuk perubahan data</p>
                    </div>
                    <div v-show="pelanggan == 0 && $gate.isAdminPusat()" class="callout callout-danger">
                        <h4>Perhatian!</h4>
                        <p>SLO telah diterbitkan. Data pelanggan tidak bisa diubah.</p>
                    </div>
                    <div class="col-md-12" v-for="dt in pelanggan">
                            <div class="col-md-12" style="margin-bottom: 10px; margin-top: 10px">
                                <label for="">Nama Lengkap :</label>
                                <input  type="text" v-for="dt in pelanggan" :key="dt.no_pendaftaran" :value="dt.nama" name="nama" class="form-control" :class="{ 'is-invalid': form.errors.has('nama') }" id="nama">
                            </div>

                            <div class="col-md-12" style="margin-bottom: 10px">
                                <label for="">Alamat :</label>
                                <textarea type="text"  v-for="dt in pelanggan" :key="dt.no_pendaftaran" :value="dt.alamat" name="alamat" id="alamat" class="form-control" rows="4"></textarea>
                                <has-error :form="form" field="alamat"></has-error>
                            </div>

                            <div class="col-md-6" style="margin-bottom: 10px">
                                <label for="">No KTP</label>
                                <input type="text" v-for="dt in pelanggan" :key="dt.no_pendaftaran" :value="dt.no_identitas" name="no_identitas" id="no_identitas" class="form-control">
                                <has-error :form="form" field="no_identitas"></has-error>
                            </div>

                            <div class="col-md-6" style="margin-bottom: 10px">
                                <label for="">Telepon</label>
                                <input type="text" v-for="dt in pelanggan" :key="dt.no_pendaftaran" :value="dt.no_telepon" name="no_telepon" id="no_telepon" class="form-control">
                                <has-error :form="form" field="no_telepon"></has-error>
                            </div>


                            <div class="col-md-12" style="margin-bottom: 10px">
                                <label for="">Bangunan :</label>
                                <select name="id_bangunan" id="id_bangunan" class="form-control" :class="{ 'is-invalid': form.errors.has('id_bangunan') }">
                                    <option v-for="dt in pelanggan" :key="dt.no_pendaftaran" :value="dt.id_bangunan">{{dt.jenis_bangunan}}</option>
                                    <option v-for="bgn in bangunan" :value="bgn.id">{{bgn.jenis_bangunan}}</option>
                                </select>
                                <has-error :form="form" field="id_bangunan"></has-error>
                            </div>



                            <div class="col-md-3" style="margin-bottom: 10px">
                                <label for="">No Gambar :</label>
                                <input type="text" v-for="dt in pelanggan" :key="dt.no_pendaftaran" :value="dt.no_gambar" name="no_gambar" id="no_gambar" class="form-control">
                                <has-error :form="form" field="no_gambar"></has-error>
                            </div>
                            <div class="col-md-4" style="margin-bottom: 10px">
                                <label for="">Tgl Gambar :</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <datepicker name="tgl_gambar" id="tgl_gambar" :format="format" v-for="dt in pelanggan" :key="dt.no_pendaftaran" :value="dt.tgl_gambar"></datepicker>
                                </div>
                            </div>
                            <div class="col-md-5" style="margin-bottom: 10px">
                                <label for="">Asosiasi No Gambar :</label>
                                <select  name="id_asosiasi" id="id_asosiasi" class="form-control" :class="{ 'is-invalid': form.errors.has('id_asosiasi') }">
                                    <option v-for="dt in pelanggan" :key="dt.no_pendaftaran" :value="dt.id_asosiasi">{{dt.nama_asosiasi}}</option>
                                    <option v-for="ass in asosiasi" :value="ass.id">{{ass.nama_asosiasi}}</option>
                                </select>
                                <has-error :form="form" field="id_asosiasi"></has-error>
                            </div>

                            <div class="col-md-6" style="margin-bottom: 10px">
                                <label for="">No Agenda PLN :</label>
                                <input type="text" v-for="dt in pelanggan" :key="dt.no_pendaftaran" :value="dt.no_agendapln" name="no_agendapln" id="no_agendapln" class="form-control">
                                <has-error :form="form" field="no_agendapln"></has-error>
                            </div>
                            <div class="col-md-6" style="margin-bottom: 10px">
                                <label for="">Tgl Reg PLN :</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <datepicker name="tgl_regpln" id="tgl_regpln" :format="format" v-for="dt in pelanggan" :key="dt.no_pendaftaran" :value="dt.tgl_regpln"></datepicker>
                                </div>
                            </div>



                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-right" style="margin-right: 30px">
                    <router-link :to="{ name: 'pelanggan' }" class="btn btn-danger">Batal</router-link>
                    <button v-show="pelanggan != 0" type="submit" class="btn btn-primary" name="submit">Simpan</button>
                </div>
                <!-- /.box-footer-->
                </form>
            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->



    </div>
</div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';

export default {
    components: {
        Datepicker
    },
    data() {
        return {
            format: "yyyy-MM-dd",
            editMode: false,
            pelanggan: {},

            form: new Form({
                id: '',
                nama: '',
                alamat: '',
                no_telepon: '',
                no_identitas: '',
                id_kwilayah: '',
                id_karea: '',
                kode_kota: '',
                id_subarea: '',
                id_tarif: '',
                id_daya: '',
                id_bangunan: '',
                id_penyedia: '',
                id_asosiasi: '',
                id_btl: '',
                tipe: 'Baru',
                status: 'Belum Bayar',
                tgl_gambar: '',
                tgl_regpln: '',
                no_agendapln: '',
                no_gambar: '',
                kode_prov: '',

            }),

            wilayah: {},
            asosiasi: {},
            area: {},
            user: {},
            kota: {},
            provinsi: {},
            subarea: {},
            tarif: {},
            daya: {},
            bangunan: {},
            penyedia: {},
            asosiasi: {},
            biro: {},
            pelanggan: {},
        }
    },
    methods: {
        prosesEdit(){
          var formData = new FormData(document.getElementById("FormEdit"));
          let instance = this;
          axios.post('/api/pelanggan/edit/'+this.$route.params.no_pendaftaran, formData)
              .then(() => {
                  this.$Progress.start();
                  console.log(formData);
                  Fire.$emit('AfterCreate');
                  swal(
                      'Sukses!',
                      'Data berhasil disimpan.',
                      'success'
                  )
                  this.$Progress.finish();
                  this.$router.push({
                      name: 'pelanggan'
                  });
              })
              .catch(() => {
                  swal(
                      'Gagal!',
                      'Terjadi kesalahan',
                      'warning'
                  )
              })
        },
        detailPelanggan(){
          axios.get('/api/pelanggan/edit/'+ this.$route.params.no_pendaftaran).then(({
              data
          }) => (this.pelanggan = data));
        },
        createPelanggan() {
            this.$Progress.start();
            this.form.post('api/pelanggan')
                .then(() => {
                    Fire.$emit('AfterCreate');
                    swal(
                        'Sukses!',
                        'Data berhasil disimpan.',
                        'success'
                    )
                    this.form.reset();
                    this.$Progress.finish();
                })
                .catch(() => {
                    swal(
                        'Gagal!',
                        'Terjadi kesalahan',
                        'warning'
                    )
                })
        },

        loadBangunan() {
            axios.get("/api/load-bangunan").then(({
                data
            }) => (this.bangunan = data));
        },
        loadAsosiasi() {
            axios.get("/api/load-asosiasi").then(({
                data
            }) => (this.asosiasi = data));
        },
        getResults(page = 1) {
            axios.get('api/pelanggan?page=' + page)
                .then(response => {
                    this.pelanggan = response.data;
                });
        }

    },
    created() {
        this.$Progress.start();
        this.detailPelanggan();
        this.loadBangunan('');
        this.loadAsosiasi('');
        this.$Progress.finish();
    }
}
</script>
