<template>
  <div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Proses Verifikasi
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Verifikasi</a></li>
        <li><a href="#"> Proses Verifikasi</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

    <div class="col-md-6">
         <div class="box">

            <form method="POST" enctype="multipart/form-data" @submit.prevent="createVerifikasi" id="FormVerifikasi">
                <div class="box-body">
                 <p>Form Verifikasi</p>
                 <hr>
                  
                  <label>PENTING! Isian yang bertanda</label><label class="red">&nbsp;(*)</label><label>&nbsp;wajib diisi!</label>
                  <br>

                 <label for="">No Pendaftaran :</label>
                 <input readonly="" v-for="dt in hasilperiksa" :key="dt.no_pendaftaran" :value="dt.no_pendaftaran" type="text" name="no_pendaftaran" class="form-control" id="no_pendaftaran" style="margin-bottom: 10px">

                 <has-error :form="form" field="no_pendaftaran"></has-error>

                 <label for="">No LHPP :</label>
                 <input readonly="" v-for="dt in hasilperiksa" :key="dt.no_lhpp" :value="dt.no_lhpp" type="text" name="no_lhpp" class="form-control" id="no_lhpp" style="margin-bottom: 10px">
                 <has-error :form="form" field="no_lhpp"></has-error>

                 <label for="">Pemeriksaan Dokumen :</label><label for="" class="red">&nbsp; (*)</label>
                 <select v-model="form.pemeriksaan_dokumen" name="pemeriksaan_dokumen" id="pemeriksaan_dokumen" class="form-control" :class="{ 'is-invalid': form.errors.has('pemeriksaan_dokumen') }" style="margin-bottom: 10px">
                  <option value="Laik">Laik</option>
                  <option value="Tidak Laik">Tidak Laik</option>
                  <option value="Tidak Perlu">Tidak Perlu</option>
              </select>
              <has-error :form="form" field="pemeriksaan_dokumen"></has-error>

              <label for="">Proteksi Terhadap Sentuh Langsung :</label><label for="" class="red">&nbsp; (*)</label>
              <select v-model="form.proteksi_sentuh_langung" name="proteksi_sentuh_langung" id="proteksi_sentuh_langung" class="form-control" :class="{ 'is-invalid': form.errors.has('proteksi_sentuh_langung') }" style="margin-bottom: 10px">
                  <option value="Laik">Laik</option>
                  <option value="Tidak Laik">Tidak Laik</option>
                  <option value="Tidak Perlu">Tidak Perlu</option>
              </select>
              <has-error :form="form" field="proteksi_sentuh_langung"></has-error>

              <label for="">Pemeriksaan Penghantar :</label><label for="" class="red">&nbsp; (*)</label>
              <select v-model="form.pemeriksaan_penghantar" name="pemeriksaan_penghantar" id="pemeriksaan_penghantar" class="form-control" :class="{ 'is-invalid': form.errors.has('pemeriksaan_penghantar') }" style="margin-bottom: 10px">
                  <option value="Laik">Laik</option>
                  <option value="Tidak Laik">Tidak Laik</option>
                  <option value="Tidak Perlu">Tidak Perlu</option>
              </select>
              <has-error :form="form" field="pemeriksaan_penghantar"></has-error>

              <label for="">Pemeriksaan PHB :</label><label for="" class="red">&nbsp; (*)</label>
              <select v-model="form.pemeriksaan_phb" name="pemeriksaan_phb" id="pemeriksaan_phb" class="form-control" :class="{ 'is-invalid': form.errors.has('pemeriksaan_phb') }" style="margin-bottom: 10px">
                  <option value="Laik">Laik</option>
                  <option value="Tidak Laik">Tidak Laik</option>
                  <option value="Tidak Perlu">Tidak Perlu</option>
              </select>
              <has-error :form="form" field="pemeriksaan_phb"></has-error>

              <label for="">Pemeriksaan Elektroda :</label><label for="" class="red">&nbsp; (*)</label>
              <select v-model="form.pemeriksaan_elektroda" name="pemeriksaan_elektroda" id="pemeriksaan_elektroda" class="form-control" :class="{ 'is-invalid': form.errors.has('pemeriksaan_elektroda') }" style="margin-bottom: 10px">
                  <option value="Laik">Laik</option>
                  <option value="Tidak Laik">Tidak Laik</option>
                  <option value="Tidak Perlu">Tidak Perlu</option>
              </select>
              <has-error :form="form" field="pemeriksaan_elektroda"></has-error>

              <label for="">Pemeriksaan Polaritas :</label><label for="" class="red">&nbsp; (*)</label>
              <select v-model="form.pemeriksaan_polaritas" name="pemeriksaan_polaritas" id="pemeriksaan_polaritas" class="form-control" :class="{ 'is-invalid': form.errors.has('pemeriksaan_polaritas') }" style="margin-bottom: 10px">
                  <option value="Laik">Laik</option>
                  <option value="Tidak Laik">Tidak Laik</option>
                  <option value="Tidak Perlu">Tidak Perlu</option>
              </select>
              <has-error :form="form" field="pemeriksaan_polaritas"></has-error>

              <label for="">Pemeriksaan Pemasangan :</label><label for="" class="red">&nbsp; (*)</label>
              <select v-model="form.pemeriksaan_pemasangan" name="pemeriksaan_pemasangan" id="pemeriksaan_pemasangan" class="form-control" :class="{ 'is-invalid': form.errors.has('pemeriksaan_pemasangan') }" style="margin-bottom: 10px">
                  <option value="Laik">Laik</option>
                  <option value="Tidak Laik">Tidak Laik</option>
                  <option value="Tidak Perlu">Tidak Perlu</option>
              </select>
              <has-error :form="form" field="pemeriksaan_pemasangan"></has-error>

              <label for="">Pemeriksaan SNI :</label><label for="" class="red">&nbsp; (*)</label>
              <select v-model="form.pemeriksaan_sni" name="pemeriksaan_sni" id="pemeriksaan_sni" class="form-control" :class="{ 'is-invalid': form.errors.has('pemeriksaan_sni') }" style="margin-bottom: 10px">
                  <option value="Laik">Laik</option>
                  <option value="Tidak Laik">Tidak Laik</option>
                  <option value="Tidak Perlu">Tidak Perlu</option>
              </select>
              <has-error :form="form" field="pemeriksaan_sni"></has-error>

              <label for="">Pemeriksaan Kamar Mandi :</label><label for="" class="red">&nbsp; (*)</label>
              <select v-model="form.pemeriksaan_kamar_mandi" name="pemeriksaan_kamar_mandi" id="pemeriksaan_kamar_mandi" class="form-control" :class="{ 'is-invalid': form.errors.has('pemeriksaan_kamar_mandi') }" style="margin-bottom: 10px">
                  <option value="Laik">Laik</option>
                  <option value="Tidak Laik">Tidak Laik</option>
                  <option value="Tidak Perlu">Tidak Perlu</option>
              </select>
              <has-error :form="form" field="pemeriksaan_kamar_mandi"></has-error>

              <label for="">Catatan :</label><label for="" class="red">&nbsp; (*)</label>
              <textarea type="text" v-model="form.catatan" name="catatan" id="catatan" class="form-control" rows="4" style="margin-bottom: 10px"></textarea>
              <has-error :form="form" field="catatan"></has-error>

              <label for="">Hasil Pemeriksaan :</label><label for="" class="red">&nbsp; (*)</label>
              <select v-model="form.hasil_pemeriksaan" name="hasil_pemeriksaan" id="hasil_pemeriksaan" class="form-control" :class="{ 'is-invalid': form.errors.has('hasil_pemeriksaan') }" style="margin-bottom: 10px">
                <option value="">-- Pilih Hasil Pemeriksaan --</option>
                <option value="Laik Operasi (LO)">Laik Operasi (LO)</option>
                <option value="Laik Operasi dengan perbaikan Minor (LOM)">Laik Operasi dengan perbaikan Minor (LOM)</option>
                <option value="Perlu perbaikan ulang (PPU)">Perlu perbaikan ulang (PPU)</option>
                <option value="Installasi belum terpasang (IBT)">Installasi belum terpasang (IBT)</option>
            </select>
            <has-error :form="form" field="hasil_pemeriksaan"></has-error>

            <div v-if="form.hasil_pemeriksaan === 'Perlu perbaikan ulang (PPU)'" class="box-body" style="background-color: #D3D3D3; margin-bottom: 10px">
                <label for="" class="red">Ceklist PPU :</label><label for="" class="red">&nbsp; (*)</label>
                <br>
                <input v-model="form.Iya" name="Iya" value="1" type="checkbox">
                Penghantar Proteksi PE tidak ada pada sirkit cabang
                <br>
                <input v-model="form.Tidak" name="Tidak" value="2" type="checkbox">
                Penghantar proteksi PE tidak dihubungkan pada kotak kontak

            </div>

            <label for="">Kesimpulan Hasil Verifikasi :</label><label for="" class="red">&nbsp; (*)</label>
            <select v-model="form.hasil_verifikasi" name="hasil_verifikasi" id="hasil_verifikasi" class="form-control" :class="{ 'is-invalid': form.errors.has('hasil_verifikasi') }" style="margin-bottom: 10px">
                <option value="">-- Pilih Kesimpulan Hasil Verifikasi --</option>
                <option value="approve">Approve</option>
                <option value="reject">Reject</option>
            </select>
            <has-error :form="form" field="hasil_verifikasi"></has-error>

            <div v-if="form.hasil_verifikasi === 'reject'" class="box-body" style="background-color: #D3D3D3; margin-bottom: 10px">
                <label for="" class="red">Noted Reject :</label><label for="" class="red">&nbsp; (*)</label>
                <textarea type="text" v-model="form.alasan_reject" name="alasan_reject" id="alasan_reject" class="form-control" rows="4" style="margin-bottom: 10px"></textarea>
                <has-error :form="form" field="alasan_reject"></has-error>
            </div>

        </div>

        <div class="box-footer text-right">
              <button type="submit" class="btn btn-primary" name="submit">Simpan</button>
        </div>

    </form>


        </div>
    </div>

    <div class="col-md-6">
        <div class="box">

           <div class="box-body">

            <p>Hasil Pemeriksaan</p>
            <hr>
            <label for="">No Pendaftaran :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.no_pendaftaran" :value="dt.no_pendaftaran" type="text" name="no_pendaftaran" class="form-control" id="no_pendaftaran" style="margin-bottom: 10px">

            <label for="">Nama Pelanggan :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.nama" :value="dt.nama" type="text" name="nama" class="form-control" id="nama" style="margin-bottom: 10px">

            <label for="">Alamat :</label>
            <textarea readonly v-for="dt in hasilperiksa" :key="dt.alamat" :value="dt.alamat" type="text" name="alamat" class="form-control" id="alamat" rows="4" style="margin-bottom: 10px"></textarea>

            <div class="col-md-6">
            <label for="">Tarif :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.jenis_tarif" :value="dt.jenis_tarif" type="text" name="jenis_tarif" class="form-control" id="jenis_tarif" style="margin-bottom: 10px">
            </div>

            <div class="col-md-6">
            <label for="">Daya :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.daya" :value="dt.daya" type="text" name="daya" class="form-control" id="daya" style="margin-bottom: 10px">
            </div>

            <label for="">BTL :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.nama_btl" :value="dt.nama_btl" type="text" name="nama_btl" class="form-control" id="nama_btl" style="margin-bottom: 10px">

            <label for="">No Surat Tugas :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.no_surat" :value="dt.no_surat" type="text" name="no_surat" class="form-control" id="no_surat" style="margin-bottom: 10px">

            <label for="">Nama Pemeriksa 1 :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.pemeriksa1" :value="dt.pemeriksa1" type="text" name="pemeriksa1" class="form-control" id="pemeriksa1" style="margin-bottom: 10px">

            <label for="">Nama Pemeriksa 2 :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.pemeriksa2" :value="dt.pemeriksa2" type="text" name="pemeriksa2" class="form-control" id="pemeriksa2" style="margin-bottom: 10px">

            <label for="">No LHPP :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.no_lhpp" :value="dt.no_lhpp" type="text" name="no_lhpp" class="form-control" id="no_lhpp" style="margin-bottom: 10px">

            <label for="">Tgl LHPP :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.tgl_lhpp" :value="dt.tgl_lhpp" type="text" name="tgl_lhpp" class="form-control" id="tgl_lhpp" style="margin-bottom: 10px">

            <label for="">Gambar Installasi :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.gambar_instalasi" :value="dt.gambar_instalasi" type="text" name="gambar_instalasi" class="form-control" id="gambar_instalasi" style="margin-bottom: 10px">

            <label for="">Diagram Garis Tunggal :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.diagram_garis_tunggal" :value="dt.diagram_garis_tunggal" type="text" name="diagram_garis_tunggal" class="form-control" id="diagram_garis_tunggal" style="margin-bottom: 10px">

            <label for="">Proteksi PE :</label>
            <br>
            <div class="col-md-4">
            <label for="">Utama :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.pe_utama" :value="dt.pe_utama" type="text" name="pe_utama" class="form-control" id="pe_utama" style="margin-bottom: 10px">
            </div>
            <div class="col-md-4">
            <label for="">Cabang :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.pe_cabang" :value="dt.pe_cabang" type="text" name="pe_cabang" class="form-control" id="pe_cabang" style="margin-bottom: 10px">
            </div>
            <div class="col-md-4">
            <label for="">Akhir :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.pe_akhir" :value="dt.pe_akhir" type="text" name="pe_akhir" class="form-control" id="pe_akhir" style="margin-bottom: 10px">
            </div>

            <label for="">Jenis Penghantar :</label>
            <br>
            <div class="col-md-4">
            <label for="">Utama :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.jenis_peng_utama" :value="dt.jenis_peng_utama" type="text" name="jenis_peng_utama" class="form-control" id="jenis_peng_utama" style="margin-bottom: 10px">
            </div>
            <div class="col-md-4">
            <label for="">Cabang :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.jenis_peng_cabang" :value="dt.jenis_peng_cabang" type="text" name="jenis_peng_cabang" class="form-control" id="jenis_peng_cabang" style="margin-bottom: 10px">
            </div>
            <div class="col-md-4">
            <label for="">Akhir :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.jenis_peng_akhir" :value="dt.jenis_peng_akhir" type="text" name="jenis_peng_akhir" class="form-control" id="jenis_peng_akhir" style="margin-bottom: 10px">
            </div>

            <label for="">Penampang Penghantar :</label>
            <br>
            <div class="col-md-4">
            <label for="">Utama :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.penghantar_utama" :value="dt.penghantar_utama" type="text" name="penghantar_utama" class="form-control" id="penghantar_utama" style="margin-bottom: 10px">
            </div>
            <div class="col-md-4">
            <label for="">Cabang :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.penghantar_cabang" :value="dt.penghantar_cabang" type="text" name="penghantar_cabang" class="form-control" id="penghantar_cabang" style="margin-bottom: 10px">
            </div>
            <div class="col-md-4">
            <label for="">Akhir :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.penghantar_akhir" :value="dt.penghantar_akhir" type="text" name="penghantar_akhir" class="form-control" id="penghantar_akhir" style="margin-bottom: 10px">
            </div>

            <label for="">Penampang Pembumian :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.penghantar_bumi_penampang" :value="dt.penghantar_bumi_penampang" type="text" name="penghantar_bumi_penampang" class="form-control" id="penghantar_bumi_penampang" style="margin-bottom: 10px">

            <label for="">Sakelar Utama :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.saklar_utama" :value="dt.saklar_utama" type="text" name="saklar_utama" class="form-control" id="saklar_utama" style="margin-bottom: 10px">

            <label for="">Ketinggian Kotak Kontak :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.tinggi_kotak_kontak" :value="dt.tinggi_kotak_kontak" type="text" name="tinggi_kotak_kontak" class="form-control" id="tinggi_kotak_kontak" style="margin-bottom: 10px">

            <label for="">Ketinggia PHBK :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.tinggi_phbk" :value="dt.tinggi_phbk" type="text" name="tinggi_phbk" class="form-control" id="tinggi_phbk" style="margin-bottom: 10px">

            <label for="">Jenis Kotak Kontak :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.jenis_kotak_kontak" :value="dt.jenis_kotak_kontak" type="text" name="jenis_kotak_kontak" class="form-control" id="jenis_kotak_kontak" style="margin-bottom: 10px">

            <label for="">Jumlah PHB Cabang :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.jml_phb_cabang" :value="dt.jml_phb_cabang" type="text" name="jml_phb_cabang" class="form-control" id="jml_phb_cabang" style="margin-bottom: 10px">

            <label for="">Jumlah Saluran :</label>
            <br>
            <div class="col-md-6">
            <label for="">Cabang :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.jml_saluran_cabang" :value="dt.jml_saluran_cabang" type="text" name="jml_saluran_cabang" class="form-control" id="jml_saluran_cabang" style="margin-bottom: 10px">
            </div>
            <div class="col-md-6">
            <label for="">Akhir :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.jml_saluran_akhir" :value="dt.jml_saluran_akhir" type="text" name="jml_saluran_akhir" class="form-control" id="jml_saluran_akhir" style="margin-bottom: 10px">
            </div>

            <label for="">Jumlah Titik Lampu :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.jml_titik_lampu" :value="dt.jml_titik_lampu" type="text" name="jml_titik_lampu" class="form-control" id="jml_titik_lampu" style="margin-bottom: 10px">

            <label for="">Jumlah Sakelar :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.jml_sakelar" :value="dt.jml_sakelar" type="text" name="jml_sakelar" class="form-control" id="jml_sakelar" style="margin-bottom: 10px">

            <label for="">KKB :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.kkb" :value="dt.kkb" type="text" name="kkb" class="form-control" id="kkb" style="margin-bottom: 10px">

            <label for="">KKK :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.kkk" :value="dt.kkk" type="text" name="kkk" class="form-control" id="kkk" style="margin-bottom: 10px">

            <label for="">Tahanan Isolasi Penghantar :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.tahanan_isolasi_penghantar" :value="dt.tahanan_isolasi_penghantar" type="text" name="tahanan_isolasi_penghantar" class="form-control" id="tahanan_isolasi_penghantar" style="margin-bottom: 10px">

            <label for="">Sistem Pembumian :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.penghantar_bumi_sistem" :value="dt.penghantar_bumi_sistem" type="text" name="penghantar_bumi_sistem" class="form-control" id="penghantar_bumi_sistem" style="margin-bottom: 10px">

            <label for="">Resisten Pembumian :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.resisten_pembumian" :value="dt.resisten_pembumian" type="text" name="resisten_pembumian" class="form-control" id="resisten_pembumian" style="margin-bottom: 10px">

            <label for="">Catatan Pemeriksa :</label>
            <textarea readonly v-for="dt in hasilperiksa" :key="dt.catatan" :value="dt.catatan" type="text" name="catatan" class="form-control" id="catatan" rows="4" style="margin-bottom: 10px"></textarea>

            <label for="">Foto 1 :</label>
            <img class="img-responsive" v-for="dt in hasilperiksa" :key="dt.foto1" :src="dt.foto1" alt="">

            <label for="">Foto 2 :</label>
            <img class="img-responsive" v-for="dt in hasilperiksa" :key="dt.foto2" :src="dt.foto2" alt="">

            <label for="">Foto 3 :</label>
            <img class="img-responsive" v-for="dt in hasilperiksa" :key="dt.foto3" :src="dt.foto3" alt="">

            <label for="">Foto 4</label>
            <img class="img-responsive" v-for="dt in hasilperiksa" :key="dt.foto4" :src="dt.foto4" alt="">

            <label for="">Location :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.location" :value="dt.location" type="text" name="location" class="form-control" id="location" style="margin-bottom: 10px">

            <label for="">Latitude :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.lat" :value="dt.lat" type="text" name="lat" class="form-control" id="lat" style="margin-bottom: 10px">

            <label for="">Longitude :</label>
            <input readonly="" v-for="dt in hasilperiksa" :key="dt.lng" :value="dt.lng" type="text" name="lng" class="form-control" id="lng" style="margin-bottom: 10px">

           </div>

        </div>
    </div>


    </section>
    <!-- /.content -->


    </div>
  </div>

</template>

<script>
    export default {
        data(){
          return {
            editMode: false,
            hasilperiksa: {},

            form: new Form({
              no_pendaftaran : '',
              no_lhpp : '',
              pemeriksaan_dokumen : '',
              proteksi_sentuh_langung : '',
              pemeriksaan_penghantar : '',
              pemeriksaan_phb : '',
              pemeriksaan_elektroda : '',
              pemeriksaan_polaritas : '',
              pemeriksaan_pemasangan: '',
              pemeriksaan_sni: '',
              pemeriksaan_kamar_mandi: '',
              catatan: '',
              Iya: '',
              Tidak: '',
              hasil_pemeriksaan: '',
              hasil_verifikasi: '',
              alasan_reject: '',

            }),


          }
        },

        methods:{
          createVerifikasi(){
            var formData = new FormData(document.getElementById("FormVerifikasi"));
            let instance = this;
            axios.post('/api/verifikasi', formData)
                .then(() => {
                    this.$Progress.start();
                    console.log(formData);
                    Fire.$emit('AfterCreate');
                    swal(
                        'Sukses!',
                        'Data berhasil disimpan.',
                        'success'
                    )
                    this.$Progress.finish();
                    this.$router.push({name: 'sudah-verifikasi'});
                })
                .catch(() => {
                    swal(
                        'Gagal!',
                        'Terjadi kesalahan',
                        'warning'
                    )
                })
          },
          prosesVerif(){
            axios.get("/api/proses-verif/add/" + this.$route.params.no_pendaftaran).then(({data}) => (this.hasilperiksa = data));
          }

        },
         created() {
         this.$Progress.start();
         this.prosesVerif();
         this.$Progress.finish();
       }
    }
</script>
