<template>
<div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Pelanggan
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#"> Pelanggan</a></li>
                <li><a href="#"> Buat No Agenda</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="col-md-12">
                <div class="box">

                    <form method="POST" id="FormSertifikasi" name="FormSertifikasi">
                        <div class="box-body">

                          <div v-show="detail == 0" class="callout callout-danger">
                              <h4>Perhatian!</h4>
                              <p>Pelanggan telah memiliki No Agenda DJK.</p>
                          </div>
                          <div class="col-md-12" v-for="dt in detail">
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Nomor Pendaftaran</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" v-for="dt in detail" :key="dt.no_pendaftaran" :value="dt.no_pendaftaran" name="no_pendaftaran" id="no_pendaftaran" readonly class="form-control" value="">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Nama Pelanggan</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.nama}}</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Tarif/ Daya</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.jenis_tarif}}/{{dt.daya}}</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Alamat</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.alamat}}</p>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Penyedia Tenaga Listrik</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.nama_penyedia}}</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Nomor Telepon</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" v-for="dt in detail" :key="dt.no_pendaftaran" :value="dt.no_telepon" name="no_telepon" id="no_telepon" readonly class="form-control" value="">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">E-mail</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="email" name="email" id="email" class="form-control" value="">
                                </div>
                            </div>
                          </div>

                        </div>

                    </form>
                    <div class="box-footer text-right">
                        <router-link to="/pelanggan" class="btn btn-danger">Batal</router-link>
                        <button v-show="detail != 0" @click="terbitkanSertif()" class="btn btn-primary" type="submit">Kirim Ke DJK</button>
                    </div>

                </div>
            </div>

        </section>
        <!-- /.content -->


    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            editMode: false,
            detail: {},
        }
    },

    methods: {

        loadData() {
            axios.get('/api/pelanggan/request-agenda/' + this.$route.params.no_pendaftaran).then(({
                data
            }) => (this.detail = data));
        }
    },
    created() {
        this.$Progress.start();
        this.loadData();
        this.$Progress.finish();
    }
}
</script>
