<template>
<div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Ubah Daya
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#"> Pelanggan</a></li>
                <li><a href="#"> Ubah Daya</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="box">

                <div class="box-body">
                    <div class="col-md-12">
                        <div v-show="detail == 0" class="callout callout-warning">
                            <h4>Perhatian!</h4>
                            <p>Pelanggan telah melakukan pembayaran. Daya tidak dapat diubah</p>
                        </div>
                        <form method="POST" id="FormUbahDaya">
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">NIK</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.no_identitas}}</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Nama Pelanggan</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.nama}}</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Alamat</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.alamat}}</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">No Telepon</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.no_telepon}}</p>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-bottom: 10px">
                              <label for="">Tarif</label>
                              <select v-model="form.id_tarif" name="id_tarif" id="id_tarif" class="form-control" :class="{ 'is-invalid': form.errors.has('id_tarif') }">
                                <option v-for="trf in tarif" :value="trf.id">{{trf.jenis_tarif}}</option>
                              </select>
                              <has-error :form="form" field="id_tarif"></has-error>
                            </div>
                            <div class="col-md-6" style="margin-bottom: 10px">
                              <label for="">Daya Baru</label>
                              <select v-model="form.id_daya" name="id_daya" id="id_daya" class="form-control" :class="{ 'is-invalid': form.errors.has('id_daya') }">
                                <option v-for="d in daya" :value="d.id">{{d.daya}}</option>
                              </select>
                              <has-error :form="form" field="id_daya"></has-error>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-right" style="margin-right: 30px">
                    <button @click="updateDaya()" class="btn btn-primary" type="submit">Simpan</button>
                </div>
                <!-- /.box-footer-->
            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->



    </div>
</div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';

export default {
    components: {
        Datepicker
    },
    data() {
        return {
            format: "yyyy-MM-dd",
            editMode: false,

            detail: {},
            tarif: {},
            daya: {},

            form: new Form({

              id_tarif: '',
              id_daya: '',

            }),
        }
    },
    methods: {
      updateDaya(){
         this.$Progress.start();

         this.form.put('/api/pelanggan/ubah-daya/'+ this.$route.params.no_pendaftaran)
         .then(() => {
           swal(
             'Sukses!',
             'Data berhasil dirubah.',
             'success'
             )
           this.$Progress.finish();
           this.$router.push({name: 'pelanggan'})
         }).catch(() => {

         });
      },
        loadTarif() {
            axios.get("/api/load-tarif").then(({
                data
            }) => (this.tarif = data));
        },
        loadDaya() {
            axios.get("/api/load-daya").then(({
                data
            }) => (this.daya = data));
        },
        loadDetail() {
            axios.get('/api/pelanggan/ubah-daya/' + this.$route.params.no_pendaftaran).then(({
                data
            }) => (this.detail = data));
        },


    },
    created() {
        this.$Progress.start();
        this.loadDetail('');
        this.loadTarif();
        this.loadDaya();
        this.$Progress.finish();
    }
}
</script>
