<template>
<div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Sertifikat
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#"> Sertifikasi</a></li>
                <li><a href="#"> Belum Terbit</a></li>
                <li><a href="#"> Cetak Sertifikat</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="col-md-12">
                <div class="box">

                    <form method="POST" id="FormSertifikasi" name="FormSertifikasi">
                        <div class="box-body">
                            <hr>
                            <div v-for="dt in detail" :key="dt.no_pendaftaran" v-show="dt.no_agenda == null" class="callout callout-warning">
                                <h4>Perhatian!</h4>
                                <p>Sertifikat ini belum dapat dicetak karena belum mendapatkan No Agenda dari DJK. Klik <a href="#" @click="formAgenda()">Di sini</a> untuk mendapatkan No Agenda</p>
                                <label>Isian yang bertanda</label><label class="red">&nbsp;(*)</label><label>&nbsp;wajib diisi!</label>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Nomor Pendaftaran</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" v-for="dt in detail" :key="dt.no_pendaftaran" :value="dt.no_pendaftaran" name="no_pendaftaran" id="no_pendaftaran" readonly class="form-control" value="">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Nomor Agenda (DJK)</label><label for="" class="red">&nbsp; (*)</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" v-for="dt in detail" :key="dt.no_pendaftaran" :value="dt.no_agenda" name="no_agenda" id="no_agenda" readonly class="form-control" value="">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Nomor LHPP</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" v-for="dt in detail" :key="dt.no_pendaftaran" :value="dt.no_lhpp" name="no_lhpp" id="no_lhpp" readonly class="form-control" value="">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Kantor Wilayah</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.nama_wilayah}}</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Kantor Area</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.nama_area}}</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Kantor Sub Area</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.nama_subarea}}</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Jenis Bangunan</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.jenis_bangunan}}</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Nama Pelanggan</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.nama}}</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Alamat</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.alamat}}</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Nomor Agenda PLN</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.no_agendapln}}</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Daya Tersambung</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.daya}}</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Penyedia Tenaga Listrik</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.nama_penyedia}}</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Biro Teknik Listrik</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.nama_btl}}</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Jumlah PHB</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.jml_phb_utama}}</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Jumlah Saluran Cabang</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.jml_saluran_cabang}}</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Jumlah Titik Lampu</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.jml_titik_lampu}}</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Jumlah Sakelar</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.jml_sakelar}}</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">KKB</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.kkb}}</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">KKK</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.kkk}}</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Penanda Tangan</label>
                                </div>
                                <div class="col-md-9">
                                    <input readonly type="text" v-for="pt in pttd" name="penanda_tangan" id="penanda_tangan" class="form-control" :value="pt.penanda_tangan">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">PJT</label>
                                </div>
                                <div class="col-md-9">
                                    <p class="blue" v-for="dt in detail" :key="dt.no_pendaftaran">{{dt.pjt}}</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">Nomor Seri</label><label for="" class="red">&nbsp; (*)</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" name="no_seri" id="no_seri" class="form-control" value="">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">PJT untuk cetak</label><label for="" class="red">&nbsp; (*)</label>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control" name="pjt_cetak" id="pjt_cetak">
                                        <option value="">-- PJT --</option>
                                        <option v-for="pnt in pejt" :key="pnt.id" :value="pnt.id">{{pnt.nip}}: {{pnt.nama}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label for="">TT untuk cetak</label><label for="" class="red">&nbsp; (*)</label>
                                </div>
                                <div class="col-md-9">
                                  <select class="form-control" name="tt_cetak" id="tt_cetak">
                                      <option value="">-- TT --</option>
                                      <option v-for="tt in tenagat" :key="tt.id" :value="tt.id">{{tt.nip}}: {{tt.nama}}</option>
                                  </select>
                                </div>
                            </div>

                            <p class="red">Setelah dicetak data tidak dapat dihapus dan diubah. Pastikan data pelanggan sudah benar</p>


                        </div>

                    </form>
                    <div class="box-footer text-right">
                        <button v-for="dt in detail" :key="dt.no_pendaftaran" :disabled="dt.no_agenda == null" @click="terbitkanSertif()" class="btn btn-primary" type="submit">Simpan</button>
                    </div>

                </div>
            </div>

        </section>
        <!-- /.content -->


    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            editMode: false,
            detail: {},
            pejt: {},
            tenagat: {},
            pttd: {},


        }
    },

    methods: {
        formAgenda(){
          this.$router.push({
              name: 'rekues-agenda',
              params: {
                  no_pendaftaran: this.$route.params.no_pendaftaran
              }
          })
        },
        cetakSertifikat(){
          // window.location.href = '/pdf/sertifikat/cetak/'+this.$route.params.no_pendaftaran;
          window.open('/pdf/sertifikat/cetak/'+this.$route.params.no_pendaftaran, '_blank');
        },
        terbitkanSertif(){
          var formData = new FormData(document.getElementById("FormSertifikasi"));
          let instance = this;
          axios.post('/api/sertifikasi', formData)
              .then(() => {
                  this.$Progress.start();
                  console.log(formData);
                  swal(
                      'Sukses!',
                      'Data berhasil disimpan.',
                      'success'
                  )
                  this.$Progress.finish();
                  this.cetakSertifikat();
                  this.$router.push({name: 'sertifikasi-terbit'});
              })
              .catch(() => {
                  swal(
                      'Gagal!',
                      'Terjadi kesalahan',
                      'warning'
                  )
              })
        },
        loadPttd(){
          axios.get("/api/penanda-tangan").then(({data}) => (this.pttd = data));
        },
        loadTT() {
            axios.get('/api/sertifikasi/load-tt/' + this.$route.params.no_pendaftaran).then(({
                data
            }) => (this.tenagat = data));
        },
        loadPjt() {
            axios.get('/api/sertifikasi/load-pjt/' + this.$route.params.no_pendaftaran).then(({
                data
            }) => (this.pejt = data));
        },
        loadData() {
            axios.get('/api/sertifikasi/add/' + this.$route.params.no_pendaftaran).then(({
                data
            }) => (this.detail = data));
        }
    },
    created() {
        this.$Progress.start();
        this.loadData();
        this.loadPjt();
        this.loadTT();
        this.loadPttd();
        this.$Progress.finish();
    }
}
</script>
