<template>
<div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Berita
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#"> Berita</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools pull-right">
                        <!-- <button class="btn btn-primary btn-sm">Tambah<i class="fas fa-plus fa-fw"></i></button> -->
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-chevron-up"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <form id='FormBerita' method="POST" enctype="multipart/form-data" @submit.prevent="createBerita">
                            <input type="hidden" name="id" v-model="form.id">
                            <ckeditor id="FormBerita" :editor="editor" v-model="form.berita" :config="editorConfig" tag-name="textarea"></ckeditor>
                            <!-- <textarea v-model="form.berita" type="text" rows="5" name="berita" class="form-control" :class="{ 'is-invalid': form.errors.has('berita') }" id="berita" placeholder="Isi berita disini"></textarea>
            <has-error :form="form" field="berita"></has-error> -->
                            <br>
                            <button type="submit" name="submit" class="btn btn-md btn-primary"><i class="fa fa-save"></i> Simpan</button>
                        </form>

                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">

                </div>
                <!-- /.box-footer-->
            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
       


    </div>
    
</div>
</template>


<script>

import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

export default {
    name: 'app',
    data() {
        return {
            form: new Form({
                id: '',
                berita: '',

            }),
            editor: ClassicEditor,
            // editorData: '<p>Content of the editor.</p>',
            editorConfig: {
                // The configuration of the editor.
            }
        };
    },
    methods: {
        loadBerita() {
            axios.get('/api/berita-terkini').then(({
                data
            }) => (this.form.fill(data)));
        },
        createBerita() {
            
            var formData = new FormData(document.querySelector('#FormBerita'));
            let instance = this;
            this.form.put('/api/berita/'+this.form.id)
                .then(() => {
                    this.$Progress.start();
                    Fire.$emit('AfterCreate');
                    swal(
                        'Sukses!',
                        'Data berhasil disimpan.',
                        'success'
                    )
                    this.$Progress.finish();
                    this.form.reset();
                })
                .catch(() => {
                    swal(
                        'Gagal!',
                        'Terjadi kesalahan',
                        'warning'
                    )
                })
        },
        
    },
    created() {
        this.$Progress.start();
        this.loadBerita();
        Fire.$on('AfterCreate', () => {
          this.loadBerita();
        });
        this.$Progress.finish();
    }
}
</script>
