<template>
    <div class="col-lg-12">
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Management User Level
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Management User Level</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">

          <div class="box-tools pull-right">
            <button class="btn btn-primary btn-sm">Tambah<i class="fas fa-plus fa-fw"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-chevron-up"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="col-md-12">
            
            
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center">
         
        </div>
         <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->


    </div>


</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

