<template>
    <div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Pelanggan BTL
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Pelanggan BTL</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>
          <div class="box-tools pull-right">
            <router-link to="/pelanggan-baru" class="btn btn-primary">Tambah<i class="fas fa-plus fa-fw"></i></router-link>
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-chevron-up"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="col-md-12">
            <v-client-table :data="pelanggan_btl" :columns="columns" :options="options">



            </v-client-table>

          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center">

        </div>
         <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->


    </div>
 </div>

</template>

<script>
import Datepicker from 'vuejs-datepicker';
import {
    id
} from 'vuejs-datepicker/dist/locale'
    export default {
      components: {
          Datepicker,
      },
        data(){
          return {
            columns: [
                'no_pendaftaran', 'no_agenda', 'nama', 'alamat', 'kota.kota', 'wilayah.nama_wilayah', 'area.nama', 'subarea.nama_subarea', 'btl.nama_btl', 'tarif.jenis_tarif', 'daya.daya', 'bangunan.jenis_bangunan',
                'asosiasi.nama_asosiasi', 'tipe',
            ],
            columnsAdmin: [
                'no_pendaftaran', 'no_agenda', 'nama', 'alamat', 'kota.kota', 'wilayah.nama_wilayah', 'area.nama', 'subarea.nama_subarea', 'btl.nama_btl', 'tarif.jenis_tarif', 'daya.daya', 'bangunan.jenis_bangunan',
                'asosiasi.nama_asosiasi', 'tipe',
            ],
            options: {
              texts: {
                filterPlaceholder:"Cari data",
                filter:"Pencarian : ",
                filterBy:"Cari berdasarkan {column}",
                count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
              },
                headings: {
                    edit: 'Edit',
                    hapus: 'Hapus',
                    // ubahDaya: 'Ubah Daya',
                    aksi: 'Reg Agenda',
                    no_pendaftaran: 'No Pendaftaran',
                    no_agenda: 'No Agenda',
                    nama: 'Nama',
                    alamat: 'Alamat',
                    'kota.kota': 'Kota',
                    'wilayah.nama_wilayah': 'Wilayah',
                    'area.nama': 'Area',
                    'subarea.nama_subarea': 'Sub Area',
                    'btl.nama_btl': 'Biro',
                    'bangunan.jenis_bangunan': 'Bangunan',
                    'tarif.jenis_tarif': 'Tarif',
                    'daya.daya': 'Daya',
                    'asosiasi.nama_asosiasi': 'Asosiasi No Gambar',
                    created_at: 'Tgl Daftar',
                    tipe: 'Tipe',
                },
                columnsDisplay: {},
                filterByColumn: true,
                pagination: { dropdown:false },
                columnsClasses: {
                  edit: 'h5 text-center',
                  hapus: 'h5 text-center',
                  aksi: 'h5',
                  no_pendaftaran: 'h5',
                  no_agenda: 'h5',
                  nama: 'h5',
                  alamat: 'h5',
                  'kota.kota': 'h5',
                  'wilayah.nama_wilayah': 'h5',
                  'area.nama': 'h5',
                  'subarea.nama_subarea': 'h5',
                  'btl.nama_btl': 'h5',
                  'bangunan.jenis_bangunan': 'h5',
                  'tarif.jenis_tarif': 'h5',
                  'daya.daya': 'h5',
                  'asosiasi.nama_asosiasi': 'h5',
                  created_at: 'h5',
                  tipe: 'h5',
                },
                sortable: ['id', 'no_pendaftaran', 'no_agenda', 'no_agendapln', 'nama', 'alamat', 'kota.kota', 'wilayah.nama_wilayah', 'area.nama', 'subarea.nama_subarea', 'btl.nama_btl', 'tarif.jenis_tarif', 'daya.daya', 'bangunan.jenis_bangunan',
                    'asosiasi.nama_asosiasi', 'created_at', 'tipe',
                ],
                filterable: ['id', 'no_pendaftaran', 'no_agenda', 'no_agendapln', 'nama', 'alamat', 'kota.kota', 'wilayah.nama_wilayah', 'area.nama', 'subarea.nama_subarea', 'btl.nama_btl', 'tarif.jenis_tarif', 'daya.daya', 'bangunan.jenis_bangunan',
                    'asosiasi.nama_asosiasi', 'created_at', 'tipe',
                ],
            },
            pelanggan_btl: [],
          }
        },
        methods: {
          loadPelangganBtl(){
            axios.get("/api/biro-pelanggan").then(({
                data
            }) => (this.pelanggan_btl = data));
          },
        },
        created() {
         this.$Progress.start();
         this.loadPelangganBtl('');
         Fire.$on('AfterCreate', () => {
          this.loadPelangganBtl('');
          });
         this.$Progress.finish();
       }
    }
</script>
