<template>
    <div class="table-responsive">
        <div class="col-md-12">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Pelanggan
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#"> Pelanggan</a></li>
                </ol>
            </section>

            <div class="nav-tabs-custom" style="margin-top: 10px;">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Data Pelanggan</a></li>
                    <li class=""><a href="#tab_2" data-toggle="tab" @click="pelangganWeb" aria-expanded="false">Calon Pelanggan Web</a></li>
                    <li class=""><a href="#tab_3" @click="loadPelangganBtl" data-toggle="tab" aria-expanded="false">Pelanggan BTL</a></li>
                    <li class=""><a href="#tab_4" data-toggle="tab" aria-expanded="false">Pelanggan DJK</a></li>
                    <li class=""><a href="#tab_5" data-toggle="tab" aria-expanded="false">Pelanggan PLN</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div v-if="$gate.isAdminPusat() || $gate.isAdArea() || $gate.isAdWilayah() || $gate.isAdmin()" class="btn-group" style="margin-bottom: 10px">
                            <!-- <div class="btn-group" style="margin-bottom: 10px"> -->
                            <button type="button" class="btn btn-primary">Tambah Pelanggan</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                <router-link to="/pelanggan-baru">Pelanggan Baru</router-link>
                                </li>
                                <li>
                                <router-link to="/pelanggan-lama">Installasi Lama</router-link>
                                </li>
                                <li><a href="#" @click="ubahDaya()">Ubah Daya</a></li>
                            </ul>
                        </div>

                        <v-client-table v-if="$gate.isAdminPusat() || $gate.isAdWilayah() || $gate.isManagerArea()" :data="pelanggan" :columns="columns" :options="options">

                            <a slot="edit" slot-scope="{row}" class="btn btn-default" href="#" @click="editModal(row.no_pendaftaran)">
                                <i class="fa fa-edit blue"></i> Edit
                            </a>
                            <a :disabled="onDisable(row.status)" slot="hapus" slot-scope="{row}" class="btn btn-default" href="#" @click="hapusPelanggan(row.no_pendaftaran, row.status)">
                                <i class="fa fa-trash red"></i> Hapus
                            </a>

                            <a href="#" :disabled="row.no_agenda !== null" slot="aksi" slot-scope="{row}" class="btn btn-default" @click="reqNoAgenda(row.no_pendaftaran)">
                               <i class="fa fa-tag blue"></i>Rek No Agenda
                            </a>

                        </v-client-table>
                        <v-client-table v-if="$gate.isAdArea() || $gate.isAdSubArea()" :data="pelanggan" :columns="columnsAdmin" :options="options">

                            <a slot="edit" slot-scope="{row}" class="btn btn-default" href="#" @click="editModal(row.no_pendaftaran)">
                                <i class="fa fa-edit blue"></i> Edit
                            </a>
                            <!-- <a slot="hapus" slot-scope="{row}" href="#" @click="hapusPelanggan(row.id)">
                          <i class="fa fa-trash red"></i> Hapus
                        </a> -->

                            <a href="#" :disabled="row.no_agenda !== null" slot="aksi" slot-scope="{row}" class="btn btn-default" @click="reqNoAgenda(row.no_pendaftaran)">
                               <i class="fa fa-tag blue"></i>Rek No Agenda
                            </a>

                        </v-client-table>
                        <div class="row">

                        </div>
                    </div>

                    <div class="tab-pane" id="tab_2">
                        <v-client-table :data="pelanggan_web" :columns="webColumns" :options="webOptions" ref="tabPelangganWeb">

                            <a slot="aksi" slot-scope="{row}" href="#" @click="acceptPelanggan(row.id)">
                                <i class="fa fa-check blue"></i>
                            </a>
                            <a v-if="$gate.isAdminPusat()" slot="hapus" slot-scope="{row}" href="#" @click="hapusPelanggan(row.id)">
                                <i class="fa fa-trash red"></i>
                            </a>

                        </v-client-table>
                        <div class="row">

                        </div>
                    </div>

                    <div class="tab-pane" id="tab_3">
                        <v-client-table v-if="$gate.isAdminPusat() || $gate.isAdWilayah()" :data="pelanggan_btl" :columns="columns" :options="options">

                            <a slot="edit" slot-scope="{row}" class="btn btn-default" href="#" @click="editModal(row.no_pendaftaran)">
                                <i class="fa fa-edit blue"></i> Edit
                            </a>
                            <a slot="hapus" slot-scope="{row}" class="btn btn-default" href="#" @click="hapusPelanggan(row.no_pendaftaran)">
                                <i class="fa fa-trash red"></i> Hapus
                            </a>

                            <a href="#" :disabled="row.no_agenda !== null" slot="aksi" slot-scope="{row}" class="btn btn-default" @click="reqNoAgenda(row.no_pendaftaran)">
                               <i class="fa fa-tag blue"></i>Rek No Agenda
                            </a>

                        </v-client-table>
                        <v-client-table v-if="$gate.isAdArea() || $gate.isAdSubArea()" :data="pelanggan_btl" :columns="columnsAdmin" :options="options">

                            <a slot="edit" slot-scope="{row}" class="btn btn-default" href="#" @click="editModal(row.no_pendaftaran)">
                                <i class="fa fa-edit blue"></i> Edit
                            </a>
                            <!-- <a slot="hapus" slot-scope="{row}" href="#" @click="hapusPelanggan(row.id)">
                          <i class="fa fa-trash red"></i> Hapus
                        </a> -->

                            <a href="#" :disabled="row.no_agenda !== null" slot="aksi" slot-scope="{row}" class="btn btn-default" @click="reqNoAgenda(row.no_pendaftaran)">
                               <i class="fa fa-tag blue"></i>Rek No Agenda
                            </a>

                        </v-client-table>
                        <div class="row">

                        </div>

                    </div>

                    <div class="tab-pane" id="tab_4">


                    </div>




                </div>
                <!-- /.tab-content -->
            </div>


            <!-- /.content -->
            <div class="modal fade" id="editPelanggan" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="addNewLabel">Ubah Pelanggan</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form @submit.prevent="updatePelanggan()">
                            <div class="row">
                                <div class="modal-body col-md-12">

                                    <div class="form-group col-md-12">
                                        <label for="">Nama Lengkap</label>
                                        <input v-model="form.nama" type="text" name="nama" class="form-control" :class="{ 'is-invalid': form.errors.has('nama') }" id="nama">
                                               <has-error :form="form" field="nama"></has-error>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="">Alamat</label>
                                        <textarea v-model="form.alamat" type="text" rows="3" name="alamat" class="form-control" :class="{ 'is-invalid': form.errors.has('alamat') }" id="alamat"></textarea>
                                        <has-error :form="form" field="alamat"></has-error>
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label for="">No KTP</label>
                                        <input type="text" v-model="form.no_identitas" name="no_identitas" id="no_identitas" class="form-control">
                                        <has-error :form="form" field="no_identitas"></has-error>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="">Telepon</label>
                                        <input type="text" v-model="form.no_telepon" name="no_telepon" id="no_telepon" class="form-control">
                                        <has-error :form="form" field="no_telepon"></has-error>
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label for="">Bangunan</label>
                                        <select v-model="form.id_bangunan" name="id_bangunan" id="id_bangunan" class="form-control" :class="{ 'is-invalid': form.errors.has('id_bangunan') }">
                                                <option v-for="bgn in bangunan" :value="bgn.id">{{bgn.jenis_bangunan}}</option>
                                        </select>
                                        <has-error :form="form" field="id_bangunan"></has-error>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="">No Gambar</label>
                                        <input type="text" v-model="form.no_gambar" name="no_gambar" id="no_gambar" class="form-control">
                                        <has-error :form="form" field="no_gambar"></has-error>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="">Tgl Gambar</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <datepicker :format="format" v-model="form.tgl_gambar"></datepicker>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label for="">Asosiasi No Gambar</label>
                                        <select v-model="form.id_asosiasi" name="id_asosiasi" id="id_asosiasi" class="form-control" :class="{ 'is-invalid': form.errors.has('id_asosiasi') }">
                                                <option v-for="ass in asosiasi" :value="ass.id">{{ass.nama_asosiasi}}</option>
                                        </select>
                                        <has-error :form="form" field="id_asosiasi"></has-error>

                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="">No Agenda PLN</label>
                                        <input type="text" v-model="form.no_agendapln" name="no_agendapln" id="no_agendapln" class="form-control">
                                        <has-error :form="form" field="no_agendapln"></has-error>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="">Tgl Reg PLN</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <datepicker :format="format" v-model="form.tgl_regpln"></datepicker>
                                        </div>
                                    </div>

                                </div>

                                <div class="modal-footer" style="margin-right: 15px">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                                    <button v-show="editMode" type="submit" class="btn btn-success">Ubah</button>
                                    <button v-show="!editMode" type="submit" class="btn btn-primary">Simpan</button>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="ubahDaya" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="addNewLabel">Ubah Daya</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form>
                            <div class="row">
                                <div class="modal-body col-md-12">
                                    <div class="callout callout-warning">
                                        <h4>Perhatian!</h4>
                                        <p>Untuk ubah daya, hanya pelanggan yang belum melakukan pembayaran</p>
                                        <p>Silakan masukkan No Pendaftaran, dan klik lanjutkan</p>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">No Pendaftaran</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" v-model="form.no_pendaftaran" name="no_pendaftaran" id="no_pendaftaran" class="form-control">
                                    </div>
                                </div>
                                <div class="modal-footer" style="margin-right: 15px">
                                    <a href="#" @click="prosesDaya()" class="btn btn-primary">Lanjutkan</a>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    export default {
        components: {
            Datepicker
        },
        data() {
            return {
                format: "yyyy-MM-dd",
                editMode: false,
                pelanggan: [],
                columns: [
                    // 'aksi', 
                    'edit', 'hapus', 'no_pendaftaran', 'no_agenda', 'nama', 'alamat', 'kota.kota', 'wilayah.nama_wilayah', 'area.nama', 'subarea.nama_subarea', 'btl.nama_btl', 'tarif.jenis_tarif', 'daya.daya', 'bangunan.jenis_bangunan',
                    'asosiasi.nama_asosiasi', 'tipe',
                ],
                columnsAdmin: [
                    // 'aksi', 
                    'no_pendaftaran', 'no_agenda', 'nama', 'alamat', 'kota.kota', 'wilayah.nama_wilayah', 'area.nama', 'subarea.nama_subarea', 'btl.nama_btl', 'tarif.jenis_tarif', 'daya.daya', 'bangunan.jenis_bangunan',
                    'asosiasi.nama_asosiasi', 'tipe',
                ],
                options: {
                    texts: {
                        filterPlaceholder: "Cari data",
                        filter: "Pencarian : ",
                        filterBy: "Cari berdasarkan {column}",
                        count: "Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
                    },
                    headings: {
                        edit: 'Edit',
                        hapus: 'Hapus',
                        // ubahDaya: 'Ubah Daya',
                        // aksi: 'Reg Agenda',
                        no_pendaftaran: 'No Pendaftaran',
                        no_agenda: 'No Agenda',
                        nama: 'Nama',
                        alamat: 'Alamat',
                        'kota.kota': 'Kota',
                        'wilayah.nama_wilayah': 'Wilayah',
                        'area.nama': 'Area',
                        'subarea.nama_subarea': 'Sub Area',
                        'btl.nama_btl': 'Biro',
                        'bangunan.jenis_bangunan': 'Bangunan',
                        'tarif.jenis_tarif': 'Tarif',
                        'daya.daya': 'Daya',
                        'asosiasi.nama_asosiasi': 'Asosiasi No Gambar',
                        created_at: 'Tgl Daftar',
                        tipe: 'Tipe',
                    },
                    columnsDisplay: {},
                    filterByColumn: true,
                    pagination: {dropdown: false},
                    columnsClasses: {
                        edit: 'h5 text-center',
                        hapus: 'h5 text-center',
                        aksi: 'h5',
                        no_pendaftaran: 'h5',
                        no_agenda: 'h5',
                        nama: 'h5',
                        alamat: 'h5',
                        'kota.kota': 'h5',
                        'wilayah.nama_wilayah': 'h5',
                        'area.nama': 'h5',
                        'subarea.nama_subarea': 'h5',
                        'btl.nama_btl': 'h5',
                        'bangunan.jenis_bangunan': 'h5',
                        'tarif.jenis_tarif': 'h5',
                        'daya.daya': 'h5',
                        'asosiasi.nama_asosiasi': 'h5',
                        created_at: 'h5',
                        tipe: 'h5',
                    },
                    sortable: ['id', 'no_pendaftaran', 'no_agenda', 'no_agendapln', 'nama', 'alamat', 'kota.kota', 'wilayah.nama_wilayah', 'area.nama', 'subarea.nama_subarea', 'btl.nama_btl', 'tarif.jenis_tarif', 'daya.daya', 'bangunan.jenis_bangunan',
                        'asosiasi.nama_asosiasi', 'created_at', 'tipe',
                    ],
                    filterable: ['id', 'no_pendaftaran', 'no_agenda', 'no_agendapln', 'nama', 'alamat', 'kota.kota', 'wilayah.nama_wilayah', 'area.nama', 'subarea.nama_subarea', 'btl.nama_btl', 'tarif.jenis_tarif', 'daya.daya', 'bangunan.jenis_bangunan',
                        'asosiasi.nama_asosiasi', 'created_at', 'tipe',
                    ],
                },
                webColumns: [
                    'aksi', 'hapus', 'nama', 'email', 'no_telepon', 'alamat', 'created_at',
                ],
                webOptions: {
                    texts: {
                        filterPlaceholder: "Cari data",
                        filter: "Pencarian : ",
                        filterBy: "Cari berdasarkan {column}",
                        count: "Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
                    },
                    headings: {
                        aksi: 'Aksi',
                        hapus: 'Hapus',
                        nama: 'Nama',
                        alamat: 'Alamat',
                        email: 'Email',
                        no_telepon: 'Telepon',
                        alamat: 'Alamat',
                        created_at: 'Tgl Pendaftaran'
                    },
                    columnsDisplay: {},
                    filterByColumn: true,
                    pagination: {dropdown: false},
                    columnsClasses: {
                        edit: 'h5 text-center',
                        hapus: 'h5 text-center',
                        nama: 'h5',
                        alamat: 'h5',
                        email: 'h5',
                        no_telepon: 'h5',
                        alamat: 'h5',
                        created_at: 'h5'
                    },
                    datepickerOptions: {
                        showDropdowns: true,
                        autoUpdateInput: true,
                    },
                    sortable: ['nama', 'email', 'no_telepon', 'alamat', 'created_at'],
                    filterable: ['nama', 'email', 'no_telepon', 'alamat', 'created_at'],
                },
                form: new Form({
                    id: '',
                    no_pendaftaran: '',
                    nama: '',
                    alamat: '',
                    no_telepon: '',
                    no_identitas: '',
                    id_kwilayah: '',
                    id_karea: '',
                    kode_kota: '',
                    id_subarea: '',
                    id_tarif: '',
                    id_daya: '',
                    id_bangunan: '',
                    id_asosiasi: '',
                    id_btl: '',
                    tgl_gambar: '',
                    tgl_regpln: '',
                    no_agendapln: '',
                    no_gambar: '',
                }),

                wilayah: {},
                asosiasi: {},
                area: {},
                user: {},
                kota: {},
                provinsi: {},
                subarea: {},
                tarif: {},
                daya: {},
                bangunan: {},
                asosiasi: {},
                biro: {},
                pelanggan_web: [],
                pelanggan_btl: [],
            }
        },
        mounted() {
            if (this.$gate.isManagerArea()) {
                this.webColumns = [
                    'aksi', 'nama', 'email', 'no_telepon', 'alamat', 'created_at',
                ]
            }
        },
        methods: {
            onDisable(value) {
                if (value === 'Sudah Bayar') {
                    return true
                }
                return false
            },
            loadPelangganBtl() {
                axios.get("/api/biro-pelanggan").then(({
                data
                }) => {
                    this.pelanggan_btl = data;
                    console.log(this.pelanggan_btl);
                });
            },
            prosesDaya() {
                axios.get('api/pelanggan/ubah-daya/' + this.form.no_pendaftaran)
                        .then(() => {
                            this.$router.push({
                                name: 'ubah-daya',
                                params: {
                                    no_pendaftaran: this.form.no_pendaftaran
                                }
                            })
                            $('#ubahDaya').modal('hide');
                        })
                        .catch(() => {
                            swal(
                                    'Gagal!',
                                    'Terjadi kesalahan',
                                    'warning'
                                    )
                        })

            },
            ubahDaya() {
                $('#ubahDaya').modal('show');
            },
            reqNoAgenda(no_pendaftaran) {
                this.$router.push({
                    name: 'rekues-agenda',
                    params: {
                        no_pendaftaran: no_pendaftaran
                    }
                })
            },
            rubahSlo() {
                $('#rubahDaya').modal('show');
            },
            acceptPelanggan(id) {
                this.$router.push({
                    name: 'accept-pelanggan',
                    params: {
                        id: id
                    }
                })
            },
            pelangganWeb() {
                axios.get("api/pelanggan-web").then(({
                data
                }) => (this.pelanggan_web = data));
            },
            editModal(no_pendaftaran) {
                // this.editMode = true;
                // this.form.reset();
                // this.loadPelanggan();
                // $('#editPelanggan').modal('show');
                // this.form.fill(pelanggan);
                this.$router.push({
                    name: 'edit-pelanggan',
                    params: {
                        no_pendaftaran: no_pendaftaran
                    }
                })
            },
            updatePelanggan() {
                this.$Progress.start();

                this.form.put('api/pelanggan/' + this.form.id)
                        .then(() => {
                            $('#editPelanggan').modal('hide');
                            swal(
                                    'Sukses!',
                                    'Data berhasil dirubah.',
                                    'success'
                                    )
                            this.$Progress.finish();
                            Fire.$emit('AfterCreate')
                        }).catch(() => {

                });
            },
            hapusPelanggan(no_pendaftaran, value) {
                if (value === 'Sudah Bayar') {
                    return
                }
                swal({
                    title: 'Anda yakin?',
                    text: "Operasi ini tidak dapat dibatalkan!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya, hapus data!',
                    cancelButtonText: 'Batal'
                }).then((result) => {

                    if (result.value) {
                        this.form.delete('api/pelanggan/' + no_pendaftaran).then(() => {
                            swal(
                                    'Dihapus!',
                                    'Data berhasil dihapus.',
                                    'success'
                                    )
                            Fire.$emit('AfterCreate')
                        }).catch(() => {
                            swal("Gagal!", "Tidak dapat dihapus. SLO telah terbit atau data telah diperiksa.",
                                    "warning");
                        });
                    }
                })
            },
            loadPelanggan() {
                axios.get("api/pelanggan").then(({
                data
                }) => (this.pelanggan = data));
            },
        },
        created() {
            this.$Progress.start();
            this.loadPelanggan('');
            // this.pelangganWeb();
            // this.loadWilayah('');
            // this.loadTarif('');
            // this.loadDaya('');
            // this.loadBangunan('');
            // this.loadAsosiasi('');
            Fire.$on('AfterCreate', () => {
                this.loadPelanggan('');
            });
            this.$Progress.finish();
        }
    }
</script>
