<template>
  <div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Pemeriksaan
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Pemeriksaan</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">

        <div class="box-body">
          <div class="col-md-12">
            <div style="display:inline-block;margin:10px;">
               <button class="btn btn-default"  @click="cetak1()" style="margin-top:5px">LHPP 1 PHASA</button>
                <button class="btn btn-default"  @click="cetak3()" style="margin-top:5px">LHPP 3 PHASA</button>
            </div>

            <v-client-table :data="pelanggan" :columns="columns" :options="options">

              <!-- <button slot="aksi" slot-scope="{row}" class="btn btn-default"><router-link to="/form-periksa">Periksa</router-link></button> -->
              <a slot="aksi" slot-scope="{row}" href="#">
                <button class="btn btn-default"  @click="tampilModal(row.id)">Periksa</button>
              </a>
            
              <p slot="jangka_waktu" class="red text-uppercase" slot-scope="{row}">{{row.jangka_waktu | moment("from", "now")}}</p>

            </v-client-table>

          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center">
        </div>
         <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->


    <div class="modal fade" id="tampilModal" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="addNewLabel">Konfirmasi Kesiapan Instalasi</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <div class="row" v-for="dt in detail" :key="dt.id">
            <div class="modal-body col-md-12">

             <div class="form-group col-md-6">
              <label for="">No Pendaftaran</label>
              <input readonly type="text" v-for="dt in detail" :key="dt.id" :value="dt.no_pendaftaran" name="no_pendaftaran" class="form-control" id="no_pendaftaran">
            </div>

            <div class="form-group col-md-6">
              <label for="">Nama</label>
               <input disabled v-for="dt in detail" :key="dt.id" :value="dt.nama" type="text" name="nama" class="form-control" id="nama">

            </div>

            <div class="form-group col-md-12">
            <p>Apakah instalasi pelanggan tersebut sudah siap?</p>
            <p class="red">Jika instalasi belum siap untuk diperiksa, segera masukkan data ke bagian belum siap untuk mengurangi durasi penerbitan SLO</p>
            </div>

            </div>
            <div class="modal-footer" style="margin-right: 20px">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
              <a class="btn btn-success" v-for="dt in detail" :key="dt.id" @click="periksa(dt.no_pendaftaran)">Periksa</a>

            </div>
            </div>

          </form>
        </div>
      </div>
    </div>

  </div>

  </div>

</template>

<script>
    export default {
        data(){
          return{
            detail: {},
            pelanggan: [],
            columns: ['aksi', 'id', 'no_surat', 'no_kwitansi', 'no_pendaftaran', 'nama','alamat','daya','kota', 'nama_wilayah', 'nama_area',
            'nama_subarea','nama_penyedia','jangka_waktu','tgl_bayar',
            ],
            options: {
              texts: {
                filterPlaceholder:"Cari data",
                filter:"Pencarian : ",
                filterBy:"Cari berdasarkan {column}",
                count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
              },
              headings: {
                aksi: 'Aksi',
                id: 'No',
                no_surat: 'No Surat',
                'no_kwitansi': 'No Kwitansi',
                no_pendaftaran: 'No Pendaftaran',
                no_agendapln: 'No Agenda',
                nama: 'Nama',
                alamat: 'Alamat',
                daya: 'Daya',
                kota: 'Kota',
                nama_wilayah: 'Wilayah',
                nama_area: 'Area',
                nama_subarea: 'Sub Area',
                nama_penyedia: 'Kantor PLN',
                jangka_waktu: 'Sisa Waktu Penerbitan',
                tgl_bayar: 'Tgl Pembayaran',

              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: { dropdown:false },
              columnsClasses: {
                aksi: 'h5 text-center',
                id: 'h5',
                no_surat: 'h5',
                'no_kwitansi': 'h5',
                no_pendaftaran: 'h5',
                no_agendapln: 'h5',
                nama: 'h5',
                alamat: 'h5',
                daya: 'h5',
                kota: 'h5',
                nama_wilayah: 'h5',
                nama_area: 'h5',
                nama_subarea: 'h5',
                nama_penyedia: 'h5',
                jangka_waktu: 'h5',
                tgl_bayar: 'h5',
              },
              sortable: ['no_surat', 'no_kwitansi', 'no_pendaftaran', 'nama','alamat','daya','kota', 'nama_wilayah', 'nama_area',
              'nama_subarea','nama_penyedia','jangka_waktu','tgl_bayar',],
              filterable: ['no_surat', 'no_kwitansi', 'no_pendaftaran', 'nama','alamat','daya','kota', 'nama_wilayah', 'nama_area',
              'nama_subarea','nama_penyedia','jangka_waktu','tgl_bayar',],
            },
          }
        },
        filters: {

        },
        methods:{
          periksa(no_pendaftaran){
            this.$router.push({name: 'proses-pemeriksaan', params:{no_pendaftaran:no_pendaftaran}})
            $('#tampilModal').modal('hide');
          },
          cetak1(){
            printJS('/doc/1Phasa.pdf');
          },
          cetak3(){
            printJS('/doc/3Phasa.pdf');
          },
          tampilModal(id){
            // this.form.reset();
            // this.showPelanggan();
            $('#tampilModal').modal('show');
            axios.get("api/konfirmasi-periksa/"+id).then(response => this.detail = response.data)
          },
          loadPelanggan(){
            axios.get("api/pemeriksa").then(({data}) => (this.pelanggan = data));
          },
          getResults(page = 1) {
              axios.get('api/pemeriksa?page=' + page)
              .then(response => {
                this.pelanggan = response.data;
              });
            },
        },
        created() {

          this.$Progress.start();
          this.loadPelanggan();
          this.$Progress.finish();
        }
    }
</script>
