<template>
  <div class="table-responsive">
	<div class="col-md-12">
		<section class="content-header">
			<h1>
				User Profile
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
				<li><a href="#"> User Profile</a></li>
			</ol>
		</section>

		<!--<div class="col-md-3" style="margin-top: 20px;">
			<div class="box box-primary">
            <div class="box-body box-profile" align="center" style="height: 200px">
              <img class="profile-user-img img-responsive img-circle" src="/images/Default.png" alt="User profile picture" style="height: 150px;width: 150px; margin-top: 10px">
              <br>

            </div>
             /.box-body -->
         <!-- </div>
           /.box -->
		<!--</div>-->

		<div class="col-md-12" style="margin-top: 20px">
			<div class="box box-primary">
            <div class="box-body box-profile">

			<h3>Detail Informasi</h3>

              <form>
                <label>Nama</label>
                <input type="text" v-model="form.nama" name="nama" class="form-control" 
                :class="{ 'is-invalid':form.errors.has('nama') }">
                <has-error :form="form" field="nama"></has-error>
                <br>
              	<label>NIP</label>
                <input type="text" v-model="form.nip" name="nip" class="form-control" 
                :class="{ 'is-invalid':form.errors.has('nip') }">
                <has-error :form="form" field="nip"></has-error>
              	<br>
              	<label>Username</label>
              	<input type="text" v-model="form.username" name="username" class="form-control" 
                :class="{ 'is-invalid':form.errors.has('username') }">
                <has-error :form="form" field="username"></has-error>
              	<br>
              	<label>Departemen</label>
              	<input disabled type="text" v-model="form.departemen" name="departemen" class="form-control" 
                :class="{ 'is-invalid':form.errors.has('departemen') }">
                <has-error :form="form" field="departemen"></has-error>
              	<br>
                <label>Jabatan</label>
                <input disabled type="text" v-model="form.jabatan" name="jabatan" class="form-control" 
                :class="{ 'is-invalid':form.errors.has('jabatan') }">
                <has-error :form="form" field="jabatan"></has-error>
                <br>
              	<label for="">Wewenang</label>
              	<input disabled type="text" v-model="form.wewenang" name="wewenang" class="form-control" 
                :class="{ 'is-invalid':form.errors.has('wewenang') }">
                <has-error :form="form" field="wewenang"></has-error>
              	<br>
              
              </form> 

              <button @click.prevent="updateInfo" type="submit" class="btn btn-success">Simpan</button>
              <button @click="gantiPW" type="" class="btn btn-warning">Ganti Password</button>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
		</div>
		 
      <div class="modal fade" id="gantipassword" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <h4 class="modal-title" id="addNewLabel">Ganti Password</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form @submit.prevent="simpanPW()">
              <div class="modal-body">
                <div class="form-group">
                  <label for="">Password Lama</label>
                  <input v-model="pwform.current_password" type="Password" name="current_password" class="form-control" :class="{ 'is-invalid': pwform.errors.has('current_password') }" id="current_password">
                  <has-error :form="pwform" field="current_password"></has-error>
                </div>

                <div class="form-group">
                  <label for="">Password Baru</label>
                  <input v-model="pwform.new_password" type="Password" name="new_password" class="form-control" :class="{ 'is-invalid': pwform.errors.has('new_password') }" id="new_password">
                  <has-error :form="pwform" field="new_password"></has-error>
                </div>

                <div class="form-group">
                  <label for="">Konfirmasi Password Baru</label>
                  <input v-model="pwform.new_password_confirmation" type="Password" name="new_password_confirmation" class="form-control" :class="{ 'is-invalid': pwform.errors.has('new_password_confirmation') }" id="new_password_confirmation">
                  <has-error :form="pwform" field="new_password_confirmation"></has-error>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-success">Simpan</button>
              </div>
            </form>
          </div>
        </div>
      </div> 


	</div>
</div>
</template>
<script>
    export default {

      data(){
        return{
          form: new Form({
            id: '',
            nip: '',
            nama: '',
            username: '',
            jabatan: '',
            departemen: '',
            wewenang: '',
            
          }),
          pwform : new Form({
            current_password: '',
            new_password: '',
            new_password_confirmation: '',
          })
        }
      },
      methods: {
        gantiPW(){
          this.pwform.reset();
          $('#gantipassword').modal('show');
        },
        simpanPW(){
          this.$Progress.start();
            this.pwform.post('api/edit-password')
            .then(() => {
              Fire.$emit('AfterCreate');
              $('#gantipassword').modal('hide');
              swal(
                'Sukses!',
                'Data berhasil disimpan.',
                'success'
                )
              this.$Progress.finish();
            })
            .catch(() => {
              swal(
                'Gagal!',
                'Terjadi kesalahan',
                'warning'
                )
            })
        },
        updateInfo(){
            this.$Progress.start();

            this.form.put('api/user/'+this.form.id)
            .then(() => {
              swal(
                'Sukses!',
                'Data berhasil dirubah.',
                'success'
                )
              this.$Progress.finish();
              Fire.$emit('AfterCreate')
            }).catch(() => {

            });
          },
          loadProfile(){
            axios.get('api/profile').then(({data}) => (this.form.fill(data)));
          }
        },
      created() {
          this.$Progress.start();
          this.loadProfile();
          Fire.$on('AfterCreate', () => {
            this.loadProfile();
          });
          this.$Progress.finish();            
        }
    }
</script>