<template>
<div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Sertifikasi (Sudah Terbit)
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#"> Sertifikasi (Sudah Terbit)</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="box">
                <div class="box-body">
                    <div class="col-md-12">

                        <v-client-table :data="sertifikasi" :columns="columns" :options="options">

                            <a slot="cetak" slot-scope="{row}" class="btn btn-primary" href="#" @click="cetakSertifikat(row.no_pendaftaran)">
                                <i class="fa fa-print"></i> Cetak
                            </a>

                        </v-client-table>

                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">

                </div>
                <!-- /.box-footer-->
            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->


    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            editMode: false,
            sertifikasi: [],
            columns: [
               'cetak','no_pendaftaran', 'nama', 'kota', 'nama_wilayah', 'nama_area', 'nama_subarea', 'no_lhpp', 'nama_btl', 'no_seri', 'tgl_cetak',
               'nama_pencetak'
            ],

            options: {
              texts: {
                filterPlaceholder:"Cari data",
                filter:"Pencarian : ",
                filterBy:"Cari berdasarkan {column}",
                count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
              },
                headings: {
                    cetak: 'Cetak',
                    no_pendaftaran: 'No Pendaftaran',
                    nama: 'Nama Pelanggan',
                    kota: 'Kota',
                    nama_wilayah: 'Wilayah',
                    nama_area: 'Area',
                    nama_subarea: 'Sub Area',
                    no_lhpp: 'Nomor LHPP',
                    nama_btl: 'BTL',
                    no_seri: 'No Seri',
                    tgl_cetak: 'Tgl Cetak',
                    nama_pencetak: 'Dicetak Oleh'
                },
                columnsDisplay: {},
                filterByColumn: true,
                pagination: { dropdown:false },
                columnsClasses: {
                  aksi: 'h5 text-center',
                  no_pendaftaran: 'h5',
                  nama: 'h5',
                  kota: 'h5',
                  nama_wilayah: 'h5',
                  nama_area: 'h5',
                  nama_subarea: 'h5',
                  no_lhpp: 'h5',
                  nama_btl: 'h5',
                  no_seri: 'h5',
                  tgl_cetak: 'h5',
                  nama_pencetak: 'h5'
                },
                sortable: ['no_pendaftaran', 'nama', 'kota', 'nama_wilayah', 'nama_area', 'nama_subarea', 'no_lhpp', 'nama_btl', 'no_seri','tgl_cetak', 'nama_pencetak'],
                filterable: ['no_pendaftaran', 'nama', 'kota', 'nama_wilayah', 'nama_area', 'nama_subarea', 'no_lhpp', 'nama_btl', 'no_seri','tgl_cetak', 'nama_pencetak'],
            },

        }

    },
    methods: {
        cetakSertifikat(no_pendaftaran){
          // window.location.href = '/pdf/sertifikat/cetak/'+ no_pendaftaran;
// console.log('/pdf/sertifikat/cetak/'+no_pendaftaran);
          window.open('/pdf/sertifikat/cetak/'+no_pendaftaran, '_blank');
        },
        loadSertifikasi() {
            axios.get("/api/sertif/sudah-terbit").then(({
                data
            }) => (this.sertifikasi = data));
        },
    },
    created() {
        this.$Progress.start();
        this.loadSertifikasi();
        this.$Progress.finish();
    }
}
</script>
