<template>
    <div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Staff BTL
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Staff BTL</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>
          <div class="box-tools pull-right">
            <button v-if="$gate.isAdminPusat()" class="btn btn-primary btn-sm" @click="newModal">Tambah<i class="fas fa-plus fa-fw"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-chevron-up"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="col-md-12">
            <v-client-table v-if="$gate.isAdminPusat()" :data="staff" :columns="isAdminColumns" :options="options">

                <a slot="edit" slot-scope="{row}" href="#" @click="editModal(row)">
                  <i class="fa fa-edit blue"></i>
                </a>
                <a slot="hapus" slot-scope="{row}" href="#" @click="hapusStaff(row.id)">
                  <i class="fa fa-trash red"></i>
                </a>

            </v-client-table>
            <v-client-table v-if="!$gate.isAdminPusat()" :data="staff" :columns="columns" :options="options">

                <a slot="edit" slot-scope="{row}" href="#" @click="editModal(row)">
                  <i class="fa fa-edit blue"></i>
                </a>
                <a slot="hapus" slot-scope="{row}" href="#" @click="hapusStaff(row.id)">
                  <i class="fa fa-trash red"></i>
                </a>

            </v-client-table>

          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center">

        </div>
         <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->

    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true" ref="modalVue">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <label v-show="!editMode" class="modal-title" id="addNewLabel">PENTING! Isian yang bertanda</label><label class="red">&nbsp;(*)</label><label>&nbsp;wajib diisi!</label>
                    <label v-show="editMode" class="modal-title" id="addNewLabel">PENTING! Isian yang bertanda</label><label class="red">&nbsp;(*)</label><label>&nbsp;wajib diisi!</label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                      <form @submit.prevent="editMode ? updateStaff() : createStaff()">
                      <div class="modal-body">

                        <div class="form-group">
                            <label for="">NIP</label><label for="" class="red">&nbsp; (*)</label>
                            <input v-model="form.nip" type="text" name="nip" class="form-control" :class="{ 'is-invalid': form.errors.has('nip') }" id="nip">
                            <input type="hidden" name="id" v-model="form.id">
                            <has-error :form="form" field="nip"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Nama Lengkap</label><label for="" class="red">&nbsp; (*)</label>
                            <input v-model="form.nama" type="text" name="nama" class="form-control" :class="{ 'is-invalid': form.errors.has('nama') }" id="nama">
                            <has-error :form="form" field="nama"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Email</label><label for="" class="red">&nbsp; (*)</label>
                            <input v-model="form.email" type="text" name="email" class="form-control" :class="{ 'is-invalid': form.errors.has('email') }" id="email">
                            <has-error :form="form" field="email"></has-error>
                        </div>
                        <div class="form-group">
                          <label for="">No Telepon</label>
                          <input v-model="form.no_telp" type="text" name="no_telp" class="form-control" :class="{ 'is-invalid': form.errors.has('no_telp') }" id="no_telp">
                          <has-error :form="form" field="no_telp"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Username</label>
                            <input v-model="form.username" type="text" name="username" class="form-control" :class="{ 'is-invalid': form.errors.has('username') }" id="username">
                            <has-error :form="form" field="username"></has-error>
                        </div>
                        <div class="form-group" v-show="!editMode">
                            <label for="">Password</label><label for="" class="red">&nbsp; (*)</label>
                            <input v-model="form.password" type="password" name="password" class="form-control" :class="{ 'is-invalid': form.errors.has('password') }" id="password">
                            <has-error :form="form" field="password"></has-error>
                        </div>
                        <div class="form-group" v-show="!editMode">
                            <label for="">Konfirmasi Password</label><label for="" class="red">&nbsp; (*)</label>
                            <input v-model="form.password_confirmation" type="password" name="password_confirmation" class="form-control" :class="{ 'is-invalid': form.errors.has('password_confirmation') }" id="password_confirmation">
                            <has-error :form="form" field="password_confirmation"></has-error>
                        </div>

                        <div class="form-group">
                            <label for="">Wilayah</label><label for="" class="red">&nbsp; (*)</label>
                            <select @change="getArea() & loadBtl()" v-model="form.id_kwilayah" name="id_kwilayah" id="id_wilayah" class="form-control" :class="{ 'is-invalid': form.errors.has('id_kwilayah') }">
                                <option v-for="kantor in wilayah" :value="kantor.id">{{ kantor.nama_wilayah }}</option>
                            </select>
                            <has-error :form="form" field="id_kwilayah"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Area</label><label for="" class="red">&nbsp; (*)</label>
                            <select :disabled="area.length == 0" @change="getSubArea()" v-model="form.id_karea" name="id_karea" id="id_karea" class="form-control" :class="{ 'is-invalid': form.errors.has('id_karea') }">
                              <option value="0">Non Area</option>
                              <option v-for="karea in area" :value="karea.id">{{karea.nama}}</option>
                            </select>
                            <label v-show="editMode" class="red">Abaikan apabila Wilayah tidak diubah!</label>
                            <has-error :form="form" field="id_karea"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Sub Area</label><label for="" class="red">&nbsp; (*)</label>
                            <select :disabled="subarea.length == 0" v-model="form.id_subarea" name="id_subarea" id="id_subarea" class="form-control" :class="{ 'is-invalid': form.errors.has('id_subarea') }">
                              <option v-for="sarea in subarea" :value="sarea.id">{{sarea.nama_subarea}}</option>
                            </select>
                            <label v-show="editMode" class="red">Abaikan apabila Wilayah tidak diubah!</label>
                            <has-error :form="form" field="id_subarea"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Nama BTL : {{ form.id_btl }}</label><label for="" class="red">&nbsp; (*)</label>
                            <select @change="loadBtl()" v-model="form.id_btl" name="id_btl" id="id_btl" class="form-control" :class="{ 'is-invalid': form.errors.has('id_btl') }">
                              <option v-for="btl in biro" :value="btl.id">{{btl.nama_btl}}</option>
                            </select>
                            <has-error :form="form" field="btl.id"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="">Status</label><label for="" class="red">&nbsp; (*)</label>
                            <select v-model="form.status" name="status" id="status" class="form-control" :class="{ 'is-invalid': form.errors.has('status') }">
                                <option value="Aktif">Aktif</option>
                                <option value="Nonaktif">Nonaktif</option>
                            </select>
                            <has-error :form="form" field="status"></has-error>
                        </div>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                        <button v-show="editMode" type="submit" class="btn btn-success">Ubah</button>
                        <button v-show="!editMode" type="submit" class="btn btn-primary">Simpan</button>
                      </div>
                      </form>
                </div>
               </div>
        </div>

    </div>
 </div>

</template>

<script>
import Datepicker from 'vuejs-datepicker';
import {
    id
} from 'vuejs-datepicker/dist/locale'
    export default {
      components: {
          Datepicker,
      },
        data(){
          return {
            id: id,
            format: "yyyy-MM-dd",
            editMode: false,
            staff : [],
            isAdminColumns : [
              'edit','hapus','nip','nama','username','nama_wilayah','nama_area','nama_subarea','nama_btl','status'
            ],
            columns : [
              'nip','nama','username','nama_wilayah','nama_area','nama_subarea','nama_btl','status'
            ],
            options: {
              texts: {
                filterPlaceholder:"Cari data",
                filter:"Pencarian : ",
                filterBy:"Cari berdasarkan {column}",
                count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
              },
              headings: {
                edit : 'Edit',
                hapus : 'Hapus',
                id : 'No',
                nip : 'NIP',
                nama : 'Nama',
                username : 'Username',
                'nama_wilayah' : 'Wilayah',
                'nama_area' : 'Area',
                'nama_subarea' : 'Sub Area',
                'nama_btl' : 'Nama BTL',
                status : 'Status',
              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: { dropdown:false },
              columnsClasses: {
                edit: 'h5 text-center',
                hapus: 'h5 text-center',
                id : 'h5',
                nip : 'h5',
                nama : 'h5',
                username : 'h5',
                'nama_wilayah' : 'h5',
                'nama_area' : 'h5',
                'nama_subarea' : 'h5',
                'nama_btl' : 'h5',
                status : 'h5',
              },
              sortable : ['id','nip','nama','username','email','nama_wilayah','nama_area','nama_subarea','nama_btl','status'],
              filterable : ['id',,'nip','nama','username','email','nama_wilayah','nama_area','nama_subarea','nama_btl','status'],
            },

            form: new Form({
              id : '',
              nip : '',
              nama : '',
              email : '',
              no_telp : '',
              username : '',
              jabatan : '',
              departemen : '',
              wewenang : '',
              id_kwilayah : '',
              id_karea : '',
              id_subarea : '',
              id_btl: '',
              status : '',
              password : '',
              password_confirmation : '',
              masa_berlaku : '',
            }),

            wilayah: {},
            area: {},
            subarea: {},
            biro: {},
          }
        },
        mounted() {
          $(this.$refs.modalVue).on("hidden.bs.modal", this.modalClose)
        },
        updated() {

        },
        methods: {
          modalClose() {
            this.area = {},
            this.subarea = {}
          },
          loadBtl(){
            this.biro = [];
            // this.form.id_btl = '';

            const params = {
              id_kwilayah : this.form.id_kwilayah
            }

            axios.get('/api/load-biro', {params}).then(response => {
              this.biro = response.data;
            });
          },
          hapusStaff(id){
            swal({
              title: 'Anda yakin?',
              text: "Operasi ini tidak dapat dibatalkan!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Ya, hapus data!',
              cancelButtonText: 'Batal'
            }).then((result) => {

              if (result.value) {
                this.form.delete('/api/staff/'+id).then(() => {
                  swal(
                    'Dihapus!',
                    'Data berhasil dihapus.',
                    'success'
                    )
                  Fire.$emit('AfterCreate')
                }).catch(() => {
                  swal("Gagal!", "Terjadi kesalahan.",
                    "warning");
                });
              }
            })
          },
          updateStaff(){
            this.$Progress.start();

            this.form.put('/api/biro-staff/'+this.form.id)
            .then(() => {
              $('#addNew').modal('hide');
              swal(
                'Sukses!',
                'Data berhasil dirubah.',
                'success'
                )
              this.$Progress.finish();
              Fire.$emit('AfterCreate')
            }).catch(() => {

            });
          },
          editModal(staff){
            this.editMode = true;
            this.form.reset();
            this.loadWilayah();
            $('#addNew').modal('show');
            this.form.fill(staff);
            this.getArea();
            this.getSubArea();
            this.loadBtl();
          },
          createStaff(){
            this.$Progress.start();
            this.form.post('/api/biro-staff')
            .then(() => {
              Fire.$emit('AfterCreate');
              $('#addNew').modal('hide');
              swal(
                'Sukses!',
                'Data berhasil disimpan.',
                'success'
                )
              this.$Progress.finish();
            })
            .catch(() => {
              swal(
                'Gagal!',
                'Terjadi kesalahan',
                'warning'
                )
            })
          },
          getSubArea(){
            this.subarea = [];
            // this.form.id_subarea = '';

            const params = {
              id_karea : this.form.id_karea
            }

            axios.get('/api/load-subarea', {params}).then(response => {
              this.subarea = response.data;
            });
          },
          getArea(){
            this.area = [];
            // this.form.id_karea = '';

            const params = {
              id_kwilayah : this.form.id_kwilayah
            }

            axios.get('/api/load-area', {params}).then(response => {
              this.area = response.data;
            });
          },
          loadWilayah(){
            // axios.get("api/data-wilayah").then(({data}) => (this.wilayah = data))
            axios.get("/api/data-wilayah").then(({data}) => (this.wilayah = data));

          },
          newModal(){
           this.editMode = false;
           this.form.reset();
           this.loadWilayah();
           $('#addNew').modal('show');
          },
          loadStaff(){
            axios.get("/api/biro-staff").then(({data}) => (this.staff = data));
          }
        },
        created() {
         this.$Progress.start();
         this.loadStaff('');
         Fire.$on('AfterCreate', () => {
          this.loadStaff('');
          });
         this.$Progress.finish();
       }
    }
</script>
