<template>
  <div class="table-responsive">
    <div class="col-md-12">

        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>

      </h1>
      <br>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Sudah Bayar</a></li>
      </ol>
    </section>

    <div class="nav-tabs-custom" style="margin-top: 10px;">
            <div v-if="$gate.isManagerArea()">
             <ul class="nav nav-tabs">
               <li :class="$gate.isManagerArea() ? 'active': ''"><a href="#tab_2" data-toggle="tab" aria-expanded="false">Terbitkan Surat Tugas</a></li>
               <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false">Surat Tugas</a></li>
              </ul> 
            </div>
              <div v-else>
              
            <ul class="nav nav-tabs">
              <li v-if="!$gate.isManagerArea()" :class="!$gate.isManagerArea() ? 'active': ''"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Sudah Bayar</a></li>
              
            
              <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
            </ul>

            </div>


            <div class="tab-content">

              <div :class="!$gate.isManagerArea() ? 'tab-pane active': 'tab-pane'" id="tab_1">
                <v-client-table :data="pelanggan" :columns="columns" :options="options">


                 <!-- <div slot="centang" slot-scope="{row}" class="form-group">
                   <form class="" action="index.html" method="post">
                     <input type="checkbox" class="flat-red" @click="addSurat(row.id)">
                   </form>
                 </div> -->
                 <a href="#" :disabled="row.no_agenda !== null" slot="request" slot-scope="{row}" class="btn btn-default" @click="reqNoAgenda(row.no_pendaftaran)">
                      <i class="fa fa-tag blue"></i>Rek No Agenda
                  </a>
                 <a slot="aksi" slot-scope="{row}" href="#" @click="printPdf(row.id) & updateCetak(row.id)">
                    <button class="btn btn-primary">Cetak Kwitansi</button>
                  </a>
                  <p slot="pembayaran.jumlah" class="green text-uppercase" slot-scope="{row}">Rp {{row.pembayaran.jumlah | currency}}</p>
                </v-client-table>

                <div class="box-footer text-center">
                 </div>

              </div>

              <div :class="$gate.isManagerArea() ? 'tab-pane active': 'tab-pane'" id="tab_2">
                <v-client-table :data="belum_terbit" :columns="terbitkanColumns" :options="terbitkanOptions">

                  <a slot="centang" class="btn btn-sm btn-default" slot-scope="{row}" href="#" @click="addSurat(row.id)">
                     <i class="fa fa-plus green"></i>
                   </a>
                 <!-- <div slot="centang" slot-scope="{row}" class="form-group">
                   <form class="" action="index.html" method="post">
                     <input type="checkbox" class="flat-red" @click="addSurat(row.id)">
                   </form>
                 </div> -->


                </v-client-table>

                <div class="box-footer text-center">

                </div>

                <a class="btn btn-app" @click="newModal">
                  <span class="badge bg-yellow">{{surat}}</span>
                  <i class="fa fa-file blue"></i> Terbitkan Surat Tugas
                </a>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3">
                <p class="red">Klik tombol INGATKAN untuk mengirim notifikasi kepada Pemeriksa!</p>
                <v-client-table :data="surat_tugas" :columns="suratColumns" :options="suratOptions">

                  <a href="#" slot="aksi" class="btn btn-sm btn-default" slot-scope="{row}" @click="cetakSurat(row.id)">
                    <i class="fa fa-print blue"></i> Cetak
                  </a>
                  <a href="#" slot="ingatkan" class="btn btn-sm btn-default" slot-scope="{row}" @click="kirimNotif(row.id)">
                    <i class="fa fa-bell red"></i> Ingatkan
                  </a>
                  <p slot="jangka_waktu" class="red text-uppercase" slot-scope="{row}">{{row.jangka_waktu | moment("from", "now")}} sebelum {{row.jangka_waktu}}</p>
                </v-client-table>
                
                <div class="box-footer text-center">
                </div>
              </div>

            </div>
            <!-- /.tab-content -->
          </div>

    <!-- Main content -->


    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <h5 class="modal-title" id="addNewLabel">Terbitkan Surat Tugas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                  </div>
                  <form @submit.prevent="terbitkanSurat()">
                  <div class="modal-body">
                    <p class="red">Silakan pilih pemeriksa</p>
                    <div class="col-md-6">
                      <div class="form-group">
                          <label for="">Pemeriksa 1</label>
                          <select v-model="form.id_pemeriksa1" name="id_pemeriksa1" id="id_pemeriksa1" class="form-control" :class="{ 'is-invalid': form.errors.has('id_pemeriksa1') }">
                              <option value="">-- Pemeriksa 1 --</option>
                              <option v-for="staff in pemeriksa" :value="staff.id">{{staff.nama}}</option>
                          </select>
                          <has-error :form="form" field="id_pemeriksa1"></has-error>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="">Pemeriksa 2</label>
                      <select v-model="form.id_pemeriksa2" name="id_pemeriksa2" id="id_pemeriksa2" class="form-control" :class="{ 'is-invalid': form.errors.has('id_pemeriksa2') }">
                          <option value="">-- Pemeriksa 2 --</option>
                          <option v-for="staff in pemeriksa" :value="staff.id">{{staff.nama}}</option>
                      </select>
                      <has-error :form="form" field="id_pemeriksa2"></has-error>
                    </div>

                    <table class="table table-bordered table-responsive">
                      <thead>
                        <tr>
                          <th>Hapus</th>
                          <th>No Pendaftaran</th>
                          <th>No Agenda</th>
                          <th>Nama</th>
                          <th>Alamat</th>
                          <th>Tarif/Daya</th>
                          <th>Instalatir</th>
                          <th>Telepon</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="tem in temp" :key="tem.id">
                          <td>
                            <a href="#" class="btn btn-sm" @click="removeTemp(tem.id_pelanggan)">
                              <i class="fa fa-window-close red"></i>
                            </a>
                          </td>
                          <td>{{tem.pelanggan.no_pendaftaran}}</td>
                          <td>{{tem.pelanggan.no_agendapln}}</td>
                          <td>{{tem.pelanggan.nama}}</td>
                          <td>{{tem.pelanggan.alamat}}</td>
                          <td>{{tem.tarif.jenis_tarif}} / {{tem.daya.daya}}</td>
                          <td>{{tem.penyedia.nama_penyedia}}</td>
                          <td>{{tem.pelanggan.no_telepon}}</td>
                        </tr>
                      </tbody>
                    </table>


                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary">Terbitkan</button>
                  </div>
                  </form>
            </div>
           </div>
    </div>

    </div>

  </div>

</template>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script>
import daterangepicker from 'daterangepicker';
//This is very important to used with the window object
window.moment = require('moment');

    export default {
        data(){
          return{
            surat_tugas: [],
            belum_terbit: [],
            pemeriksa: {},
            temp: {},
            surat: '',
            pelanggan: [],
            columns: ['request','aksi', 'pembayaran.no_kwitansi', 'no_pendaftaran', 'nama', 'kota.kota', 'wilayah.nama_wilayah', 'area.nama', 'subarea.nama_subarea', 'pembayaran.created_at', 'pembayaran.diterima', 'pembayaran.jumlah', 'pembayaran.cetak', 'pembayaran.dicetak_oleh'
            ],
            options: {
              texts: {
                filterPlaceholder:"Cari data",
                filter:"Pencarian : ",
                filterBy:"Cari berdasarkan {column}",
                count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
              },
              headings: {
                request: 'Request No Agenda',
                aksi: 'Aksi',
                'pembayaran.no_kwitansi': 'No Kwitansi',
                no_pendaftaran: 'No Pendaftaran',
                no_agendapln: 'No Agenda',
                nama: 'Nama',
                'kota.kota': 'Kota',
                'wilayah.nama_wilayah': 'Wilayah',
                'area.nama': 'Area',
                'subarea.nama_subarea': 'Sub Area',
                'pembayaran.created_at': 'Tanggal Pembayaran',
                'pembayaran.diterima': 'Diterima Oleh',
                'pembayaran.jumlah': 'Jml Bayar',
                'pembayaran.cetak': 'Dicetak',
                'pembayaran.dicetak_oleh': 'Dicetak Oleh'

              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: { dropdown:false },
              columnsClasses: {
                aksi: 'h5 text-center',
                'pembayaran.no_kwitansi': 'h5',
                no_pendaftaran: 'h5',
                no_agendapln: 'h5',
                nama: 'h5',
                'kota.kota': 'h5',
                'wilayah.nama_wilayah': 'h5',
                'area.nama': 'h5',
                'subarea.nama_subarea': 'h5',
                'pembayaran.created_at': 'h5',
                'pembayaran.diterima': 'h5',
                'pembayaran.jumlah': 'h5',
                'pembayaran.cetak': 'h5',
                'pembayaran.dicetak_oleh': 'h5'
              },
              sortable: ['pembayaran.no_kwitansi', 'no_pendaftaran', 'no_agendapln', 'nama', 'kota.kota', 'wilayah.nama_wilayah', 'area.nama', 'subarea.nama_subarea', 'pembayaran.created_at', 'pembayaran.diterima', 'pembayaran.jumlah', 'pembayaran.cetak', 'pembayaran.dicetak_oleh'],
              filterable: ['pembayaran.no_kwitansi', 'no_pendaftaran', 'no_agendapln', 'nama', 'alamat', 'kota.kota', 'wilayah.nama_wilayah', 'area.nama', 'subarea.nama_subarea', 'pembayaran.created_at', 'pembayaran.diterima', 'pembayaran.jumlah', 'pembayaran.cetak', 'pembayaran.dicetak_oleh'],
            },
            terbitkanColumns:  ['centang', 'pembayaran.no_kwitansi', 'no_pendaftaran', 'nama', 'tarif.jenis_tarif', 'daya.daya', 'penyedia.nama_penyedia', 'no_telepon'
            ],
            terbitkanOptions: {
              texts: {
                filterPlaceholder:"Cari data",
                filter:"Pencarian : ",
                filterBy:"Cari berdasarkan {column}",
                count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
              },
              headings: {
                centang: '',
                'pembayaran.no_kwitansi': 'No Kwitansi',
                no_pendaftaran: 'No Pendaftaran',
                no_agendapln: 'No Agenda',
                nama: 'Nama',
                alamat: 'Alamat',
                'tarif.jenis_tarif': 'Tarif',
                'daya.daya': 'Daya',
                'area.nama': 'Area',
                'penyedia.nama_penyedia': 'Instalatir',
                no_telepon: 'Telepon',
              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: { dropdown:false },
              columnsClasses: {
                aksi: 'h5 text-center',
                'pembayaran.no_kwitansi': 'h5',
                no_pendaftaran: 'h5',
                no_agendapln: 'h5',
                nama: 'h5',
                alamat: 'h5',
                'tarif.jenis_tarif': 'h5',
                'daya.daya': 'h5',
                'area.nama': 'h5',
                'penyedia.nama_penyedia': 'h5',
                no_telepon: 'h5',
              },
              sortable: ['pembayaran.no_kwitansi', 'no_pendaftaran', 'no_agendapln', 'nama', 'kota.kota', 'wilayah.nama_wilayah', 'area.nama', 'subarea.nama_subarea', 'pembayaran.created_at', 'pembayaran.diterima', 'pembayaran.cetak'],
              filterable: ['pembayaran.no_kwitansi', 'no_pendaftaran', 'no_agendapln', 'nama', 'alamat', 'kota.kota', 'wilayah.nama_wilayah', 'area.nama', 'subarea.nama_subarea', 'pembayaran.created_at', 'pembayaran.diterima', 'pembayaran.cetak'],
            },
            form : new Form({
              id_pemeriksa1 : '',
              id_pemeriksa2 : '',
            }),
            suratColumns: ['aksi', 'ingatkan', 'no_surat', 'nama_pemeriksa1', 'nama_pemeriksa2', 'updated_at', 'jangka_waktu'],
            suratOptions: {
              texts: {
                filterPlaceholder:"Cari data",
                filter:"Pencarian : ",
                filterBy:"Cari berdasarkan {column}",
                count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
              },
              headings: {
                aksi: 'Aksi',
                ingatkan: 'Ingatkan',
                'no_surat': 'No Surat',
                'nama_pemeriksa1': 'Nama Pemeriksa 1',
                'nama_pemeriksa2': 'Nama pemeriksa 2',
                'updated_at': 'Tgl diterbitkan',
                jangka_waktu: 'Waktu Pengerjaan'
              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: { dropdown:false },
              columnsClasses: {
                aksi: 'h5 text-center',
                ingatkan: 'h5 text-center',
                'no_surat': 'h5',
                'nama_pemeriksa1': 'h5',
                'nama_pemeriksa2': 'h5',
                'updated_at': 'h5',
                jangka_waktu: 'h5'
              },
              // dateColumns:['updated_at'],
              //       dateFormat: 'YYYY-MM-DD',
              //       // datepickerOptions: {
              //       //     showDropdowns: true,
              //       //     autoUpdateInput: true,
              //       // },
              sortable: ['no_surat', 'nama_pemeriksa1', 'nama_pemeriksa2', 'updated_at', 'jangka_waktu'],
              filterable: ['no_surat', 'nama_pemeriksa1', 'nama_pemeriksa2', 'updated_at', 'jangka_waktu'],
            }
          }
        },
        methods: {
        reqNoAgenda(no_pendaftaran) {
              this.$router.push({
                  name: 'rekues-agenda',
                  params: {
                      no_pendaftaran: no_pendaftaran
                  }
              })
          },
          kirimNotif(id){
            swal({
              title: 'Ingatkan pemeriksa?',
              text: "Pemeriksa akan menerima notifikasi!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Ya, ingatkan!',
              cancelButtonText: 'Batal'
            }).then((result) => {

              if (result.value) {
                axios.get('/api/suratku/kirim-notif/'+id).then(() => {
                  swal(
                    'Berhasil!',
                    'Notifikasi telah dikirim.',
                    'success'
                    )
                }).catch(() => {
                  swal("Gagal!", "Terjadi kesalahan.",
                    "warning");
                });
              }
            })
          },
          pageSuratTugas(page = 1) {
            axios.get('api/get-surat?page=' + page)
            .then(response => {
              this.surat_tugas = response.data;
            });
          },
          pageBelumTerbit(page = 1) {
            axios.get('api/belum-terbit?page=' + page)
            .then(response => {
              this.belum_terbit = response.data;
            });
          },
          pageSudahBayar(page = 1) {
            axios.get('api/sudah-bayar?page=' + page)
            .then(response => {
              this.pelanggan = response.data;
            });
          },
          belumTerbit(){
            axios.get("api/belum-terbit").then(({data}) => (this.belum_terbit = data));
          },
          cetakSurat(id){
            window.open('/pdf/surat-tugas/print/'+id, '_blank');
          },
          loadSurat(){
            axios.get("api/get-surat").then(({data}) => (this.surat_tugas = data));
          },
          terbitkanSurat(){
            this.$Progress.start();
            this.form.post('api/terbitkan-surat')
            .then(() => {
              Fire.$emit('AfterAdd');
              Fire.$emit('AfterCreate');
              Fire.$emit('AfterRemove');
              swal(
                'Sukses!',
                'Data berhasil disimpan.',
                'success'
                )
              this.$Progress.finish();
              this.form.reset();
            })
            .catch(() => {
              swal(
                'Gagal!',
                'Terjadi kesalahan',
                'warning'
                )
            })
          },
          loadPemeriksa(){
            axios.get("api/load-pemeriksa").then(({data}) => (this.pemeriksa = data));
          },
          removeTemp(id){
            this.$Progress.start();
            axios.post('api/hapus-temp/'+id).then(() => {
              Fire.$emit('AfterAdd');
              Fire.$emit('AfterCreate');
              Fire.$emit('AfterRemove');
              swal(
                'Sukses!',
                'Dihapus dari list.',
                'success'
                )
              this.$Progress.finish();
            })
            .catch(() => {
              swal(
                'Gagal!',
                'Terjadi kesalahan',
                'warning'
                )
            })
          },
          loadTemp(){
            axios.get("api/load-surat").then(({data}) => (this.temp = data));
          },
          newModal(){
            this.loadTemp();
            this.loadPemeriksa();
            $('#addNew').modal('show');
          },
          jmlSurat(){
            axios.get('api/hitung-surat').then((response)=>{this.surat = response.data})
          },
          addSurat(id){
            this.$Progress.start();
            axios.post('api/tambah-surat/'+id).then(() => {
              Fire.$emit('AfterAdd');
              Fire.$emit('AfterCreate');
              swal(
                'Sukses!',
                'Ditambahkan ke dalam list.',
                'success'
                )
              this.$Progress.finish();
            })
            .catch(() => {
              swal(
                'Gagal!',
                'Terjadi kesalahan',
                'warning'
                )
            })

          },
          ExportExcel(){
            window.location.href = '/excel/sdhbayar/export/';

          },
          printPdf(id){
            // window.location.href = '/pdf/kwitansi/print/'+id;
            window.open('/pdf/kwitansi/print/'+id, '_blank');
            // Fire.$emit('AfterPrint')
            Fire.$emit('AfterCreate');
          },
          updateCetak(id){
            axios.post("api/update-cetak/"+id);
          },
          loadPelanggan(){
            axios.get("api/sudah-bayar").then(({data}) => (this.pelanggan = data));
          },
        },
        created() {
          this.$Progress.start();
          this.loadPelanggan('');
          this.loadSurat();
          this.jmlSurat('');
          this.belumTerbit();
          Fire.$on('AfterCreate', () => {
            this.belumTerbit('');
          });
          Fire.$on('AfterAdd', () => {
            this.jmlSurat('');
          });
          Fire.$on('AfterRemove', () => {
            this.loadTemp('');
          });
          this.$Progress.finish();
        }
    }
</script>
<style media="screen">
.VueTables__date-filter {
border: 1px solid #ccc;
padding: 6px;
border-radius: 4px;
cursor: pointer;
}
</style>
