<template>
  <div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Sudah Diperiksa
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Sudah Diperiksa</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">

        <div class="box-body">
          <div class="col-md-12">

            <v-client-table :data="pelanggan" :columns="columns" :options="options">

              <a slot="aksi" :disabled="row.status_verifikasi == 1" slot-scope="{row}" class="btn btn-primary" href="#" @click="editPeriksa(row.no_pendaftaran)">
                <i class="fa fa-edit"></i>
              </a>

            </v-client-table>

          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center">
        </div>
         <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->


  </div>

  </div>

</template>

<script>
    export default {
        data(){
          return{
            detail: {},
            pelanggan: [],
            columns: ['aksi','no_surat', 'no_kwitansi', 'no_pendaftaran', 'nama','alamat','daya','kota', 'nama_wilayah', 'nama_area',
            'nama_subarea','tgl_bayar',
            ],
            options: {
              texts: {
                filterPlaceholder:"Cari data",
                filter:"Pencarian : ",
                filterBy:"Cari berdasarkan {column}",
                count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
              },
              headings: {
                aksi: 'Aksi',
                'no_surat': 'No Surat',
                'no_kwitansi': 'No Kwitansi',
                no_pendaftaran: 'No Pendaftaran',
                no_agendapln: 'No Agenda',
                nama: 'Nama',
                alamat: 'Alamat',
                daya: 'Daya',
                kota: 'Kota',
                nama_wilayah: 'Wilayah',
                nama_area: 'Area',
                nama_subarea: 'Sub Area',
                tgl_bayar: 'Tgl Pembayaran',

              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: { dropdown:false },
              columnsClasses: {
                aksi: 'h5 text-center',
                'no_surat': 'h5',
                'no_kwitansi': 'h5',
                no_pendaftaran: 'h5',
                no_agendapln: 'h5',
                nama: 'h5',
                alamat: 'h5',
                daya: 'h5',
                kota: 'h5',
                nama_wilayah: 'h5',
                nama_area: 'h5',
                nama_subarea: 'h5',
                tgl_bayar: 'h5',
              },
              sortable: ['no_surat', 'no_kwitansi', 'no_pendaftaran', 'nama','alamat','daya','kota', 'nama_wilayah', 'nama_area',
              'nama_subarea','nama_penyedia','sisawaktu','tgl_bayar',],
              filterable: ['no_surat', 'no_kwitansi', 'no_pendaftaran', 'nama','alamat','daya','kota', 'nama_wilayah', 'nama_area',
              'nama_subarea','nama_penyedia','sisawaktu','tgl_bayar',],
            },
          }
        },
        methods:{
          // periksa(no_pendaftaran){
          //   window.location.href = 'pemeriksaan/add/' + no_pendaftaran;
          // },
          // tampilModal(id){
          //   // this.form.reset();
          //   // this.showPelanggan();
          //   $('#tampilModal').modal('show');
          //   axios.get("api/konfirmasi-periksa/"+id).then(response => this.detail = response.data)
          // },
          editPeriksa(no_pendaftaran){
            this.$router.push({name: 'edit-pemeriksaan', params:{no_pendaftaran:no_pendaftaran}})
          },
          loadPelanggan(){
            axios.get("/api/sudah-diperiksa").then(({data}) => (this.pelanggan = data));
          },
          getResults(page = 1) {
              axios.get('/api/sudah-diperiksa?page=' + page)
              .then(response => {
                this.pelanggan = response.data;
              });
            },
        },
        created() {

          this.$Progress.start();
          this.loadPelanggan();
          this.$Progress.finish();
        }
    }
</script>
