<template>
  <div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Sudah Verifikasi
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Verifikasi</a></li>
        <li><a href="#"> Sudah Verifikasi</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">

        <div class="box-body">
          <div class="col-md-12">

            <v-client-table :data="sudahverif" :columns="columns" :options="options">

                <a slot="aksi" slot-scope="{row}" class="btn btn-default" href="#" @click="detailModal(row.id)">
                  <i class="fa fa-search blue"></i>
                </a>
                <a slot="edit" slot-scope="{row}" class="btn btn-default" href="#" @click="editverifikasi(row.no_pendaftaran)">
                  <i class="fa fa-edit blue"></i>
                </a>

              </v-client-table>

          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center">

        </div>
         <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->

    <!-- /.content -->
    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="addNewLabel">Detail Verifikasi</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <div class="row">
              <div class="modal-body col-md-12">
                <div class="col-md-12 text-right">
                  <a slot="aksi" class="btn btn-default" href="#" @click="printPdf(detail.no_pendaftaran)">
                    <i class="fa fa-print blue"></i> Cetak
                  </a>
                </div>
                <div class="form-group col-md-12">
                  <label for="">No Pendaftaran</label>
                  <input disabled type="text" :value="detail.no_pendaftaran" class="form-control blue">
                </div>
                <div class="form-group col-md-12">
                  <label for="">Pemeriksaan Dokumen</label>
                  <input disabled type="text" :value="detail.pemeriksaan_dokumen" class="form-control blue">
                </div>
                <div class="form-group col-md-12">
                  <label for="">Proteksi Terhadap Sentuh Langsung</label>
                  <input disabled type="text" :value="detail.proteksi_sentuh_langung" class="form-control blue">
                </div>
                <div class="form-group col-md-12">
                  <label for="">Pemeriksaan Penghantar</label>
                  <input disabled type="text" :value="detail.pemeriksaan_penghantar" class="form-control blue">
                </div>
                <div class="form-group col-md-12">
                  <label for="">Pemeriksaan PHB</label>
                  <input disabled type="text" :value="detail.pemeriksaan_phb" class="form-control blue">
                </div>
                <div class="form-group col-md-12">
                  <label for="">Pemeriksaan Elektroda</label>
                  <input disabled type="text" :value="detail.pemeriksaan_elektroda" class="form-control blue">
                </div>
                <div class="form-group col-md-12">
                  <label for="">Pemeriksaan Polaritas</label>
                  <input disabled type="text" :value="detail.pemeriksaan_polaritas" class="form-control blue">
                </div>
                <div class="form-group col-md-12">
                  <label for="">Pemeriksaan Pemasangan</label>
                  <input disabled type="text" :value="detail.pemeriksaan_pemasangan" class="form-control blue">
                </div>
                <div class="form-group col-md-12">
                  <label for="">Pemeriksaan SNI</label>
                  <input disabled type="text" :value="detail.pemeriksaan_sni" class="form-control blue">
                </div>
                <div class="form-group col-md-12">
                  <label for="">Pemeriksaan Kamar Mandi</label>
                  <input disabled type="text" :value="detail.pemeriksaan_kamar_mandi" class="form-control blue">
                </div>
                <div class="form-group col-md-12">
                  <label for="">Catatan</label>
                  <input disabled type="text" :value="detail.catatan" class="form-control blue">
                </div>
                <div class="form-group col-md-12">
                  <label for="">Hasil Pemeriksaan</label>
                  <input disabled type="text" :value="detail.hasil_pemeriksaan" class="form-control blue">
                </div>
                <div class="form-group col-md-12">
                  <label for="">Verifikator</label>
                  <input disabled type="text" :value="detail.hasil_pemeriksaan" class="form-control blue">
                </div>

            </div>
          </div>
            <div class="modal-footer" style="margin-right: 15px">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
            </div>

            </div>

        </div>
      </div>
    </div>



    </div>
  </div>

</template>

<script>
    export default {
        data(){
          return{
            editMode: false,
            sudahverif : [],
            detail: {},
            columns: [
              'aksi','edit','no_pendaftaran', 'nama', 'kota', 'nama_wilayah', 'nama_area', 'nama_subarea', 'no_lhpp', 'created_at','hasil_pemeriksaan'],

            options: {
              texts: {
                filterPlaceholder:"Cari data",
                filter:"Pencarian : ",
                filterBy:"Cari berdasarkan {column}",
                count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
              },
              headings: {
                aksi: 'Detail',
                edit: 'Edit',
                no_pendaftaran: 'No Pendaftaran',
                nama: 'Nama Pelanggan',
                kota: 'Kota',
                nama_wilayah: 'Wilayah',
                nama_area: 'Area',
                nama_subarea: 'Sub Area',
                no_lhpp: 'Nomor LHPP',
                created_at: 'Tanggal Verifikasi',
                hasil_pemeriksaan: 'Hasil Verifikasi',

              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: { dropdown:false },
              columnsClasses: {
                aksi: 'h5 text-center',
                edit: 'h5 text-center',
                no_pendaftaran: 'h5',
                nama: 'h5',
                kota: 'h5',
                nama_wilayah: 'h5',
                nama_area: 'h5',
                nama_subarea: 'h5',
                no_lhpp: 'h5',
                created_at: 'h5',
                hasil_pemeriksaan: 'h5',
              },
              sortable: ['no_pendaftaran', 'nama', 'kota', 'nama_wilayah', 'nama_area', 'nama_subarea', 'no_lhpp', 'nama_btl', 'created_at', 'hasil_pemeriksaan'],
              filterable: ['no_pendaftaran', 'nama', 'kota', 'nama_wilayah', 'nama_area', 'nama_subarea', 'no_lhpp', 'nama_btl', 'created_at', 'hasil_pemeriksaan'],
            },

          }
        },

        methods:{
          editverifikasi(no_pendaftaran){
            this.$router.push({name:'edit-verifikasi', params:{no_pendaftaran:no_pendaftaran}})
          },
          printPdf(no_pendaftaran){
            // window.location.href = '/pdf/verifikasi/print/'+no_pendaftaran;
            window.open('/pdf/verifikasi/print/'+no_pendaftaran, '_blank');
          },
          detailModal(id){
            axios.get('api/verifikasi/'+id).then(({data}) => (this.detail = data));
            $('#detailModal').modal('show');
          },
          loadSudahverif(){
            axios.get("api/sudah-verifikasi").then(({data}) => (this.sudahverif = data));
          },
        },
        created() {
         this.$Progress.start();
         this.loadSudahverif();
         this.$Progress.finish();
       }
    }
</script>
