<template>
  <div class="table-responsive">
    <div class="col-md-12">
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Belum Verifikasi
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"> Verifikasi</a></li>
        <li><a href="#"> Belum Verifikasi</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">

        <div class="box-body">
          <div class="col-md-12">

            <v-client-table :data="verifikasi" :columns="columns" :options="options">

                <a slot="aksi" slot-scope="{row}" href="#" @click="prosesverifikasi(row.no_pendaftaran)">
                  <button class="btn btn-default">Verifikasi</button>
                </a>

              </v-client-table>

          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center">

        </div>
         <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->


    </div>
  </div>

</template>

<script>
    export default {
        data(){
          return{
            editMode: false,
            verifikasi : [],
            columns: [
              'aksi','no_pendaftaran', 'nama', 'kota', 'nama_wilayah', 'nama_area', 'nama_subarea', 'no_lhpp', 'nama_btl'],

            options: {
              headings: {
                aksi: 'Aksi',
                no_pendaftaran: 'No Pendaftaran',
                nama: 'Nama Pelanggan',
                kota: 'Kota',
                nama_wilayah: 'Wilayah',
                nama_area: 'Area',
                nama_subarea: 'Sub Area',
                no_lhpp: 'Nomor LHPP',
                nama_btl: 'BTL',

              },
              texts: {
                filterPlaceholder:"Cari data",
                filter:"Pencarian : ",
                filterBy:"Cari berdasarkan {column}",
                count:"Menampilkan {from} ke {to} dari {count} data|{count} data|Satu data",
              },
              columnsDisplay: {},
              filterByColumn: true,
              pagination: { dropdown:false },
              columnsClasses: {
                aksi: 'h5 text-center',
                no_pendaftaran: 'h5',
                nama: 'h5',
                kota: 'h5',
                nama_wilayah: 'h5',
                nama_area: 'h5',
                nama_subarea: 'h5',
                no_lhpp: 'h5',
                nama_btl: 'h5',
              },
              sortable: ['no_pendaftaran', 'nama', 'kota', 'nama_wilayah', 'nama_area', 'nama_subarea', 'no_lhpp', 'nama_btl'],
              filterable: ['no_pendaftaran', 'nama', 'kota', 'nama_wilayah', 'nama_area', 'nama_subarea', 'no_lhpp', 'nama_btl'],
            },

          }
        },

        methods:{
          prosesverifikasi(no_pendaftaran){
            this.$router.push({name:'proses-verifikasi', params:{no_pendaftaran:no_pendaftaran}})
          },
          loadVerifikasi(){
            axios.get("api/verifikasi").then(({data}) => (this.verifikasi = data));
          },
        },
        created() {
         this.$Progress.start();
         this.loadVerifikasi();
         this.$Progress.finish();
       }
    }
</script>
